@model WorkOrderEMS.Models.MiscellaneousListModel
@{
    ViewBag.Title = "Miscellaneous List";
    //Layout = "~/Views/Shared/_ManagerLayout.cshtml";
    Layout = "~/Views/Shared/_NewAdminLayout.cshtml";

    long locationId = 0;
    long userType = 0;
    WorkOrderEMS.Models.eTracLoginModel ObjLogin = (WorkOrderEMS.Models.eTracLoginModel)Session["eTrac"];

    if (ObjLogin != null)
    {
        locationId = ObjLogin.LocationID;
        userType = ObjLogin.UserRoleId;
    }
}

@section scripts{
    <script type="text/javascript">
    var $_locationId = '@locationId';
    var $_userTypeId = '@userType';
    </script>
    <script src="~/GridListing/JqGridScript/MiscellaneousList/ListMiscellaneous.js"></script>
    <link href="~/Content/NewAdminContent/CSS/custom.css" rel="stylesheet" />

    @*<script type="text/javascript">
        $(window).bind('resize', function () {
            var width = $('#jqGrid_containerMasterMisc, #jqGrid_containerChildMisc').width();
            $('#tbl_MasterMiscellaneousList, #tbl_ChildMiscellaneousDetails').setGridWidth(width);
        });
        </script>*@
}

<style>
    #tbl_MasterMiscellaneousList td:nth-child(2) {
        cursor: pointer;
    }
</style>



<div class="content-body" style="min-height: 920px;">
    <div class="container-fluid">
        <div class="row page-titles mx-0 aos-init aos-animate" data-aos="fade-up">
            <div class="col-sm-6 p-md-0">
                <div class="welcome-text">
                    <h4>Expenses</h4>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="javascript:void(0)">Miscellaneous Expensive</a></li>
                        <li class="breadcrumb-item active"><a href="javascript:void(0)">Miscellaneous Expensive List</a></li>
                    </ol>
                </div>
            </div>
        </div>
        <div class="row">

            <div class="col-lg-6">
                <div class="card aos-init aos-animate mb-0" data-aos="fade-up">
                    <div class="card-header card-custom-padding border-radius-card-header">
                        <a href="@Url.Action("ListPreBillView", "Bill")">
                            <h4 class="card-title">Bills</h4>
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="card aos-init aos-animate mb-0" data-aos="fade-up">
                    <div class="card-header card-custom-padding border-radius-card-header">
                        <a href="@Url.Action("ViewMiscellaneous", "Miscellaneous")" data-oldDash="Yes">
                            <h4 class="card-title">Miscellaneous Expensive</h4>
                        </a>
                    </div>
                </div>
            </div>

        </div>
        <br />

        <div class="row">
            <div class="col-lg-12">
                <div class="card aos-init" data-aos="fade-up">
                   
                    <div class="card-header headerSize">
                        <div class="basic-form">

                            <input id="SearchText" name="SearchText" type="text" class="form-control input-rounded" placeholder="MISC Number">

                        </div>

                        <div class="material-switch pull-right m-t-10">
                            <input id="ViewAllLocation" name="onoffswitch2" type="checkbox" />
                            <label for="ViewAllLocation" class="label-success"></label>
                            <span class="toggle-text">View all Location</span>
                        </div>

                        @*<div class="onoffswitch2 float-right">
                            <input type="checkbox" name="onoffswitch2" class="onoffswitch2-checkbox" id="ViewAllLocation"><label for="ViewAllLocation" class="onoffswitch2-label"><span class="onoffswitch2-inner"></span><span class="onoffswitch2-switch"></span></label>
                        </div>*@


                    </div>
                   
                    <div class="card-body">
                        <div id="tbl_MasterMiscellaneousList" class="jsgrid">
                        </div>
                    </div>
                </div>



                <div class="card aos-init" data-aos="fade-up" id="miscDetailList">
                    <div class="card-header" style="height: 45px;">
                        <div class="card-header headerSize" style="height:45px;">
                            <div class="basic-form">
                                <div class="form-group">
                                    <input id="btnApprove" name="btnApprove" type="button" value="Approve" style="margin-top:18px;" class="form-control input-rounded">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div id="tbl_MasterMiscellaneousListdetail" class="jsgrid" style="position: relative; height: 400px; width: 100%;">
                        </div>
                        <div id="jsGrid" class="jsgrid"></div>
                        <div id="label"></div>
                    </div>

                </div>


            </div>
        </div>

    </div>
</div>

@*<div id="jqGrid_containerMasterMisc" style="width:98%;margin-left:16px;">
        <table id="tbl_MasterMiscellaneousList" border="0" cellpadding="0" cellspacing="0"></table>
        <div id="divMasterMiscellaneousListPager"></div>
    </div>
    <br />
    <br />
    <div id="jqGrid_containerChildMisc" style="width:98%;margin-left:16px;">
        <table id="tbl_ChildMiscellaneousDetails" border="0" cellpadding="0" cellspacing="0"></table>
        <div id="divChildMiscellaneousDetailsListPager"></div>
    </div>*@

<div id="myModelRejectMicellaneous" class="modal fade bs-example-modal-md">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Reject Miscellaneous</h4>
            </div>
            <div class="modal-body">
                <div class="form">
                    <div class="row">
                        <div class="form-group">
                            @Html.Label("Comment", htmlAttributes: new { @class = "control-label col-lg-2 star" })
                            <div class="col-lg-7 col-md-8 col-sm-8 col-xs-12">
                                @Html.TextBoxFor(model => model.Comment, new { @class = "form-control", @id = "CommentMiscellaneous", @placeholder = "Comment", @style = "border-radios:0px;" })
                                @Html.ValidationMessageFor(model => model.Comment, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-default bluebutton" onclick="RejectMiscAfterComment();" data-dismiss="modal">Ok</button>
            </div>
        </div>
    </div>
</div>








<div class="modal bs-example-modal-lg fade preview" id="myModalForMiscellaneousData" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg ">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="myModalLabel">Miscellaneous Details</h5>
                <button type="button" class="close" data-dismiss="modal">
                    <span>×</span>
                </button>

            </div>
            <div class="modal-body">


                <div class="" id="DivMiscDetailsIndex">
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label>Misc Id</label>
                                <div id="lblMiscId" class="form-control-static"></div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label>Invoice Amount</label>
                                <div id="lblInvoiceAmount" class="form-control-static"></div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group" id="divWoimg">
                                <label id="labelMiscImage">Misc Image</label>
                                <div id="lblMiscImage">

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label>Location Name</label>
                                <div id="lblLocationName" class="form-control-static"></div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label>Misc Date</label>
                                <div id="lblMiscDate" class="form-control-static"></div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group" id="divWoimg">
                                <label id="labelMiscImage">Vendor Name</label>
                                <div id="lblVendorName" class="form-control-static"></div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label>Comment</label>
                                <div id="lblComment" class="form-control-static"></div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label>User Name</label>
                                <div id="lblUserName" class="form-control-static"></div>
                            </div>
                        </div>

                    </div>


                </div>

            </div>
            <div class="modal-footer">
                <button data-dismiss="modal" class="btn btn-secondary bluebutton" style="border-radius:25px;width:90px;" id="btnCancelqwe">Close</button>
            </div>

        </div>
    </div>
</div>
<input type="hidden" id="MISId" name="MISId" />
<script src="~/Scripts/Search/Searching.js"></script>
