@*@model WorkOrderEMS.Models.UserModel*@
@{
    ViewBag.Title = "Create Client";
    Layout = "~/Views/Shared/_ManagerLayout.cshtml";

    var routeValues = HttpContext.Current.Request.RequestContext.RouteData.Values;
    string actionName = string.Empty;
    if (routeValues != null)
    {
        if (routeValues.ContainsKey("action"))
        { actionName = routeValues["action"].ToString(); }
    }
}

<style>
    .roundbutton {
        background: linear-gradient(to right,#0aa0cd,white);
        border-radius: 25px;
        width: 180px;
        font-size: 14px;
        font-weight: bold;
    }
    .multiselect-container > li > a > label.checkbox {
        margin-left: 15px;
    }
</style>
@using (Html.BeginForm("CreateNewClient", "Client", new { ActionName = ViewBag.ActionName }, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="panel panel-default">
            @*<div>
                    <label id="message" class="@ViewBag.AlertMessageClass"> @ViewBag.Message</label>
                </div>*@
            <div class="panel-heading" style="background:linear-gradient(#007ea4,white);">
                Personal Details
            </div>
   
            @{ViewBag.myModelprefixName = "UserModel."; ViewBag.ActionSection = "client";}
            @*@{ViewBag.myModelprefixName = "ClientModel."; ViewBag.ActionSection = "client"; }*@
            @Html.Partial("_myRegistration")
            <br />
            <div class="col-sm-offset-8">
                <button class="btn btn-default bluebutton roundbutton" type="submit">Save</button>
                <a href="~/GlobalAdmin" class="btn btn-default bluebutton roundbutton">Cancel</a>
                @*<a class="btn btn-default bluebutton" href="@System.Configuration.ConfigurationManager.AppSettings["hostingPrefix"]">Cancel</a>*@
                <div class="clearfix"></div>
            </div>
            <div class="marbottom"></div>
        </div>
    </div>
}
@section scripts{
    @Scripts.Render("~/bundles/jqueryval")

}
    