@model WorkOrderEMS.Models.VendorFacilityModel
@{
    ViewBag.Title = "Add Company Facility for company :"+ ViewBag.VendorName;
    Layout = "~/Views/Shared/_ManagerLayout.cshtml";

    long locationId = 0;
    long userType = 0;
    WorkOrderEMS.Models.eTracLoginModel ObjLogin = (WorkOrderEMS.Models.eTracLoginModel)Session["eTrac"];

    if (ObjLogin != null)
    {
        locationId = ObjLogin.LocationID;
        userType = ObjLogin.UserRoleId;
    }
    string Image = "~/Content/Images/ProjectLogo/no-profile-pic.jpg";
}
@section scripts{
    <script type="text/javascript">
    var $_locationId = '@locationId';
    var $_userTypeId = '@userType';
    var $_VendorID = '@ViewBag.VendorId';
    var $_VendorName = '@ViewBag.VendorName';
    var $_VendorStatus = "false";
    </script>
    <script type="text/javascript">
    $(window).bind('resize', function () {
        var width = $('#jqGrid_containerAddVendorFacility').width();
        $('#tbl_AllFacilityDetailsList').setGridWidth(width);
    });
    </script>
    <script src="~/GridListing/JqGridScript/CompanyList/ListCompanyProduct.js"></script>
}
    <link href="~/Content/eFleetVehicle/eFleetstyle.css" rel="stylesheet" />
@Html.AntiForgeryToken()
<div class="col-lg-12 col-md-12  col-sm-12  col-xs-12">
    <div class="panel panel-default">
        <div class="panel-heading">
            Add Facility
        </div>

        @using (Html.BeginForm("SaveVendorFacility", "VendorManagement", FormMethod.Post, new { enctype = "multipart/form-data", id = "msform" }))
        {
            @Html.HiddenFor(model => model.VendorId)
            <div class="row">
                <div class="panel-body">
                    <div class="form-horizontal">
                        <div class="form">
                            <div class="top-row">
                                <div class="field-wrap">
                                    <label id="lblVendorName">
                                        Vendor Name 
                                    </label>
                                    @Html.TextBoxFor(model => model.VendorName, new { @id = "VendorName", @readonly = "readonly",@style= "background-color:#EBEBE4" })
                                </div>
                            </div>
                            <br /><br /><br />
                            <div class="top-row">
                                <div class="field-wrap">
                                    <label id="lblProductServiceType">
                                        Type<span class="req">*</span>
                                    </label>
                                    @Html.DropDownListFor(model => model.ProductServiceType, new List<SelectListItem>
                                    {
                                       new SelectListItem() {Text = "--Select Type--", Value="0"},
                                       new SelectListItem() {Text = "Product", Value="1"},
                                       new SelectListItem() {Text = "Service", Value="2"},
                                    }, new { @id = "ProductServiceType" })
                                    @Html.ValidationMessageFor(model => model.ProductServiceType)
                                </div>
                                <div class="field-wrap">
                                    <label>
                                        Product/Service Name  <span class="req">*</span>
                                    </label>
                                    @Html.TextBoxFor(model => model.ProductServiceName, null, new { @id = "ProductServiceName" })
                                    @Html.ValidationMessageFor(model => model.ProductServiceName)
                                </div>
                            </div>

                            <div class="top-row">
                                <div class="field-wrap">
                                    <label>
                                      $  Unit Cost<span class="req">*</span>
                                    </label>
                                    @Html.TextBoxFor(model => model.UnitCost, null, new { @id = "UnitCost"})
                                    @Html.ValidationMessageFor(model => model.UnitCost)
                                </div>
                                <div class="field-wrap">
                                    <label>
                                       % Tax  <span class="req">*</span>
                                    </label>
                                    @Html.TextBoxFor(model => model.Tax, null, new { @id = "Tax"})
                                    @Html.ValidationMessageFor(model => model.Tax)
                                </div>
                            </div>

                            <div class="top-row">
                                <div class="field-wrap">
                                    <label id="lblCostCode">
                                        Costcode<span class="req">*</span>
                                    </label>
                                    @if (ViewBag.CostCodeList != null)
                                    {
                                        {@Html.DropDownListFor(model => model.Costcode, new SelectList(ViewBag.CostCodeList, "CostCodeId", "CostCodeName"), "--Select Cost Code--", new { @id = "CostCode" })}
                                }
                                else
                                {<select id="CostCodeData"><option value="-1">@ViewBag.CostCodeList</option></select>}
                                    @Html.ValidationMessageFor(model => model.Costcode)
                                </div>
                                <div class="field-wrap">
                                    <label>
                                        Product Image  <span class="req">*</span>
                                    </label>
                                    @if (Model.ProductImage != null)
                                    {
                                        Image = Model.ProductImage + "ProductImage";
                                    }
                                    <img id='imgFacilityProductImage' name='imgVehicleImage' src="@Url.Content(Image)"
                                         class="img-rounded" alt="No Image " style="width:110px; height:110px; margin-left:55%;">
                                    <input id="fileuploadAdddProduct" type="file" style="margin-left:auto;" name="VendorFacilityModel.ProductImageFile" />
                                    @Html.ValidationMessageFor(model => model.ProductImage)
                                </div>
                            </div>
                        </div>
                    </div>
                    <input type="Submit" name="Save" class="btn btn-default pull-right" id="SaveFacilityProduct" style="border-radius:25px;width:110px;" value="Save Product" />
                    <input type="button" onclick="location.href='@Url.Action("CompanyList", "VendorManagement")'" class="btn btn-default bluebutton pull-right marginright10 marginbottom10 Lmar10" formnovalidate="formnovalidate" value="Cancel" style="border-radius:25px;width:90px;" />
                </div>
            </div>
        }
    </div>
</div>
<br />
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-bottom:25px;">
    <div id="jqGrid_containerAddVendorFacility">
        <table id="tbl_AllFacilityDetailsList" border="0" cellpadding="0" cellspacing="0"></table>
        <div id="divAllFacilityDetailsListPager"></div>
    </div>
</div>
<script src="~/Scripts/eFleetVehicle/reg.js"></script>
<script>
    $(document).ready(function () {
        $('#VendorName').val($_VendorName);
        $('#lblVendorName').addClass('active highlight');
        
    })
    $(function () {
        $("#fileuploadAdddProduct").change(function () {
            var FType = ["jpg", "JPG", "PNG", "png", "JPEG", "jpeg", "gif", "GIF"]
            if (this.files && this.files[0]) {
                var LoadImage = false;
                var FileExtension = this.value.split(".")[1];
                for (var v = 0; v < FType.length; v++) {
                    if (FType[v] == FileExtension) {
                        LoadImage = true;
                    }
                }
                if (LoadImage == true) {
                    var reader = new FileReader();
                    reader.onload = function (e) {
                        $('#imgFacilityProductImage')
                            .attr('src', e.target.result)
                            .width(150)
                            .height(150);

                    };
                    reader.readAsDataURL(this.files[0]);
                } else {
                    $(this).val("");
                    alert("Please select image to upload!")
                    return false;
                }
            }
        });
    });
</script>