@model WorkOrderEMS.Models.VendorFacilityModel
@{
    ViewBag.Title = "Add Company Facility for company :" + ViewBag.VendorName;
    //Layout = "~/Views/Shared/_ManagerLayout.cshtml";
    Layout = "~/Views/Shared/_NewAdminLayout.cshtml";
    long locationId = 0;
    long userType = 0;
    WorkOrderEMS.Models.eTracLoginModel ObjLogin = (WorkOrderEMS.Models.eTracLoginModel)Session["eTrac"];

    if (ObjLogin != null)
    {
        locationId = ObjLogin.LocationID;
        userType = ObjLogin.UserRoleId;
    }
    string Image = "~/Content/Images/ProjectLogo/no-profile-pic.jpg";
}
@section scripts{
    <script type="text/javascript">
    var $_locationId = '@locationId';
    var $_userTypeId = '@userType';
    var $_VendorID = '@ViewBag.VendorId';
    var $_VendorName = '@ViewBag.VendorName';
    var $_VendorStatus = "false";
    </script>
    @*<script type="text/javascript">
            $(window).bind('resize', function () {
                var width = $('#jqGrid_containerAddVendorFacility').width();
                $('#tbl_AllFacilityDetailsList').setGridWidth(width);
            });
        </script>*@
    <script src="~/GridListing/JqGridScript/CompanyList/ListCompanyProduct.js"></script>
}

<style>
        .m-0{
        margin:0px !important;
    }
    .jsgrid-grid-body {
        height: 100% !important;
    }

    .form-control {
        border: 1px solid #a0b3b0 !important;
    }

    label .req {
        margin: 2px;
        color: #ed2f35;
    }

    .headerSize {
        height: 36px;
    }
</style>
@*<link href="~/Content/eFleetVehicle/eFleetstyle.css" rel="stylesheet" />*@
@Html.AntiForgeryToken()
<br />
<div class="content-body">
    <div class="container-fluid">
        <!-- row -->
        <div class="row">
            <div class="col-xl-12 col-xxl-12">
                <div class="card aos-init aos-animate" data-aos="fade-up">
                    <div class="card-header headerSize">
                        <h4 class="card-title m-0" style="color:white;"><strong> Add Products/Services</strong></h4>
                    </div>
                    <div class="card-body"> 
                        @using (Html.BeginForm("SaveVendorFacility", "VendorManagement", FormMethod.Post, new { enctype = "multipart/form-data", id = "msform" }))
                        {
                            @Html.HiddenFor(model => model.VendorId)

                            @Html.ValidationSummary(true)


                            <div class="panel panel-primary setup-content">
                                <div class="basic-form">

                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label" for="VendorName">Vendor Name<span class="req">*</span></label>
                                        <div class="col-sm-4">
                                            @Html.TextBoxFor(model => model.VendorName, new { @id = "VendorName", @readonly = "readonly", @class = "form-control input-rounded", @style = "background-color:#EBEBE4" })
                                            <div class="errorspace">
                                                @Html.ValidationMessageFor(model => model.VendorType)
                                            </div>
                                        </div>
                                        <label class="col-sm-2 col-form-label" for="Type">Type<span class="req">*</span></label>
                                        <div class="col-sm-4">
                                            @Html.DropDownListFor(model => model.ProductServiceType, new List<SelectListItem>
                                      {
                                          new SelectListItem() {Text = "--Select Type--", Value="0"},
                                         new SelectListItem() {Text = "Product", Value="1"},
                                       new SelectListItem() {Text = "Service", Value="2"},
                                        }, new { @id = "ProductServiceType", @class = "form-control input-rounded" })
                                            @Html.ValidationMessageFor(model => model.ProductServiceType)

                                        </div>
                                    </div>

                                </div>

                                <div class="basic-form">

                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label" for="VendorName"> Product/Service Name<span class="req">*</span></label>
                                        <div class="col-sm-4">
                                            @Html.TextBoxFor(model => model.ProductServiceName, null, new { @id = "ProductServiceName", @class = "form-control input-rounded" })
                                            @Html.ValidationMessageFor(model => model.ProductServiceName)
                                        </div>
                                        <label class="col-sm-2 col-form-label" for="Type">$ Unit Cost<span class="req">*</span></label>
                                        <div class="col-sm-4">
                                            @Html.TextBoxFor(model => model.UnitCost, null, new { @id = "UnitCost", @class = "form-control input-rounded" })
                                            @Html.ValidationMessageFor(model => model.UnitCost)
                                        </div>
                                    </div>

                                </div>
                                <div class="basic-form">

                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label" for="VendorName"> % Tax<span class="req">*</span></label>
                                        <div class="col-sm-4">
                                            @Html.TextBoxFor(model => model.Tax, null, new { @id = "Tax", @class = "form-control input-rounded" })
                                            @Html.ValidationMessageFor(model => model.Tax)
                                        </div>
                                        <label class="col-sm-2 col-form-label" for="Type">Costcode<span class="req">*</span></label>
                                        <div class="col-sm-4">
                                            @if (ViewBag.CostCodeList != null)
                                            {
                                                {@Html.DropDownListFor(model => model.Costcode, new SelectList(ViewBag.CostCodeList, "CostCodeId", "CostCodeName"), "--Select Cost Code--", new { @id = "CostCode", @class = "form-control input-rounded" })}
                                        }
                                        else
                                        {
                                            <select id="CostCodeData" class="form-control input-rounded"><option value="-1">@ViewBag.CostCodeList</option></select>
                                        }
                                            @Html.ValidationMessageFor(model => model.Costcode)
                                        </div>
                                    </div>

                                </div>

                                <div class="basic-form">

                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label" for="VendorName">Product Image<span class="req">*</span></label>
                                        <div class="col-sm-4">

                                            @if (Model.ProductImage != null)
                                            {
                                                Image = Model.ProductImage + "ProductImage";
                                            }
                                            @Html.TextBoxFor(m => m.ProductImageFile, new { id = "fileuploadAdddProduct", type = "file", @style = "margin-left:auto;" })
                                            <img id='imgFacilityProductImage' name='imgVehicleImage' src="@Url.Content(Image)"
                                                 class="img-rounded" alt="No Image " style="width:110px; height:110px; margin-left:55%;">
                                            <br />
                                            @Html.ValidationMessageFor(model => model.ProductImageFile)

                                        </div>

                                    </div>

                                </div>
                                <div class="clearfix"></div>
                                <input type="Submit" name="Save" class="btn btn-success pull-right" id="SaveFacilityProduct" style="border-radius:25px;width:110px;" value="Save Product" />
                                <input type="button" onclick="location.href='@Url.Action("CompanyList", "VendorManagement")'" class="btn btn-secondary bluebutton pull-right marginright10 marginbottom10 Lmar10" formnovalidate="formnovalidate" value="Cancel" style="border-radius:25px;width:90px;" />

                            </div>


                        }

                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="card aos-init" data-aos="fade-up">
                    <div class="card-header" style="height: 45px;">
                        <div class="card-header headerSize" style="height:45px;">

                            <div class="basic-form">
                                <div class="form-group m-0">
                                    <p class="m-0">List of Products/Services</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div id="tbl_AllFacilityDetailsList" class="jsgrid" style="position: relative; height: 400px; width: 100%;">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
 
<script src="~/Scripts/eFleetVehicle/reg.js"></script>
<script>
    $(document).ready(function () {
        $('#msform').submit(function () { 
             fn_showMaskloader('Please wait...'); 
            if (!$('#msform').valid()) {
                fn_hideMaskloader();
              return false;
            }
            fn_hideMaskloader();
                
              
            
        });
        $('#VendorName').val($_VendorName);
        $('#lblVendorName').addClass('active highlight');

    })
    $(function () {
        $("#fileuploadAdddProduct").change(function () {
            var allowedExtensions = /(\.jpg|\.png|\.jpeg|\.gif)$/i;
            var size = this.files[0].size;
            if (!allowedExtensions.exec($(this).val().toLowerCase())) {
                alert("Invalid file type");
                $("#imgFacilityProductImage").attr("src",'@Url.Content(Image)');
                $(this).val("");
                return false;
            }
            else if (size >= 4194304) {
                alert("Max file size 4 mb.");
                $(this).val("");
                return false;
            }
            var reader = new FileReader();
            reader.onload = function (e) {
                $('#imgFacilityProductImage')
                    .attr('src', e.target.result)
                    .width(150)
                    .height(150);

            };
            reader.readAsDataURL(this.files[0]);
        });
    });
</script>