@model WorkOrderEMS.Models.ApproveRejectVendorModel
@{
    ViewBag.Title = "Waiting Customers List";    

    var isRefresh = ViewBag.IsPageRefresh;
    if (isRefresh == true)
    {
        Layout = "~/Views/Shared/_NewAdminLayout.cshtml";
    }
    else
    {
        Layout = null;
    }
    long locationId = 0;
    long userType = 0;
    WorkOrderEMS.Models.eTracLoginModel ObjLogin = (WorkOrderEMS.Models.eTracLoginModel)Session["eTrac"];
    string loginUserName = "", loginUserEmail = "", loginUserProfile = "";
    if (ObjLogin != null)
    {
        locationId = ObjLogin.LocationID;
        userType = ObjLogin.UserRoleId;
        loginUserName = ObjLogin.FName + "'s";
        loginUserEmail = ObjLogin.Email;
        loginUserProfile = ObjLogin.UserProfile;
    }
}
@section scripts{
    <script type="text/javascript">
    var $_locationId = '@locationId';
    var $_userTypeId = '@userType';
    var $_VendorStatus = "false";
    </script>
}
<script src="https://www.amcharts.com/lib/4/core.js"></script>
<script src="https://www.amcharts.com/lib/4/charts.js"></script>
<script src="https://www.amcharts.com/lib/4/themes/animated.js"></script>
<script src="https://www.amcharts.com/lib/3/amcharts.js"></script>
<script src="https://www.amcharts.com/lib/3/serial.js"></script>
<link href="~/Content/NewAdminContent/VENDOR/jsgrid/css/jsgrid.min.css" rel="stylesheet" />
<link href="~/Content/NewAdminContent/VENDOR/jsgrid/css/jsgrid-theme.min.css" rel="stylesheet" />
<link href="~/Content/NewAdminContent/VENDOR/c3/css/c3.min.css" rel="stylesheet" />

<style>
    #chartdiv, #EmployeeCount1 {
        width: 100%;
        height: 250px;
    }

    .package {
        margin-top: 0px !important;
        display: inline-flex;
        justify-items: center;
        align-items: center;
        text-align: center;
    }

    label .req {
        margin: 2px;
        color: #ed2f35;
    }

    .form-control {
        border: 1px solid #a0b3b0 !important;
    }

    .jsgrid-grid-body {
        height: 100% !important;
    }

    .headerSize {
        height: 36px;
    }
</style>
<br />
<div class="content-body" style="min-height: 920px;">
    <!-- row -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-12 col-xxl-12">
                <div class="card aos-init aos-animate" data-aos="fade-up">
                    <div class="card-header headerSize">
                        <h4 class="card-title" style="color:white;"><strong>Waiting List of Customers</strong></h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-6">
            </div>
            <div class="col-lg-6">
                <a href="@Url.Action("ListCustomers", "CustomerManagement")" data-oldDash="Yes">
                    <div class="pricing_table_content mt-5" style="background-color: #3F8ADA;color:white;">
                        <p style="margin-top:-20px;font-size:20px;"><b> </b></p>
                        <div class="package" style="margin-top:-30px;"><i class="mdi mdi-account-check" style="color:white;font-size:30px;"></i>&nbsp;&nbsp;&nbsp;<b>Customer List</b></div>
                    </div>
                </a>
            </div>
        </div>        
        <br>
        <div class="row">
            <div class="col-lg-12">
                <div class="card aos-init" data-aos="fade-up">
                    <div class="card-header" style="height: 45px;">
                        <div class="card-header headerSize" style="height:45px;width:100%;padding:0px;">
                            <div class="basic-form">
                                <div class="form-group mb-0">
                                    <div class="row">
                                        <div class="col-md-1">
                                            <a href="javascript:void(0)"><span><i id="AddCustomer" class="mdi mdi-plus" style="vertical-align:bottom;    line-height: 31px; color:white;font-size:50px;"></i></span></a>
                                        </div>
                                        <div class="col-md-6">
                                            <input id="SearchText" class="inputSearch form-control input-rounded" placeholder="Search by Name,Address,Account No." style="width: 350px;" onkeyup="doSearch()" type="text">
                                        </div>
                                        <div class="col-md-4">
                                            <select id="CustomerType" style="width: 260px;" class="form-control input-rounded" onchange="doSearch()">
                                                <option selected value="All">Customer Type</option>
                                                <option value="C">Company</option>
                                                <option value="I">Individual</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div id="jsGrid-basic" class="jsgrid" style="position: relative; height: 400px; width: 100%;">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal bs-example-modal-lg fade preview" id="myModalForGetUnApprovedCustomerDetails" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg ">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="myModalLabel">Customer Details</h5>
                <button type="button" class="close" data-dismiss="modal">
                    <span>×</span>
                </button>
            </div>

            <div class="modal-body">
                <div id="divVendorDetailPreview" class="">
                    <div class="row">
                        <div class="col-lg-3">
                            <div class="form-group">
                                <label>First Name</label>
                                <div id="lblFirstName" class="form-control-static"></div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="form-group">
                                <label>Last Name</label>
                                <div id="lblLastName" class="form-control-static"></div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="form-group">
                                <label>Customer Type</label>
                                <div id="lblCustomerType" class="form-control-static"></div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-3">
                            <div class="form-group">
                                <label>Address</label>
                                <div id="lblAddress1" class="form-control-static"></div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="form-group">
                                <label>State</label>
                                <div id="lblState" class="form-control-static"></div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-3">
                            <div class="form-group">
                                <label>Mailing Address</label>
                                <div id="lblMailingAddress" class="form-control-static"></div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="form-group">
                                <label>Mailing State</label>
                                <div id="lblMailingState" class="form-control-static"></div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-3">
                            <div class="form-group">
                                <label>Last 4 Digit of DL #</label>
                                <div id="lblDLNo" class="form-control-static"></div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="form-group">
                                <label>Email</label>
                                <div id="lblEmail" class="form-control-static"></div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="form-group">
                                <label>Work Phone No.</label>
                                <div id="lblWorkPhoneNo" class="form-control-static"></div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-3">
                            <div class="form-group">
                                <label>Cell Phone No</label>
                                <div id="lblCellPhoneNo" class="form-control-static"></div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="form-group">
                                <label>Prefered Method of Comm.</label>
                                <div id="lblMethodOfCommunication" class="form-control-static"></div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="form-group">
                                <label>Parking Facility/Location</label>
                                <div id="lblParkingFacilityLocation" class="form-control-static"></div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-3">
                            <div class="form-group">
                                <label>Monthly Price</label>
                                <div id="lblMonthlyPrice" class="form-control-static"></div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label>Allow to send you text message regarding your account</label>
                                <div id="lblIsAllowToSendText" class="form-control-static"></div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div style="background-color:#0792bc;width:94%">
                            <center><p style="color:white;margin:8px 0!important;"><b>Customer Vehicle Details</b></p></center>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <table id="tblVehicleDetails" class="table" cellpadding="1" cellspacing="1" border="1" style="width:94%"></table>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label>Wolud you like to schedule an appoint to retrive monthly parking pass </label>
                                <div id="lblIsMonthlyAppointmentSchedule" class="form-control-static"></div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label>Schedule Appoint Date and Time </label>
                                <div id="lblScheduleAppointDate" class="form-control-static"></div>
                                <div id="lblScheduleAppointTime" class="form-control-static"></div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div style="background-color:#0792bc;width:94%">
                            <center><p style="color:white;margin:8px 0!important;"><b>Payment Details</b></p></center>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-lg-3">
                            <div class="form-group">
                                <label>Monthly Parking Paid for By</label>
                                <div id="lblIsMonthlyParkingPaidFor" class="form-control-static"></div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="form-group">
                                <label>Company Name</label>
                                <div id="lblCompanyName" class="form-control-static"></div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-9">
                            <div class="form-group">
                                <label>Would you like to invocie sent directly to Company &amp; You</label>
                                <div id="lblIsSendDirectInvoiceToCompany" class="form-control-static"></div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="form-group">
                                <label>Company Email</label>
                                <div id="lblCompanyEmail" class="form-control-static"></div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-3">
                            <div class="form-group">
                                <label>Method of Payment</label>
                                <div id="lblPaymentMethod" class="form-control-static"></div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="form-group">
                                <label>Account Number</label>
                                <div id="lblAccountNumber" class="form-control-static"></div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="form-group">
                                <label>Bank Name</label>
                                <div id="lblBankName" class="form-control-static"></div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-3">
                            <div class="form-group">
                                <label>IFSC</label>
                                <div id="lblIFSCcode" class="form-control-static"></div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="form-group">
                                <label>Routing No.</label>
                                <div id="lblBankRoutingNo" class="form-control-static"></div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-3">
                            <div class="form-group">
                                <label>Name as it appears on card</label>
                                <div id="lblCardHolderName" class="form-control-static"></div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="form-group">
                                <label>Address</label>
                                <div id="lblBankAddress" class="form-control-static"></div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="form-group">
                                <label>Card Number</label>
                                <div id="lblCardNumber" class="form-control-static"></div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-3">
                            <div class="form-group">
                                <label>Card Type</label>
                                <div id="lblCardType" class="form-control-static"></div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="form-group">
                                <label>Expiration Date</label>
                                <div id="lblCardExpirationDate" class="form-control-static"></div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-group">
                                <label>Sign up for automatic Payments</label>
                                <div id="lblIsSignupForAutomaticPayment" class="form-control-static"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary bluebutton text-right" style="border-radius:25px;width:90px;" onclick="return AppproveCustomer();" id="btnApproveData">Approve</button>
                <button class="btn btn-danger" onclick="return RejectCustomer();" style="border-radius:25px;width:90px;" id="btnRejectPO">Reject</button>
                <button data-dismiss="modal" class="btn btn-secondary" style="border-radius:25px;width:90px;" id="btnCancel">Cancel</button>
            </div>
        </div>
    </div>
</div>

<div class="modal bs-example-modal-lg fade preview" id="myModelApproveRejectCustomer" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg ">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Reject Customer</h5>
                <button type="button" class="close" data-dismiss="modal">
                    <span>×</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Comment<span class="req">*</span></label>
                    <div class="col-sm-4">
                        @Html.TextBoxFor(model => model.Comment, new { @class = "form-control", @id = "CommentCustomer", @placeholder = "Comment", @style = "border-radios:0px;" })
                        @*<span id="spn_valcomment" style="color:red"></span>*@
                        @Html.ValidationMessageFor(model => model.Comment, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary  bluebutton" onclick="RejectCustomerAfterComment();" style="border-radius:25px;width:90px;" data-dismiss="modal">Ok</button>
                <button data-dismiss="modal" class="btn btn-secondary" style="border-radius:25px;width:90px;" id="btnCancel">Cancel</button>
            </div>
        </div>
    </div>
</div>

<script src="~/GridListing/JqGridScript/CustomersWaitingList.js"></script>
<script>
    $(document).ready(function () {

    $.ajax({
        type: "GET",
        url: "@Url.Action("GetDashboardForVendorCount", "VendorManagement")",
        data: {},
        contentType: "application/json; charset=utf-8",
        dataType: "json",
        success: function (dataJSON) {

            am4core.ready(function () {

                // Themes begin
                am4core.useTheme(am4themes_animated);
                // Themes end

                // Create chart instance
                var chart = am4core.create("EmployeeCount1", am4charts.PieChart);

                // Add data
                chart.data = [{
                    "User": "Approved",
                    "Count": dataJSON.model.ApprovedVendorCount,
                }, {
                    "User": "Waiting",
                    "Count":dataJSON.model.WaitingVendorCount,
                }, {
                    "User": "Rejected",
                    "Count": dataJSON.model.RejectedVendorCount,
                }];

                // Add and configure Series
                var pieSeries = chart.series.push(new am4charts.PieSeries());
                pieSeries.dataFields.value = "Count";
                pieSeries.dataFields.category = "User";
                pieSeries.innerRadius = am4core.percent(50);
                pieSeries.ticks.template.disabled = true;
                pieSeries.labels.template.disabled = true;

                var rgm = new am4core.RadialGradientModifier();
                rgm.brightnesses.push(-0.8, -0.8, -0.5, 0, -0.5);
                pieSeries.slices.template.fillModifier = rgm;
                pieSeries.slices.template.strokeModifier = rgm;
                pieSeries.slices.template.strokeOpacity = 0.4;
                pieSeries.slices.template.strokeWidth = 0;

                chart.legend = new am4charts.Legend();
                chart.legend.position = "right";

            }); // end am4core.ready()
        }
    });

        var chartData = [];
        $.ajax({
            type: "GET",
            url: "@Url.Action("GetDashboardForLocationAllocaionVendorCount", "VendorManagement")",
            data: {},
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (_result) {
                $.each(_result.data, function (index, value)
                {
                    chartData.push(value);
                });
                AmCharts.makeChart("chartdiv", {
                    "theme": "none",
                    "type": "serial",
                    "startDuration": 7,
                    "dataProvider": chartData,
                    "valueAxes": [{
                        "position": "left",
                        "axisAlpha": 0,
                        "gridAlpha": 0
                    }],
                    "graphs": [{
                        "balloonText": "[[category]]: <b>[[value]]</b>",
                        "colorField": "colour",
                        "fillAlphas": 0.85,
                        "lineAlpha": 0.1,
                        "type": "column",
                        "topRadius": 1,
                        "valueField": "VendorCount"
                    }],
                    "depth3D": 40,
                    "angle": 30,
                    "chartCursor": {
                        "categoryBalloonEnabled": false,
                        "cursorAlpha": 0,
                        "zoomable": false
                    },
                    "categoryField": "LocationName",
                    "categoryAxis": {
                        "gridPosition": "start",
                        "axisAlpha": 1,
                        "gridAlpha": 0,
                        "labelRotation": 20,
                    },
                    "export": {
                        "enabled": true
                    }
                }, 0);
            }
        });
    });
</script>