
@{
    Layout = null;
    string hostingPrefix = System.Configuration.ConfigurationManager.AppSettings["hostingPrefix"];
    WorkOrderEMS.Models.eTracLoginModel ObjLogin = (WorkOrderEMS.Models.eTracLoginModel)Session["eTrac"];
    string loginUserName = "", loginUserEmail = "", loginUserContactNo = "", loginUserProfile = "";
    long loginUserType = 0;
    long locationId = 0;
    long UserId = 0;
    if (ObjLogin != null)
    {
        loginUserName = ObjLogin.FName + "'s";
        loginUserEmail = ObjLogin.Email;
        loginUserProfile = ObjLogin.UserProfile;
        loginUserType = ObjLogin.UserRoleId;
        locationId = ObjLogin.LocationID;
        UserId = ObjLogin.UserId;
    }
}
<!--**********************************
           Content body start
       ***********************************-->
<script src="~/Content/NewAdminContent/JQUERY/Charts/core.js"></script>
<script src="~/Content/NewAdminContent/JQUERY/Charts/charts.js"></script>
<script src="~/Content/NewAdminContent/JQUERY/Charts/material.js"></script>
<script src="~/Content/NewAdminContent/JQUERY/Charts/animated.js"></script>
<script src="~/Content/NewAdminContent/JQUERY/Charts/amchart3.js"></script>
<script src="~/Content/NewAdminContent/JQUERY/Charts/serial3.js"></script>
@*<script src="https://www.amcharts.com/lib/4/core.js"></script>
<script src="https://www.amcharts.com/lib/4/charts.js"></script>
<script src="https://www.amcharts.com/lib/4/themes/material.js"></script>
<script src="https://www.amcharts.com/lib/4/themes/animated.js"></script>
<script src="https://www.amcharts.com/lib/3/amcharts.js"></script>
<script src="https://www.amcharts.com/lib/3/serial.js"></script>*@
<link href="~/Content/NewAdminContent/VENDOR/jsgrid/css/jsgrid.min.css" rel="stylesheet" />
<link href="~/Content/NewAdminContent/VENDOR/jsgrid/css/jsgrid-theme.min.css" rel="stylesheet" />
<link href="~/Content/NewAdminContent/CSS/Common.css" rel="stylesheet" />
<link href="@Url.Content("~/Content/datepicker.css")" rel="stylesheet" />
<style>
    .addWhite {
        color: white;
    }

    .widthHeader {
        height: 40px;
    }

    .setLableDiv {
        margin-top: 7px;
    }
</style>
<div class="content-body">
    <!-- row -->
    <div class="container-fluid">
        <div class="row page-titles mx-0 mb-0 mb-md-3 mb-sm-3" data-aos="fade-up">
            <div class="col-sm-12 col-xxl-4 col-lg-4 col-md-12 col-12">
                <div class="welcome-text">
                    <h4>Hi, welcome back! @loginUserName</h4>
                    <p class="mb-0">eScan Dashboard</p>
                </div>
            </div>
            <div class="col-sm-8">
                <button type="button" id="CreateQRC" class="btn btn-primary pull-right glowbuttonActiveDeactive" style="border-radius: 35px;">Create QRC</button>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="card" data-aos="fade-up">
                    <div class="card-header widthHeader ">
                        <h4 class="card-title addWhite" style="color: white;"><b>QRC Count</b></h4>
                    </div>
                    <div class="card-body">
                        <div id="QRCCount"></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="card" data-aos="fade-up">
                    <div class="card-header widthHeader ">
                        <h4 class="card-title addWhite" style="color: white;"><b>Scan QRC</b></h4>
                    </div>
                    <div class="card-body">
                        <div id="ScanQRC"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12" id="OperationCreateQRCListDiv">
                <div class="card" data-aos="fade-up">
                    <div class="card-header" style="height: 45px;">
                        <h4 class="card-title addWhite dispayListQRCName" style="color: white;"><b>QRC List</b></h4>
                        <h4 class="card-title addWhite dispayCreateQRCName" style="display:none;color: white;"><b>Create QRC</b></h4>
                        <div class="onoffswitch2" style="margin-left: 997px;margin-top: 6px;"><input type="checkbox" name="onoffswitch2" class="onoffswitch2-checkbox" id="toggleQRCTesting"><label for="toggleQRCTesting" class="onoffswitch2-label"><span class="onoffswitch2-inner"></span><span class="onoffswitch2-switch"></span></label></div>
                    </div>
                    <div class="card-body dispayListQRCName" id="QRCList">
                        <div id="ListQRC"></div>
                    </div>
                    <div class="card-body createQRCForm" style="display:none;" id="QRCForm">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Display Data Modal-->
<div class="modal fade " id="myModalFORQR">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">QRC Item Details</h5>
                <button type="button" class="close" data-dismiss="modal">
                    <span>&times;</span>
                </button>
            </div>
            <div class="panel-body" style="margin-left: 40px;">
                <div id="tblToPrint" class="">
                    <div class="row">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">QRC Type :</label>
                            <div class="col-sm-3">
                                <div id="txtQrcType" class="setLableDiv"></div>
                            </div>
                            <label id="labelSpecialNotes" class="col-sm-3 col-form-label">QRC Name :</label>
                            <div class="col-sm-3">
                                <div id="qrcNameTxt" class="setLableDiv"></div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">QRC ID :</label>
                            <div class="col-sm-3">
                                <div id="lblQRCId" class="setLableDiv"></div>
                            </div>
                            <label id="labelSpecialNotes" class="col-sm-3 col-form-label">Special Notes :</label>
                            <div class="col-sm-4">
                                <div id="txtSpecialNotes" class="setLableDiv"></div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label id="VehicleType" class="col-sm-2 col-form-label">Vehicle Type :</label>
                            <div class="col-sm-4">
                                <div id="lblVehicleType" class="setLableDiv"></div>
                            </div>
                            <label id="MotorType" class="col-sm-2 col-form-label">Motor Type :</label>
                            <div class="col-sm-4">
                                <div id="lblMotorType" class="setLableDiv"></div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label id="Location" class="col-sm-2 col-form-label">Location :</label>
                            <div class="col-sm-4">
                                <div id="divLocation" class="setLableDiv"></div>
                            </div>
                            <label for="lblCreatedBy" class="col-sm-2 col-form-label">Created By :</label>
                            <div class="col-sm-4">
                                <div id="divCreatedBy" class="setLableDiv"></div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="lblCreatedOn" class="col-sm-2 col-form-label">Created On :</label>
                            <div class="col-sm-4">
                                <div id="divCreatedOn" class="setLableDiv"></div>
                            </div>
                            <label id="lblMake" for="lblMake" class="col-sm-2 col-form-label">Make :</label>
                            <div class="col-sm-4">
                                <div id="divMake" class="setLableDiv"></div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label id="lblMake" for="lblMake" class="col-sm-2 col-form-label">Make :</label>
                            <div class="col-sm-4">
                                <div id="divMake" class="setLableDiv"></div>
                            </div>
                            <label id="Model" class="col-sm-2 col-form-label">Model :</label>
                            <div class="col-sm-4">
                                <div id="txtModel" class="setLableDiv"></div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">QRC Code :</label>
                            <div class="col-sm-4">
                                <div id="container2">
                                    <canvas class="img-thumbnail"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="clear clearfix"></div>
                    <div class="modal-footer" style="background: white;">
                        <button type="button" class="btn btn-primary text-right" style="border-radius:35px;" onclick="return PrintDivIndexForLicence('tblToPrint');" data-dismiss="modal">Print QRC Details</button>
                        <button id="printQRC_btn" type="button" onclick="PrintQRCButton();" style="border-radius:35px;" class=" btn btn-primary" formnovalidate="formnovalidate">Print QRC</button>
                        <button id="btnCancelqwe" class="btn btn-default bluebutton" style="border-radius:35px;" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade  bd-example-modal-lg" @*data-backdrop="false"*@ id="ModalConfirumationQRCPreview" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog  modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Confirmation Preview QR-Code</h5>
                <button type="button" class="close" data-dismiss="modal">
                    <span>&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @*<span id="diverrormessage" class="text-danger"></span>*@
                <div id="divConfirumationPreview" class="">
                    @{
                        WorkOrderEMS.Models.PrintQRCModel MyPrintModel = null;
                        if (ViewBag.EncryptQRC != null)
                        {
                            MyPrintModel = ViewBag.QRCModel;
                        }
                    }
                    <div class="form-group row">
                        <div class="col-sm-8">
                            @if (MyPrintModel == null)
                            {
                                <div id="lblSizeCaption"></div>}
                            else
                            {
                                <div id="lblSizeCaption">@MyPrintModel.SizeCaption</div>
                            }
                        </div>
                    </div>
                    <div id="DivQRCIndex">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label" id="labelWorkRequestType">QRC Type :</label>
                            @if (MyPrintModel == null)
                            {
                                <div class="col-sm-3">
                                    <div id="lblQRCTYPE" class="form-control-static"></div>
                                </div>
                            }
                            else
                            { <div class="col-sm-3">
                                    <div id="lblQRCTYPE" class="form-control-static">@MyPrintModel.QRCTYPE</div>
                                </div>
                            }
                            <label class="col-sm-3 col-form-label">QRC Name :</label>
                            @if (MyPrintModel == null)
                            {
                                <div class="col-sm-3">
                                    <div id="lblQRC" class="form-control-static"></div>
                                </div>
                            }
                            else
                            {
                                <div class="col-sm-3">
                                    <div id="lblQRC" class="form-control-static">@MyPrintModel.QRCName</div>
                                </div>
                            }
                        </div>

                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label" id="labelWorkRequestType">QRC ID :</label>
                            @if (MyPrintModel == null)
                            {
                                <div class="col-sm-3">
                                    <div id="lblQRCId" class="form-control-static"></div>
                                </div>
                            }
                        </div>

                        <div class="form-group row VehicleTypeDisplay">
                            <label class="col-sm-3 col-form-label" id="labelMotorType">Motor Type :</label>
                            @if (MyPrintModel == null)
                            {
                                <div class="col-sm-3">
                                    <div id="lblMotorType" class="form-control-static"></div>
                                </div>
                            }
                            else
                            { <div class="col-sm-3">
                                    <div id="lblMotorType" class="form-control-static">@MyPrintModel.MotorType</div>
                                </div>
                            }
                            @if (MyPrintModel != null && MyPrintModel.VehicleType != null)
                            {
                                <div id="vehicleType">
                                    <label class="col-sm-3 col-form-label">Vehicle Type :</label>
                                    <div class="col-sm-3">
                                        <div id="lblVehicleType" class="form-control-static">@MyPrintModel.VehicleType</div>
                                    </div>
                                </div>
                            }
                        </div>

                        <div class="form-group row" id="specialnotes">
                            <label class="col-sm-3 col-form-label" id="lblspecialnotes">Special Notes :</label>
                            @if (MyPrintModel == null)
                            {
                                <div class="col-sm-3">
                                    <div id="lblSpecialNotes" class="form-control-static"></div>
                                </div>
                            }
                            else
                            { <div class="col-sm-3">
                                    <div id="lblSpecialNotes" class="form-control-static">@MyPrintModel.SpecialNotes</div>
                                </div>
                            }
                        </div>

                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Location :</label>
                            @if (MyPrintModel == null)
                            {
                                <div class="col-sm-3">
                                    <div id="lblLocationName" class="form-control-static"></div>
                                </div>
                            }
                            else
                            {
                                if (@Model.UpdateMode != null && @Model.UpdateMode == true)
                                {<div class="col-sm-3">
                                        <div id="lblLocationName" class="form-control-static">@Model.LocationName</div>
                                    </div>
                                }
                                else
                                {
                                    <div class="col-sm-3">
                                        <div id="lblLocationName" class="form-control-static">@MyPrintModel.Location</div>
                                    </div>
                                }
                            }
                            <div id="Vmake">
                                <label class="col-sm-3 col-form-label">Make :</label>
                                @if (MyPrintModel == null)
                                {
                                    <div class="col-sm-3">
                                        <div id="lblVmake" class="form-control-static"></div>
                                    </div>
                                }
                                else
                                {
                                    <div class="col-sm-3">
                                        <div id="lblVmake" class="form-control-static">@MyPrintModel.Make</div>
                                    </div>
                                }
                            </div>
                        </div>

                        <div class="form-group row">
                            <div id="Vmodel">
                                <label class="col-sm-3 col-form-label">Model :</label>
                                @if (MyPrintModel == null)
                                {
                                    <div class="col-sm-3">
                                        <div id="lblVmodel" class="form-control-static"></div>
                                    </div>
                                }
                                else
                                { <div class="col-sm-3">
                                        <div id="lblVmodel" class="form-control-static">@MyPrintModel.Model</div>
                                    </div>
                                }
                            </div>
                            <label class="col-sm-3 col-form-label">QRC Code :</label>

                            <div class="col-sm-3">
                                <div id="container4">
                                    <canvas style="width: 200px; height: 200px;"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer" style="background: white;">
                @if (ViewBag.UpdateMode != null && ViewBag.UpdateMode == true)
                {<button class="btn btn-primary" style="border-radius:35px;" type="submit">Update</button>}
                else
                {
                    <button type="button" class="btn btn-primary" id="SaveQRCData" style="border-radius:100px;border-radius:35px;">Finalize</button>
                }
                <button id="printQRCIndex" type="button" onclick="PrintDivIndex('printtable');" class="btn btn-primary" style="border-radius:35px;" formnovalidate="formnovalidate">Print QRC with details</button>
                <button id="printQRC_btn" type="button" onclick="PrintQRCButton();" class=" btn btn-primary bluebutton" style="border-radius:35px;" formnovalidate="formnovalidate">Print QRC</button>
                <button type="button" class="btn btn-secondary" id="close" style="border-radius:100px;" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<!--**********************************
    Content body end
***********************************-->
<script src="~/GridListing/JsGridScript/ListQRCList.js"></script>
<script src="~/Content/NewAdminContent/VENDOR/jsgrid/js/jsgrid.min.js"></script>
<script src="~/Content/NewAdminContent/JQUERY/clockPicker.js"></script>
<script src="@Url.Content("~/Scripts/bootstrap-datepicker.js")"></script>
<script>
am4core.ready(function() {

// Themes begin
am4core.useTheme(am4themes_material);
am4core.useTheme(am4themes_animated);
// Themes end

// Create chart instance
var chart = am4core.create("ScanQRC", am4charts.PieChart);

// Add data
chart.data = [{
    "Work Order": "Vehicle",
    "Count": 7//dataJSON.CountPanel[0].ManagerCount
}, {
    "Work Order": "Bathroom",
    "Count": 2
}, {
    "Work Order": "Trash Can",
    "Count": 5//dataJSON.CountPanel[0].EmpCount
}, {
    "Work Order": "Ticket Spitter",
    "Count": 4//dataJSON.CountPanel[0].ManagerCount
}];

// Add and configure Series
var pieSeries = chart.series.push(new am4charts.PieSeries());
pieSeries.dataFields.value = "Count";
pieSeries.dataFields.category = "Work Order";
pieSeries.innerRadius = am4core.percent(50);
pieSeries.ticks.template.disabled = true;
pieSeries.labels.template.disabled = true;

var rgm = new am4core.RadialGradientModifier();
rgm.brightnesses.push(-0.8, -0.8, -0.5, 0, - 0.5);
pieSeries.slices.template.fillModifier = rgm;
pieSeries.slices.template.strokeModifier = rgm;
pieSeries.slices.template.strokeOpacity = 0.4;
pieSeries.slices.template.strokeWidth = 0;

chart.legend = new am4charts.Legend();
chart.legend.position = "right";

}); // end am4core.ready()
</script>
<script>
    var chartDAR = AmCharts.makeChart("DARdiv", {
    "theme": "none",
    "type": "serial",
    "startDuration": 7,
    "dataProvider": [{
        "Cost Code": "Travel",
        "Budget": 4334,
        "color": "#1740AE"
    }, {
        "Cost Code": "Marketing",
        "Budget": 4000,
        "color": "#758DCB"
    }, {
        "Cost Code": "Software Development",
        "Budget": 4567,
        "color": "#456EDA"
    }, {
        "Cost Code": "Shipping and Delivery",
        "Budget": 2345,
        "color": "#1AA897"
    }, {
        "Cost Code": "Other Expenses",
        "Budget": 4354,
        "color": "#456EDA"
    }, {
        "Cost Code": "Other Travel",
        "Budget": 3466,
        "color": "#86E2E8"
    }],
    "valueAxes": [{
        "position": "left",
        "axisAlpha":0,
        "gridAlpha":0
    }],
    "graphs": [{
        "balloonText": "[[category]]: <b>[[value]]</b>",
        "colorField": "color",
        "fillAlphas": 0.85,
        "lineAlpha": 0.1,
        "type": "column",
        "topRadius":1,
        "valueField": "Budget"
    }],
    "depth3D": 40,
  "angle": 30,
    "chartCursor": {
        "categoryBalloonEnabled": false,
        "cursorAlpha": 0,
        "zoomable": false
    },
    "categoryField": "Cost Code",
    "categoryAxis": {
        "gridPosition": "start",
        "axisAlpha":1,
        "gridAlpha":0,
        "labelRotation": 20,
    },
    "export": {
    	"enabled": true
     }

}, 0);
</script>

<script>
    $(document).ready(function () {

        $('#FromDate,#ToDate').datepicker({
            format: "yyyy/mm/dd",
        });
        $('#Year').datepicker({
            format: "yyyy"
        });
        $(".createQRCForm").load('@Url.Action("Index", "QRCSetup")')
        $.ajax({
            type: "GET",
            url: "@Url.Action("GetDashboardHeadCount", "GlobalAdmin")",
            data: {},
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (jsondata) {
        debugger
        if (jsondata != null && jsondata != "" && jsondata.dataJson.trim() != "") {
            var dataJSON = JSON.parse(jsondata.dataJson);
            dataJSON.CountPanel[0].AdminCount;
            am4core.ready(function () {
                am4core.useTheme(am4themes_animated);
                var chartQRC = am4core.create("QRCCount", am4charts.PieChart);
                chartQRC.data = [{
                    "QRC": "Scanned QRC",
                    "Count": 20
                }, {
                    "QRC": "Generated QRC",
                    "Count": 5//dataJSON.CountPanel[0].EmpCount
                }, {
                    "QRC": "QRC Type",
                    "Count": 12//dataJSON.CountPanel[0].ManagerCount
                }];

                // Add and configure Series
                var pieSeries = chartQRC.series.push(new am4charts.PieSeries());
                pieSeries.dataFields.value = "Count";
                pieSeries.dataFields.category = "QRC";
                pieSeries.innerRadius = am4core.percent(50);
                pieSeries.ticks.template.disabled = true;
                pieSeries.labels.template.disabled = true;

                let rgm = new am4core.RadialGradientModifier();
                rgm.brightnesses.push(-0.8, -0.8, -0.5, 0, -0.5);
                pieSeries.slices.template.fillModifier = rgm;
                pieSeries.slices.template.strokeModifier = rgm;
                pieSeries.slices.template.strokeOpacity = 0.4;
                pieSeries.slices.template.strokeWidth = 0;

                chart.legend = new am4charts.Legend();
                chart.legend.position = "right";

            }); // end am4core.ready()
        }
    }
        });

        $("#CreateQRC").click(function () {
            $(".createQRCForm").load('@Url.Action("Index", "QRCSetup")')
            $("#toggleQRCTesting").prop("checked", true);
            $(".glowbuttonActiveDeactive").removeClass("butttonActive");
            $(this).addClass('butttonActive');
            $("#OperationCreateQRCListDiv").show();
            $('html,body').animate({
                scrollTop: $("#OperationCreateQRCListDiv").offset().top
            }, 'slow');
            $(".dispayListQRCName, #QRCList, #OperationDARListDiv").hide();
            $(".dispayCreateQRCName, .createQRCForm").show();
        });
        $("#toggleQRCTesting").change(function () {
            var value = $('#toggleQRCTesting').prop('checked') == true ? true : false;
            $(".createWOForm").hide();
            $("#OperationCreateListDiv").hide();
            if (value == true) {
                $(".dispayListQRCName").hide();
                $(".dispayCreateQRCName").show();
                $("#QRCForm").show();
                $("#ListQRC").jsGrid("loadData");
            }
            else {
                $("#QRCForm").hide();
                $(".dispayListQRCName").show();
                $(".dispayCreateQRCName").hide();
                $("#ListQRC").jsGrid("loadData");
            }
        });
    });
</script>
