@model WorkOrderEMS.Models.DemotionModel
<link href="@Url.Content("~/Content/datepicker.css")" rel="stylesheet" />
<link href="@Url.Content("~/Content/NewAdminContent/CSS/RadioButtonCSS.css")" rel="stylesheet" />
<style>
    .middle {
        text-align: center;
        background-color: #5aa5d9;
        margin-top: 13px;
        height: 28px;
    }
    .info {
        display: inline-block;
        margin: 10px;
    }

    .profile {
        display: inline-block;
    }

        .profile img {
            width: 60px;
            height: auto;
            border-radius: 50%;
            border: 1px solid #ddd;
        }
    .top {
        border: 1px solid #bbbbdb;
        padding: 9px 18px 8px 21px;
        background-image: linear-gradient(to right, #3588CD, #fff);
    }
</style>
<div>
    <div>
        <div class="top">
            <div class="profile">
                <img src="@Model.Image" />
            </div>
            <div class="info">
                <label style="margin-left:30px;">Employee Id</label><span style="color:black;">:&nbsp;&nbsp;&nbsp; @Model.EmpId</span>
                <label style="margin-left:092px">Name</label><span style="color:black;">:&nbsp;&nbsp;&nbsp; @Model.Name</span>
            </div>
        </div>
        <form id="SaveDemotionsEmployee">
            @*<div class="middle">
            </div>*@
            <div class="bottom-sec" style="margin-top: 28px;">
                <div class="basic-form">
                    <div class="form-group row">
                        <div class="col-sm-6">
                            @Html.TextBoxFor(model => model.EffectiveDate, new { @class = "form-control input-rounded",@id= "EffectiveDate", placeholder = "Effective Date", @readonly = "readonly" })

                        </div>
                        <div class="col-sm-6">
                            @Html.DropDownListFor(x => x.Position, new List<SelectListItem>
                                                                {
                            //new SelectListItem() {Text = "Select Position", Value="0"},
                                                                     new SelectListItem() {Text = "Exempt", Value="Y"},
                                                                     new SelectListItem() {Text = "Non Exempt", Value="N"},
                                                                }, new { @class = "form-control input-rounded" })
                           
                        </div>                  
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-2">
                            <label>Add Years</label>
                        </div>
                            <div class="col-sm-2">
                                <input type="radio" class="AddDate" name="AddDate" id="YesDate" value="1" /><label for="YesDate" class="radio">yes</label>
                            </div>
                            <div class="col-sm-2">
                                &nbsp;&nbsp;&nbsp;<input type="radio" name="AddDate" class="AddDate" id="NoDate" value="0" /><label for="NoDate" class="radio">No</label>
                            </div>
                            <div class="col-sm-6">
                                @Html.TextBoxFor(model => model.TempDate, new { @class = "form-control input-rounded", @id = "TempDate", placeholder = "Temp Date", @readonly = "readonly", @disable="disabled" })
                            </div>
                        </div>
                    </div>
            </div>
        </form>
    </div>
</div>
<script src="@Url.Content("~/Scripts/bootstrap-datepicker.js")"></script>

<script>
    $("#TempDate, #EffectiveDate").datepicker();
</script>