@model WorkOrderEMS.Models.POApproveRejectModel
@{
    ViewBag.Title = "PO List";
    // Layout = "~/Views/Shared/_ManagerLayout.cshtml";
    Layout = "~/Views/Shared/_NewAdminLayout.cshtml";
    long locationId = 0;
    long userType = 0;
    WorkOrderEMS.Models.eTracLoginModel ObjLogin = (WorkOrderEMS.Models.eTracLoginModel)Session["eTrac"];

    if (ObjLogin != null)
    {
        locationId = ObjLogin.LocationID;
        userType = ObjLogin.UserRoleId;
    }
}
@*@section scripts{
    <script type="text/javascript">
    var $_locationId = '@locationId';
    var $_userTypeId = '@userType';
    </script>*@
@*<style>
    .amcharts-chart-div {
        height:250px!important;
    }
</style>*@
<style>
    #chartdiv {
        width: 100%;
        height: 500px;
    }
</style>

<script src="~/GridListing/JqGridScript/ListAllPO.js"></script>
<script src="~/GridListing/JqGridScript/ListAllSelfCreatedPO.js"></script>
<link href="~/Content/NewAdminContent/CSS/custom.css" rel="stylesheet" />



<script src="https://www.amcharts.com/lib/4/core.js"></script>
<script src="https://www.amcharts.com/lib/4/charts.js"></script>
<script src="https://www.amcharts.com/lib/4/themes/animated.js"></script>
<script src="https://www.amcharts.com/lib/3/amcharts.js"></script>
<script src="https://www.amcharts.com/lib/3/serial.js"></script>
 
 
<div class="content-body">
    <!-- row -->
    <div class="container-fluid">

        <div class="row page-titles mx-0 aos-init aos-animate" data-aos="fade-up">
            <div class="col-sm-6 p-md-0">
                <div class="welcome-text">
                    <h4>PO</h4>
                    <ol class="breadcrumb">
                        @*<li class="breadcrumb-item"><a href="javascript:void(0)">PO</a></li>*@
                        <li class="breadcrumb-item active"><a href="javascript:void(0)">PO List</a></li>
                    </ol>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-3">
                <div class="card bg-success white-text card-custom-padding">
                    @if (Model!=null) 
                    {
                    <p class="text-center po-number">@Model.OpenPOCount</p>
                    }  
                 
                    <div class="po-headings">Number of Open POS</div>

                </div>
            </div>
            <div class="col-lg-3">
                <div class="card bg-warning white-text card-custom-padding">
                    @if (Model != null)
                    {
                        <p class="text-center po-number">@Model.UnauthorizePoCount</p>
                    }
                 
                    <div class="po-headings">Number of Unauthorize POS</div>

                </div>
            </div>


            <div class="col-lg-3">
                <div class="card bg-danger white-text card-custom-padding">

                    @if (Model != null)
                    {
                        <p class="text-center po-number">@Model.NotApprovedPoCount</p>
                    }
                    <div class="po-headings"> POS not Approved Timely</div>

                </div>
            </div>
            <div class="col-lg-3">
                <div class="card bg-success white-text card-custom-padding">

                    <p class="text-center po-number">3</p>
                    <div class="po-headings">Cost Codes Over Budget</div>

                </div>
            </div>

        </div>
        <br>
        



            <div class="col-lg-12">
                <div class="card aos-init aos-animate" data-aos="fade-up">
                    <div class="card-body">
                        <h4 class="card-title">YTD BUDGET VS. ACTUAL POS</h4>
                        
                            <div id="chartdiv"></div>
                             
                        
                    </div>
                </div>
            </div>




        
        <div class="row">
            <div class="col-lg-12">
                <div class="card aos-init" data-aos="fade-up">
                    <div class="card-header headerSize">
                        <div class="row page-titles mb-0 pl-0 pt-0 pb-0" style="width:100%;">
                            <div class="col-sm-12 col-xxl-5 col-lg-5 col-md-5 col-12">
                                <div class="row">
                                    <div class="col-sm-12 col-xxl-6 col-lg-6 col-md-6 col-12">
                                        <select id="ApproveData" class="form-control input-rounded">
                                            <option value="W">Not Approved</option>
                                            <option value="Y">Approved PO</option>
                                        </select>
                                    </div>

                                    <div class="col-sm-12 col-xxl-6 col-lg-6 col-md-6 col-12">
                                        <input id="SearchText" class="inputSearch form-control input-rounded" placeholder="Serach By PO Number" style="width: 260px;" onkeyup="doSearch()" type="text">
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-12 col-xxl-7 col-lg-7 col-md-7 col-12 pr-0">
                                <div class="row">
                                    <div class="col-xl-10 col-lg-10 col-md-9 col-sm-6 col-12 pr-0">

                                        <div class="material-switch pull-right m-t-10">
                                            <input id="ViewAllLocation" name="onoffswitch2" type="checkbox" />
                                            <label for="ViewAllLocation" class="label-success"></label>
                                            <span class="toggle-text">View all Location</span>
                                        </div>

                                        @*<div class="form-group mb-0">
                                                <div class="onoffswitch2 m-0">
                                                    <input type="checkbox" name="onoffswitch2" class="onoffswitch2-checkbox" id="ViewAllLocation"><label for="ViewAllLocation" class="onoffswitch2-label"><span class="onoffswitch2-inner"></span><span class="onoffswitch2-switch"></span></label>
                                                </div>

                                            </div>*@
                                    </div>

                                    <div class="col-xl-2 col-lg-2 col-md-3 col-sm-6 col-12 pr-0 pl-0 text-right">
                                        <a href="@Url.Action("index","POTypeData")" id="AddCompany" class="btn btn-rounded btn-success"><span class="btn-icon-left text-info"><i class="fa fa-plus color-info"></i></span> Add</a>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="card-body">
                        <div id="tbl_AllPOList" class="jsgrid">

                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card aos-init" data-aos="fade-up">

                                <div class="card-header headerSize">
                                    <div class="basic-form">
                                        <div class="form-group mb-0">
                                            <div class="row">

                                                <div class="col-md-5">
                                                    <input id="SearchTextForList2" class="inputSearch form-control input-rounded" placeholder="Serach By PO Number" onkeyup="doSearchforsecondList()" style="width: 260px;" type="text">
                                                </div>

                                            </div>

                                        </div>

                                    </div>
                                </div>

                                <div class="card-body">
                                    <table id="tbl_AllSelfPOList" class="jsgrid"></table>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div>

                    </div>
                </div>
            </div>

        </div>
    </div>

</div>



@*<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

    </div>*@
<br />
<div class="modal bs-example-modal-lg fade preview" id="myModalForGetPODetails" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg ">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="myModalLabel">PO Details</h5>
                <button type="button" class="close" data-dismiss="modal">
                    <span>×</span>
                </button>
            </div>

            <div class="modal-body">

                <div id="divDetailPreview" class="">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>PO ID</label>
                                <div id="lblPOId" class="form-control-static"></div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>PO Type</label>
                                <div id="lblPOType" class="form-control-static"></div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>Company Name</label>
                                <div id="lblCompanyName" class="form-control-static"></div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>PO Status</label>
                                <div id="lblPOStatus" class="form-control-static"></div>
                            </div>
                        </div>

                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>Location Name</label>
                                <div id="lblLocationName" class="form-control-static"></div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>PO Date</label>
                                <div id="lblPODate" class="form-control-static"></div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>Delivery Date</label>
                                <div id="lblDeliveryDate" class="form-control-static"></div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>Grand Total</label>
                                <div id="lblTotal" class="form-control-static"></div>
                            </div>
                        </div>
                    </div>

                    <br />


                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <table id="records_table" class="table table-bordered table-responsive-sm">
                                <tr style="background-color:#0792bc; color:#ffffff;">
                                    <th>Cost Code</th>
                                    <th>Description</th>
                                    <th>Unit Price</th>
                                    <th>Quantity</th>
                                    <th>Total</th>
                                    <th>Tax</th>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary btn-rounded m-l-10-btn" onclick="return AppprovePO();" id="btnApproveData">Approve</button>
                <button class="btn btn-danger btn-rounded m-l-10-btn" onclick="return RejectPO();" id="btnRejectPO">Reject</button>
                <button data-dismiss="modal" class="btn btn-secondary btn-rounded" id="btnCancel">Cancel</button>
            </div>

        </div>
    </div>
</div>



@*<div class="modal bs-example-modal-lg fade preview" id="myModalForGetPODetails" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg ">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">X</span></button>
                    <h4 class="modal-title" id="myModalLabel">PO Details</h4>
                </div>
                <div class="modal-body">
                    <div id="divDetailPreview" class="">
                        <div class="row">
                            <div class="" id="DivPODetailsIndex">
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                    <div class="form-group">
                                        <label>PO ID</label>
                                        <div id="lblPOId" class="form-control-static"></div>
                                    </div>
                                    <div class="form-group">
                                        <label>PO Type</label>
                                        <div id="lblPOType" class="form-control-static"></div>
                                    </div>
                                    <div class="form-group">
                                        <label>Company Name</label>
                                        <div id="lblCompanyName" class="form-control-static"></div>
                                    </div>
                                    <div class="form-group">
                                        <label>PO Status</label>
                                        <div id="lblPOStatus" class="form-control-static"></div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                    <div class="form-group">
                                        <label>Location Name</label>
                                        <div id="lblLocationName" class="form-control-static"></div>
                                    </div>
                                    <div class="form-group">
                                        <label>PO Date</label>
                                        <div id="lblPODate" class="form-control-static"></div>
                                    </div>
                                    <div class="form-group">
                                        <label>Delivery Date</label>
                                        <div id="lblDeliveryDate" class="form-control-static"></div>
                                    </div>
                                    <div class="form-group">
                                        <label>Grand Total</label>
                                        <div id="lblTotal" class="form-control-static"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <table id="records_table" class="table" cellpadding="1" cellspacing="1" border="1">
                                    <tr style="background-color:#0792bc;">
                                        <th style="width:150px">Cost Code</th>
                                        <th style="width:40px">Description</th>
                                        <th style="width:150px">Unit Price</th>
                                        <th style="width:150px">Quantity</th>
                                        <th style="width:40px">Total</th>
                                        <th style="width:40px">Tax</th>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div><br /><br />
                <div class="panel-footer">
                    <div class="text-right">
                        <button type="button" class="btn btn-default bluebutton text-right" onclick="return AppprovePO();" id="btnApproveData">Approve</button>
                        <button class="btn btn-danger" onclick="return RejectPO();" id="btnRejectPO">Reject</button>
                        <button data-dismiss="modal" class="btn btn-default" id="btnCancel">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>*@




<div class="modal bs-example-modal-lg fade preview" id="myModelApproveReject" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg ">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Reject PO</h5>
                <button type="button" class="close" data-dismiss="modal">
                    <span>×</span>
                </button>
            </div>

            <div class="modal-body">
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Comment<span class="req">*</span></label>
                    <div class="col-sm-4">
                        @Html.TextBoxFor(model => model.Comment, new { @class = "form-control", @id = "CommentPO", @placeholder = "Comment", @style = "border-radios:0px;" })
                        @Html.ValidationMessageFor(model => model.Comment, "", new { @class = "text-danger" })

                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary   bluebutton" onclick="RejectPOAfterCommentPO();" data-dismiss="modal">Ok</button>
                <button data-dismiss="modal" class="btn btn-secondary" style="border-radius:25px;width:90px;" id="btnCancel">Cancel</button>

            </div>

        </div>
    </div>
</div>
<script>
   var  chartData =[];
         $.ajax({
        type: "GET",
        url: "@Url.Action("GetBudgetDetailsForPODashboard", "POTypeData")",
        data: {},
        contentType: "application/json; charset=utf-8",
        dataType: "json",
             success: function (_result) {
                 $.each(_result.data, function (index, value)
                 {
                     chartData.push(value);

                  });

          AmCharts.makeChart("chartdiv", {
        "theme": "none",
        "type": "serial",
        "startDuration": 7,
          "dataProvider":chartData,


        "valueAxes": [{
            "position": "left",
            "axisAlpha": 0,
            "gridAlpha": 0
        }],
        "graphs": [{
            "balloonText": "[[category]]: <b>[[value]]</b>",
            "colorField": "colour",
            "fillAlphas": 0.85,
            "lineAlpha": 0.1,
            "type": "column",
            "topRadius": 1,
            "valueField": "BudgetAmount"
        }],
        "depth3D": 40,
        "angle": 30,
        "chartCursor": {
            "categoryBalloonEnabled": false,
            "cursorAlpha": 0,
            "zoomable": false
        },
        "categoryField": "Years",
        "categoryAxis": {
            "gridPosition": "start",
            "axisAlpha": 1,
            "gridAlpha": 0,
            "labelRotation": 20,
        },
        "export": {
            "enabled": true
        }

    }, 0);




    }
    });
    
</script>