@model WorkOrderEMS.Models.CostCodeModel
@{
    ViewBag.Title = "Cost Code List";
    Layout = "~/Views/Shared/_ManagerLayout.cshtml";

    long locationId = 0;
    long userType = 0;
    WorkOrderEMS.Models.eTracLoginModel ObjLogin = (WorkOrderEMS.Models.eTracLoginModel)Session["eTrac"];

    if (ObjLogin != null)
    {
        locationId = ObjLogin.LocationID;
        userType = ObjLogin.UserRoleId;
    }
}
@section scripts{
    <script type="text/javascript">
    var $_locationId = '@locationId';
    var $_userTypeId = '@userType';
    </script>
    <script src="~/Areas/AdminSection/GridList/ListCostCode.js"></script>
    <script type="text/javascript">
    $(window).bind('resize', function () {
        var width = $('#jqGrid_container, #jqGrid_containerForSubCostCode').width();
        $('#tbl_CostCodeList, #tbl_SubCostCodeDetails').setGridWidth(width);
    });
    </script>
}
    <style>
        #tbl_CostCodeList td:nth-child(2) {
            cursor: pointer;
        }

</style>
    <div class="col-lg-12 col-md-12  col-sm-12  col-xs-12">
        <div id="jqGrid_container">
            <table id="tbl_CostCodeList" border="0" cellpadding="0" cellspacing="0"></table>
            <div id="divCostCodeListPager"></div>
        </div>
    </div>
<br /><br />
<div class="col-lg-12 col-md-12  col-sm-12  col-xs-12" style="padding-top:20px;">
    <div id="jqGrid_containerForSubCostCode">
        <table id="tbl_SubCostCodeDetails" border="0" cellpadding="0" cellspacing="0"></table>
        <div id="divSubCostDetailsListPager"></div>
    </div>
</div>
    <!--Created by: Ashwajit Bansod,
        Created date : July-17-2018,
        Created For: To create a cost code form to add cost code-->
    <div class="modal fade preview" id="myModalForCostCode" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" style="width:40%">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">X</span></button>
                    <h4 class="modal-title" id="myModalLabel">Add Cost Code</h4>
                </div>
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)
                @using (Html.BeginForm("SaveCostCode", "CostCode", FormMethod.Post, new { enctype = "multipart/form-data", @id = "Driver_form" }))
                {
                    @Html.HiddenFor(model => model.LocationId);
                    <div class="modal-body">
                        <div id="divDetailPreview" class="">
                            <div class="row">
                                <div class="" id="DivCostCodeDetailsIndex">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-lg-4 star" })
                                        <div class="col-lg-7 col-md-8 col-sm-8 col-xs-12">
                                            @Html.TextBoxFor(model => model.Description, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="" id="DivCostCodeDetailsIndex">
                                    <div class="form-group">
                                        @Html.Label("Category List", htmlAttributes: new { @class = "control-label col-lg-4 star" })
                                        <div class="col-lg-7 col-md-8 col-sm-8 col-xs-12">
                                            @Html.DropDownListFor(model => model.CategoryList, new SelectList(ViewBag.CategoryList, ViewBag.CategoryList), "--Select Category--", new { @id = "CategoryList", @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.CategoryList, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="" id="DivCostCodeDetailsIndex">
                                    <div class="form-group">
                                        @Html.Label("Sub Category List", htmlAttributes: new { @class = "control-label col-lg-4 star" })
                                        <div class="col-lg-7 col-md-8 col-sm-8 col-xs-12">
                                            <select id="ddlSubCategory" name="CatagoryValue" class="ddlSubCategory form-control"><option>--Select Sub Category--</option></select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <br /><br />
                    <div class="panel-footer">
                        <div class="text-right">
                            @*<button type="button" class="btn btn-default bluebutton text-right" onclick="return PrintDivForVehicleDetails('DivVehicleDetailsIndex');" data-dismiss="modal">Print Details</button>*@
                            <button data-dismiss="modal" class="btn btn-default" id="btnCancelqwe">Close</button>
                            <input type="submit" class="btn btn-primary" id="btnSaveForCostCode" value="Save" />
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>

    <!--Created by: Ashwajit Bansod,
        Created date : July-17-2018,
        Created For: To create a Sub cost code form to add Sub cost code as per Master cost code -->
    <div class="modal fade preview" id="myModalForSubCostCode" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" style="width:40%">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">X</span></button>
                    <h4 class="modal-title" id="myModalLabel">Add Sub Cost Code</h4>
                </div>
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)
                @using (Html.BeginForm("SaveCostCode", "CostCode", FormMethod.Post, new { enctype = "multipart/form-data", @id = "Driver_form" }))
                {
                    @Html.HiddenFor(model => model.LocationId);
                    @Html.HiddenFor(model => model.CostCode)
                    <div class="modal-body">
                        <div id="divDetailPreview" class="">
                            <div class="row">
                                <div class="" id="DivCostCodeDetailsIndex">
                                    @*<div class="form-group">
                    @Html.LabelFor(model => model.CostCode, htmlAttributes: new { @class = "control-label col-lg-4 star" })
                    <div class="col-lg-7 col-md-8 col-sm-8 col-xs-12">
                        @Html.TextBoxFor(model => model.CostCode, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.CostCode, "", new { @class = "text-danger" })
                    </div>
                </div>*@
                                    <br /><br /><br />
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-lg-4 star" })
                                        <div class="col-lg-7 col-md-8 col-sm-8 col-xs-12">
                                            @Html.TextBoxFor(model => model.Description, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="" id="DivCostCodeDetailsIndex">
                                    <div class="form-group">
                                        @Html.Label("Category List", htmlAttributes: new { @class = "control-label col-lg-4 star" })
                                        <div class="col-lg-7 col-md-8 col-sm-8 col-xs-12">
                                            @Html.DropDownListFor(model => model.CategoryList, new SelectList(ViewBag.CategoryList, ViewBag.CategoryList), "--Select Category--", new { @id = "Category", @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.CategoryList, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="" id="DivCostCodeDetailsIndex">
                                    <div class="form-group">
                                        @Html.Label("Sub Category List", htmlAttributes: new { @class = "control-label col-lg-4 star" })
                                        <div class="col-lg-7 col-md-8 col-sm-8 col-xs-12">
                                            <select id="ddlSubCategoryList" name="CatagoryValue" class = "form-control"><option>--Select Sub Category--</option></select> 
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <br /><br />
                    <div class="panel-footer">
                        <div class="text-right">
                            @*<button type="button" class="btn btn-default bluebutton text-right" onclick="return PrintDivForVehicleDetails('DivVehicleDetailsIndex');" data-dismiss="modal">Print Details</button>*@
                            <button data-dismiss="modal" class="btn btn-default" id="btnCancelqwe">Close</button>
                            <input type="submit" class="btn btn-primary" id="btnSaveForCostCode" value="Save" />
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery.maskedinput-1.3.min.js")"></script>
    <script>

    $(document).ready(function () {
       $(function () {
            fn_hideMaskloader();
        })
       //
        $("#btnSaveForCostCode").live("click", function (event){
       // debugger
        $(function () {
            fn_showMaskloader('Please wait...Loading');
        })
        })
        $("#CategoryList, #Category").change(function () {
            var name = $(this).val();
            $.ajax({
                type: "POST",
                url: $_HostPrefix + 'CostCode/GetSubCategoryList' + '?CategoryListName=' + name,
                beforesend: function () {
                    new fn_showmaskloader('please wait...');
                },
                success: function (data) {
                    for (var i = 0; i <= data.length ; i++) {
                        $("#ddlSubCategoryList,.ddlSubCategory").append('<option >' + data[i] + '' + '</option>');
                        //$("#ddlSubCategoryList").append($("<option></option>").html(data));
                    }
                },
                error: function () {
                    alert("error:")
                }
                //complete: function () {
                //    fn_hidemaskloader();
                //}
            });
        });
    })
    </script>
