@model WorkOrderEMS.Models.LocationDetailsModel
@{
    ViewBag.Title = "Display Location Data";
    //Layout = "~/Views/Shared/_NewAdminLayout.cshtml";
    Layout = null;
    string eTracScriptVersion = System.Configuration.ConfigurationManager.AppSettings["eTracScriptVersion"];
    string loginUserName = "", loginUserEmail = "", loginUserContactNo = "", loginUserProfile = "";
    long loginUserType = 0;
    WorkOrderEMS.Models.eTracLoginModel ObjLogin = (WorkOrderEMS.Models.eTracLoginModel)Session["eTrac"];
    long viewallloc = (Convert.ToInt64(Session["eTrac_SelectedDasboardLocationID"]));
    string imgPath = (Convert.ToString(Session["eTrac_ProfileImage"]));
    long locationId = 0;
    string hostingPrefix = System.Configuration.ConfigurationManager.AppSettings["hostingPrefix"];
    long i = 1;
    if (ObjLogin != null)
    {
        loginUserName = ObjLogin.FName + "'s";
        loginUserEmail = ObjLogin.Email;
        loginUserProfile = ObjLogin.UserProfile;
        loginUserType = ObjLogin.UserRoleId;
        //loginUserContactNo = ObjLogin.ContactNo;
        locationId = ObjLogin.LocationID;
    }
}
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>eTrac</title>
    <!-- Favicon icon -->

    <link rel="icon" href="~/Images/logo.png" type="image/gif" sizes="16x16">
    <link href="~/Content/NewAdminContent/CSS/style.css" rel="stylesheet" />
</head>

<div class="content-body">
    <div class="container-fluid">
        <div class="row page-titles mx-0" data-aos="fade-up">
            <div class="col-sm-6 p-md-0">
                <div class="welcome-text">
                    <h4>Hi, welcome back! @loginUserName</h4>
                </div>
            </div>
            @*<div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="javascript:void(0)">@ViewBag.Title</a></li>
                </ol>
            </div>*@
        </div>
        <div class="row" style="margin-right: 0px;margin-left: 0px;">
            <div class="col-lg-12">
                <div class="card" data-aos="fade-up">
                    <div class="card-header headerSize" style="padding: 1.1rem 1.3rem;">
                        
                        <h4 class="card-title" style="color:white;"> <a href="javascript:void(0);" id="SendToLoationList"><i class="fa fa-arrow-left" style="font-size: 25px;color: white;"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>Location Portal</strong></h4>
                    </div>
                    <div class="card-body">
                        <!-- Nav tabs -->
                        <div class="custom-tab-1">
                            <ul class="nav nav-tabs">
                                <li class="nav-item">
                                    <a class="nav-link active" data-toggle="tab" href="#home1">Location Details</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#profile1">Contract Info</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#contact1">Location Rules</a>
                                </li>
                                @*<li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#message1">Message</a>
                                </li>*@
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane fade show active" id="home1" role="tabpanel">
                                    <div class="pt-4">
                                        <div id="abc" class="" style="background: white !important;">
                                            <div class="basic-form">
                                                <div class="form-group row">
                                                    <label class="col-sm-2 col-form-label"><strong>Location Name :</strong></label>
                                                    <div class="col-sm-4">
                                                        @Html.DisplayFor(model => model.ListLocationModel.LocationName)
                                                    </div>
                                                    <label class="col-sm-1 col-form-label"><strong>Location Services :</strong></label>
                                                    <div class="col-sm-4">
                                                        @foreach (var item in Model.ListLocationModel.LocationServices)
                                                       {
                                                        <span>@item&nbsp;,&nbsp;</span>
                                                       }
                                                    </div>
                                                   
                                                </div>
                                                <div class="form-group row">
                                                    <label class="col-sm-2 col-form-label"><strong>Address :</strong></label>
                                                    <div class="col-sm-4">
                                                        @Html.DisplayFor(model => model.ListLocationModel.Address)
                                                    </div>
                                                    <label class="col-sm-1 col-form-label"><strong>Phone No :</strong></label>
                                                    <div class="col-sm-4">
                                                        @Html.DisplayFor(model => model.ListLocationModel.Mobile)
                                                    </div>                                                    
                                                </div>
                                                <div class="form-group row">
                                                    <label class="col-sm-2 col-form-label"><strong>City :</strong></label>
                                                    <div class="col-sm-4">
                                                        @Html.DisplayFor(model => model.ListLocationModel.City)
                                                    </div>
                                                    <label class="col-sm-1 col-form-label"><strong>Location Country :</strong></label>
                                                    <div class="col-sm-4">
                                                        @Html.DisplayFor(model => model.ListLocationModel.Country)
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="col-sm-2 col-form-label"><strong>Location State :</strong></label>
                                                    <div class="col-sm-4">
                                                        @Html.DisplayFor(model => model.ListLocationModel.State)
                                                    </div>
                                                    <label class="col-sm-2 col-form-label"><strong>Location Code :</strong></label>
                                                    <div class="col-sm-4">
                                                        @Html.DisplayFor(model => model.ListLocationModel.LocationCode)
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="col-sm-2 col-form-label"><strong>Zip Code :</strong></label>
                                                    <div class="col-sm-4">
                                                        @Html.DisplayFor(model => model.ListLocationModel.ZipCode)
                                                    </div>
                                                    <label class="col-sm-1 col-form-label"><strong>Description :</strong></label>
                                                    <div class="col-sm-4">
                                                        @Html.DisplayFor(model => model.ListLocationModel.Description)
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="profile1">
                                    <div class="pt-4">
                                        <div id="abc" class="" style="background: white !important;">
                                            <div class="basic-form">
                                                <div class="form-group row">
                                                    <label class="col-sm-2 col-form-label"><strong>Contract Holder :</strong></label>
                                                    <div class="col-sm-4">
                                                        @Html.DisplayFor(model => model.ContractDetailsModel.ContractHolder)
                                                    </div>
                                                    <label class="col-sm-1 col-form-label"><strong>Operating Company :</strong></label>
                                                    <div class="col-sm-4">
                                                        @Html.DisplayFor(model => model.ContractDetailsModel.OperatingHolder)
                                                    </div>

                                                </div>
                                                <div class="form-group row">
                                                    <label class="col-sm-2 col-form-label"><strong>Contract Start Date :</strong></label>
                                                    <div class="col-sm-4">
                                                        @Html.DisplayFor(model => model.ContractDetailsModel.ContractStartDate)
                                                    </div>
                                                    <label class="col-sm-1 col-form-label"><strong>Contract End Date :</strong></label>
                                                    <div class="col-sm-4">
                                                        @Html.DisplayFor(model => model.ContractDetailsModel.ContractEndDate)
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="col-sm-2 col-form-label"><strong>Contract type :</strong></label>
                                                    <div class="col-sm-4">
                                                        @Html.DisplayFor(model => model.ContractDetailsModel.ContractType)
                                                    </div>
                                                    <label class="col-sm-1 col-form-label"><strong>Client Invoicing Term :</strong></label>
                                                    <div class="col-sm-4">
                                                        @Html.DisplayFor(model => model.ContractDetailsModel.ClientInvoicingTerm)
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="col-sm-2 col-form-label"><strong>Reporting Type :</strong></label>
                                                    <div class="col-sm-4">
                                                        @Html.DisplayFor(model => model.ContractDetailsModel.ReportingType)
                                                    </div>
                                                    <label class="col-sm-2 col-form-label"><strong>Reporting Date :</strong></label>
                                                    <div class="col-sm-4">
                                                        @Html.DisplayFor(model => model.ContractDetailsModel.ReportingDate)
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="col-sm-2 col-form-label"><strong>Monthly Intercompany Managment Fee :</strong></label>
                                                    <div class="col-sm-4">
                                                        @Html.DisplayFor(model => model.ContractDetailsModel.IntercompanyMgmFee)
                                                    </div>
                                                    <label class="col-sm-1 col-form-label"><strong>Monthly Intercompany Invoicing :</strong></label>
                                                    <div class="col-sm-4">
                                                        @Html.DisplayFor(model => model.ContractDetailsModel.IntercompanyInvoicing)
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="col-sm-2 col-form-label"><strong>Additional Years :</strong></label>
                                                    <div class="col-sm-4">
                                                        @Html.DisplayFor(model => model.ContractDetailsModel.AdditonalYears)
                                                    </div>
                                                    <label class="col-sm-2 col-form-label"><strong>Years :</strong></label>
                                                    <div class="col-sm-4">
                                                        @Html.DisplayFor(model => model.ContractDetailsModel.Years)
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="col-sm-2 col-form-label"><strong>Client Invoicing Date :</strong></label>
                                                    <div class="col-sm-4">
                                                        @Html.DisplayFor(model => model.ContractDetailsModel.ClientInvoicingDate)
                                                    </div>
                                                    <label class="col-sm-1 col-form-label"><strong>Frequency Of Invoicing :</strong></label>
                                                    <div class="col-sm-4">
                                                        @Html.DisplayFor(model => model.ContractDetailsModel.FrequencyOfInvoicing)
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="col-sm-2 col-form-label"><strong>Automatic Billing Date :</strong></label>
                                                    <div class="col-sm-4">
                                                        @Html.DisplayFor(model => model.ContractDetailsModel.Automaticbillingdate)
                                                    </div>
                                                    <label class="col-sm-2 col-form-label"><strong>Cut Off Card Date :</strong></label>
                                                    <div class="col-sm-4">
                                                        @Html.DisplayFor(model => model.ContractDetailsModel.Cutoffcarddate)
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="contact1">
                                    <div class="pt-4">
                                        <div id="abc" class="" style="background: white !important;">
                                            <div class="basic-form">
                                                <div class="form-group row">
                                                    <label class="col-sm-2 col-form-label"><strong>Charge Deposite For Monthly Parker Card :</strong></label>
                                                    <div class="col-sm-4">
                                                        @Html.DisplayFor(model => model.LocationRuleMappingModel.ChargeDepositeMonthlyParkerCard)
                                                    </div>
                                                    <label class="col-sm-1 col-form-label"><strong>Is Charge Deposite For Monthly Parker Card :</strong></label>
                                                    <div class="col-sm-4">
                                                        @Html.DisplayFor(model => model.LocationRuleMappingModel.IsChargeDepositeMonthlyParkerCard)
                                                    </div>

                                                </div>
                                                <div class="form-group row">
                                                    <label class="col-sm-2 col-form-label"><strong>Avialiable Space :</strong></label>
                                                    <div class="col-sm-4">
                                                        @Html.DisplayFor(model => model.LocationRuleMappingModel.ChargeDepositeMonthlyParkerCard)
                                                    </div>
                                                    <label class="col-sm-1 col-form-label"><strong>Are there any special rules for position billable hourly man :</strong></label>
                                                    <div class="col-sm-4">
                                                        @Html.DisplayFor(model => model.LocationRuleMappingModel.IsSpecialRulesHourlyMan)
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Required vendors -->
<script src="~/Content/NewAdminContent/VENDOR/global/global.min.js"></script>
<script src="~/Scripts/NewAdminJS/quixnav-init.js"></script>
<script src="~/Scripts/NewAdminJS/custom.min.js"></script>
<!--removeIf(production)-->
<!-- Demo scripts -->
<script src="~/Scripts/NewAdminJS/styleSwitcher.js"></script>
<script src="~/Content/NewAdminContent/VENDOR/highlightjs/highlight.pack.min.js"></script>
<script>hljs.initHighlightingOnLoad();</script>
<script>
    $(document).ready(function () {
        $('#main-wrapper').toggleClass("menu-toggle");
        $(".hamburger").hide();
        $('#SendToLoationList').click(function () {
            var addNewUrl = "@Url.Action("ListLocation", "GlobalAdmin")";
            $('#RenderPageId').load(addNewUrl);
        })
    })
</script>
