@model IEnumerable<WorkOrderEMS.Models.NewAdminModel.GWCQUestionModel>

@{
    //Layout = "~/Views/Shared/_NewAdminLayout.cshtml";
    Layout = null;
    int count = 0;
    var employeeInfo = ViewData["employeeInfo"] as WorkOrderEMS.Models.NewAdminModel.GWCQUestionModel;
    var isSubmitted = "Y";
    if (Model.Count() > 0)
    {
        isSubmitted = Model.First().SAR_IsActive != null ? Model.FirstOrDefault().SAR_IsActive : "Y";
    }

    @Html.Hidden(isSubmitted, new { id = "isSubmitted" })
}
<style>
    .row.tableEval td {
        height: 60px;
    }
</style>

<i id="back" class="fa fa-arrow-circle-o-left x4" style="
    font-size: 36px;
    cursor:pointer;
    margin-left: 10px;
    margin-top: 5px;
    width: 64px;
    float: none;
    /* align-self: flex-end; */
    " title="back"></i>
@{
    <div class="row">
        <div class="col-sm-3" style="margin: 0px 0px 10px 50px;">
            <div style="display: inline-block;">
                <img src="@employeeInfo.Image" alt="" class="rounded-circle" style="width:75px;height:75px;" id="ProfileImage">
            </div>
            <div style="display: inline-block;margin: 0px 0px 0px 20px;list-style: none;">
                <span style="font-size: 16px;    font-weight: 600;" id="EmployeeName">@employeeInfo.EmployeeName</span>
                <span style="display: list-item;" id="JobTitle">@employeeInfo.JobTitle</span>
            </div>
        </div>
        <div class="col-sm-1" style="margin: 0px 0px 10px 20px;">
            <div style="display: inline-block;margin: 0px 0px 0px 20px;list-style: none;">
                <span style="font-size: 16px;    font-weight: 600;">Finance</span>
            </div>
        </div>
        <div class="col-sm-2" style="margin: 0px 0px 10px 20px;">
            <div style="display: inline-block;margin: 0px 0px 0px 20px;list-style: none;">
                <span style="font-size: 16px;    font-weight: 600;">Lane stadium</span>
            </div>
        </div>
        <div class="col-sm-1" style="margin: 0px 0px 10px 20px;">
            <div style="display: inline-block;margin: 0px 0px 0px 20px;list-style: none;">
                <span style="font-size: 16px;    font-weight: 600;" id="AssessmentType">@employeeInfo.AssessmentType</span>
            </div>
        </div>
        <div class="col-sm-2" style="margin: 0px 0px 10px 20px;">
            <div style="display: inline-block;margin: 0px 0px 0px 20px;list-style: none;">
                <span style="font-size: 16px;font-weight: 600;color: blue;">Review Draft</span>
            </div>
        </div>
        <div class="col-sm-1" style="margin: 0px 0px 10px 20px;">
            <div style="display: inline-block;margin: 0px 0px 0px 20px;list-style: none;">
                <span style="font-size: 16px;    font-weight: 600;"><i class="fa fa-bell fa-2x" aria-hidden="true"></i></span>
            </div>
        </div>
    </div>
}
<hr />
<div class="row tableEval">
    <div class="col-sm-2" style="margin: 0px 0px 0px 10px;">
        <table class="table">
            <tbody>
                <tr class="table-success">
                    <td colspan="2" style="text-align:center">Self</td>
                </tr>
                @foreach (var item in Model)
                {
                    if ((item.SAR_QuestionType == "G30M" || item.SAR_QuestionType == "G60M" || item.SAR_QuestionType == "G90M"))
                    {
                        <tr class="table-danger">
                            <td>G</td>
                            <td>@item.SAR_AnswerSelf</td>

                        </tr>
                    }
                    else if (item.SAR_QuestionType == "W30M" || item.SAR_QuestionType == "W60M" || item.SAR_QuestionType == "W90M")
                    {
                        <tr class="table-danger">
                            <td>W</td>
                            <td>@item.SAR_AnswerSelf</td>

                        </tr>
                    }
                    else if (item.SAR_QuestionType == "C30M" || item.SAR_QuestionType == "C60M" || item.SAR_QuestionType == "C90M")
                    {
                        <tr class="table-danger">
                            <td>C</td>
                            <td>@item.SAR_AnswerSelf</td>

                        </tr>
                    }
                    @*<tr class="table-info">
                            <td>W</td>
                            <td>N</td>

                        </tr>
                        <tr class="table-warning">
                            <td>C</td>
                            <td>Y</td>

                        </tr>*@


                }
            </tbody>
        </table>
    </div>
    <div class="col-sm-10" style="margin: 0px 0px 0px -28px;">
        <table class="table">
            <tbody>
                <tr class="table-primary">
                    <td style="text-align:center;width: 70%"></td>
                    <td style="">Manager Eval</td>
                    <td style="">Comments</td>
                </tr>
                @*<tr class="table-danger">
                        <td style="width: 70%">When doing the job do they display characteristics that show they GET what’s necessary in order to do their job? do they understand the role and what’s truly required of them? </td>
                        <td> Yes  <input type="radio" value="true" name="Opt_" />No <input type="radio" value="true" name="Opt_" /> </td>
                    </tr>
                    <tr class="table-info">
                        <td style="width: 70%">Do you and other team members feel (Insert Employee Name) actually wants to do well in their job, based on conversations, work ethic, timeliness, attitude, and overall effort?</td>
                        <td> Yes <input type="radio" value="true" name="Opt_" />No <input type="radio" value="true" name="Opt_" /> </td>
                    </tr>
                    <tr class="table-warning">
                        <td style="width: 70%">Based on (insert employee name here) their ability to focus, their displayed behavior when doing the job, & manage the stresses of the job, Do they have the mental & emotional CAPACITY to do the job?”</td>
                        <td> Yes <input type="radio" value="true" name="Opt_" /> No<input type="radio" value="true" name="Opt_" /> </td>
                    </tr>*@
                @foreach (var item in Model)
                {
                    if ((item.SAR_QuestionType == "G30M" || item.SAR_QuestionType == "W30M" || item.SAR_QuestionType == "C30M" || item.SAR_QuestionType == "G60M" || item.SAR_QuestionType == "W60M" || item.SAR_QuestionType == "C60M" || item.SAR_QuestionType == "G90M" || item.SAR_QuestionType == "W90M" || item.SAR_QuestionType == "C90M"))
                    {
                        <tr class="table-light">
                            <td style="width: 70%">@item.ASQ_Question </td>

                            @if (item.SAR_IsActive == "S")
                            {
                                <td style="width: 10%" class="ans" data-value="@item.ASQ_Id" data-user="@item.SAR_EMP_EmployeeId" data-sam="@item.SAR_Id" data-isAct="@item.SAR_IsActive">


                                    @if (item.SAR_AnswerManager == "Y" && @item.SAR_Id > 0)
                                    {

                                        <input type="radio" value="Y" name="Opt_@item.ASQ_Id" checked disabled />
                                    }
                                    else
                                    {
                                        <input type="radio" value="Y" name="Opt_@item.ASQ_Id" disabled />
                                    }Yes |

                                    @if (item.SAR_AnswerManager == "N" && @item.SAR_Id > 0)
                                    {
                                        <input type="radio" value="N" name="Opt_@item.ASQ_Id" checked disabled />
                                    }
                                    else
                                    {
                                        <input type="radio" value="N" name="Opt_@item.ASQ_Id" disabled />
                                    }No
                                </td>
                                <td class="ans" data-value="@item.ASQ_Id" data-user="@item.SAR_EMP_EmployeeId" data-sam="@item.SAR_Id" data-isAct="@item.SAM_IsActive">


                                    @if (item.SAR_AnswerManager == "Y" && @item.SAR_Id > 0)
                                    {

                                        <input type="text" value="@item.SAR_Comments" name="input_@item.ASQ_Id" class="form-control" disabled />
                                    }
                                    else
                                    {
                                        <input type="text" value="@item.SAR_Comments" name="input_@item.ASQ_Id" class="form-control" disabled />
                                    }
                                </td>
                            }
                            else
                            {
                                <td style="width: 10%" class="ans" data-value="@item.ASQ_Id" data-user="@item.SAR_EMP_EmployeeId" data-sam="@item.SAR_Id" data-isAct="@item.SAM_IsActive">


                                    @if (item.SAR_AnswerManager == "Y" && @item.SAR_Id > 0)
                                    {

                                        <input type="radio" value="Y" name="Opt_@item.ASQ_Id" checked />
                                    }
                                    else
                                    {
                                        <input type="radio" value="Y" name="Opt_@item.ASQ_Id" />
                                    }Yes |

                                    @if (item.SAR_AnswerManager == "N" && @item.SAR_Id > 0)
                                    {
                                        <input type="radio" value="N" name="Opt_@item.ASQ_Id" checked />
                                    }
                                    else
                                    {
                                        <input type="radio" value="N" name="Opt_@item.ASQ_Id" />
                                    }No
                                </td>
                                <td class="ans" data-value="@item.ASQ_Id" data-user="@item.SAR_EMP_EmployeeId" data-sam="@item.SAR_Id" data-isAct="@item.SAM_IsActive">


                                    @if (item.SAR_AnswerManager == "Y" && @item.SAR_Id > 0)
                                    {

                                        <input type="text" value="@item.SAR_Comments" name="input_@item.ASQ_Id" class="form-control" />
                                    }
                                    else
                                    {
                                        <input type="text" value="@item.SAR_Comments" name="input_@item.ASQ_Id" class="form-control" />
                                    }
                                </td>
                            }

                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>
<div class="row tableEval">
    <div class="col-sm-2" style="margin: 0px 0px 0px 10px;"></div>
    <div class="col-sm-10" style="margin: 0px 0px 0px -28px;">
        <table class="table">
            <tbody>
                <tr class="table-primary">
                    <td colspan="3">Core Values</td>
                </tr>
                @*<tr class="table-info">
                        <td style="width:30%">Accountability</td>
                        <td>
                            Always  <input type="radio" value="true" name="Opt_" />
                            Sometimes <input type="radio" value="true" name="Opt_" />
                            Never <input type="radio" value="true" name="Opt_" />
                        </td>
                    </tr>
                    <tr class="table-warning">
                        <td style="width:30%">Revolutionized</td>
                        <td>
                            Always  <input type="radio" value="true" name="Opt_" />
                            Sometimes <input type="radio" value="true" name="Opt_" />
                            Never <input type="radio" value="true" name="Opt_" />
                        </td>
                    </tr>
                    <tr class="table-warning">
                        <td style="width:30%">Keep Growing</td>
                        <td>
                            Always  <input type="radio" value="true" name="Opt_" />
                            Sometimes <input type="radio" value="true" name="Opt_" />
                            Never <input type="radio" value="true" name="Opt_" />
                        </td>
                    </tr>*@
                @foreach (var item in Model)
                {
                    if ((item.SAR_QuestionType == "P" || item.SAR_QuestionType == "A" || item.SAR_QuestionType == "R" || item.SAR_QuestionType == "K"))
                    {
                        <tr class="table-light">
                            <td style="width: 40%">@item.ASQ_Question </td>

                            @if (item.SAR_IsActive == "S")
                            {
                                <td class="ans" data-value="@item.ASQ_Id" data-user="@item.SAR_EMP_EmployeeId" data-sam="@item.SAR_Id" data-isAct="@item.SAR_IsActive">


                                    @if (item.SAR_AnswerManager == "Y" && @item.SAR_Id > 0)
                                    {

                                        <input type="radio" value="Y" name="Opt_@item.ASQ_Id" checked disabled />
                                    }
                                    else
                                    {
                                        <input type="radio" value="Y" name="Opt_@item.ASQ_Id" disabled />
                                    }Always |
                                    @if (item.SAR_AnswerManager == "S" && @item.SAR_Id > 0)
                                    {

                                        <input type="radio" value="S" name="Opt_@item.ASQ_Id" checked disabled />
                                    }
                                    else
                                    {
                                        <input type="radio" value="S" name="Opt_@item.ASQ_Id" disabled />
                                    }Sometimes |


                                    @if (item.SAR_AnswerManager == "N" && @item.SAR_Id > 0)
                                    {
                                        <input type="radio" value="N" name="Opt_@item.ASQ_Id" checked disabled />
                                    }
                                    else
                                    {
                                        <input type="radio" value="N" name="Opt_@item.ASQ_Id" disabled />
                                    }Never
                                </td>
                            }
                            else
                            {
                                <td class="ans" data-value="@item.ASQ_Id" data-user="@item.SAR_EMP_EmployeeId" data-sam="@item.SAR_Id" data-isAct="@item.SAR_IsActive">


                                    @if (item.SAR_AnswerManager == "Y" && @item.SAR_Id > 0)
                                    {

                                        <input type="radio" value="Y" name="Opt_@item.ASQ_Id" checked />
                                    }
                                    else
                                    {
                                        <input type="radio" value="Y" name="Opt_@item.ASQ_Id" />
                                    }Always |

                                    @if (item.SAR_AnswerManager == "S" && @item.SAR_Id > 0)
                                    {

                                        <input type="radio" value="S" name="Opt_@item.ASQ_Id" checked />
                                    }
                                    else
                                    {
                                        <input type="radio" value="S" name="Opt_@item.ASQ_Id" />
                                    }Sometimes|
                                    @if (item.SAR_AnswerManager == "N" && @item.SAR_Id > 0)
                                    {
                                        <input type="radio" value="N" name="Opt_@item.ASQ_Id" checked />
                                    }
                                    else
                                    {
                                        <input type="radio" value="N" name="Opt_@item.ASQ_Id" />
                                    }Never
                                </td>
                            }
                            <td>
                            </td>
                        </tr>
                    }
                }

            </tbody>
        </table>
    </div>
</div>
<div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-10">
        @if (isSubmitted == "S")
        {
            <input type="text" class="form-control" style="background-color: #DEDEDE;height:100px;margin: 0px 0 0px -10px;" placeholder="Comments" multiple disabled />
        }
        else
        {
            <input type="text" class="form-control" style="background-color: #DEDEDE;height:100px;margin: 0px 0 0px -10px;" placeholder="Comments" multiple disabled />

        }
    </div>
</div>
<div class="row" style="margin-top:50px">
    <div class="col-sm-2"></div>

    <div class="col-sm-8" style="align-content:center">
        <td>
            @if (isSubmitted == "S")
            {
                <button id="draft" class="btn btn-secondary" disabled onclick="saveEvaluation306090('Draft')">Draft</button>

                <button id="submit" class="btn btn-success" disabled onclick="saveEvaluation306090('Submit')">Submit</button>
            }
            else
            {
                <button id="draft" class="btn btn-secondary" onclick="saveEvaluation306090('Draft')">Draft</button>

                <button id="submit" class="btn btn-success" onclick="saveEvaluation306090('Submit')">Submit</button>
            }
        </td>
    </div>

</div>
<div class="modal fade" id="SaveAssessmentModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="SaveAssessmentModalLabel">Draft Assessment </h4>

            </div>
            <div class="modal-body ">
                <div>
                    <label id="SaveAssessmentLabel">
                        Assessment drafted successfully
                    </label>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" id="BackToPerformance" class="btn btn-primary" onclick="HideModal('SaveAssessmentModal')">OK</button>

            </div>
        </div>
    </div>
</div>
<script>
    $("document").ready(function () {

        enableDisableBtn();
        $("td.ans input[type='radio']").on("click", function () {
            $('#submit').attr("disabled", false);
        })

    });
    function enableDisableBtn() {
        if ($("td.ans input[type='radio']checked").length > 1) {

            $('#submit').attr("disabled", false);
        }
        else {
            $('#submit').attr("disabled", true);
        }
    }

    $("#back").on('click', function () {
        $("#gridArea").show();
        $('#profileArea').hide();
        $("#List306090").jsGrid("loadData");

    });
    function saveEvaluation306090(action) {
        var obj = [];
        var tab = $("td.ans");
        $.each(tab, function (i, elem) {
            ASQ_Id = elem.getAttribute("data-value");
            SAR_EMP_EmployeeId = elem.getAttribute("data-user");
            SAR_IsActive = elem.getAttribute("data-isAct");
            SAR_AnswerManager = $("input[type='radio'][name='Opt_" + ASQ_Id + "']:checked").val();
            Comment = $("input[type='text'][name='input_" + ASQ_Id + "']").val();

            SAR_Id = elem.getAttribute("data-sam");
            obj.push({ "ASQ_Id": ASQ_Id, "SAR_AnswerManager": SAR_AnswerManager, "SAR_EMP_EmployeeId": SAR_EMP_EmployeeId, "SAR_Id": SAR_Id, "SAR_IsActive": SAR_IsActive, "SAR_Comments": Comment });

        });
        obj = JSON.stringify({ 'data': obj });
        var url = (action == "Draft") ? '../NewAdmin/draftEvaluation/' : '../NewAdmin/saveEvaluation/'
        $.ajax({
            type: "POST",
            data: obj,
            url: url,
            contentType: "application/json; charset=utf-8",
            dataType: 'json',
            error: function (xhr, status, error) {
            },
            success: function (result) {
                if (result != null) {
                    $.ajax({
                        type: "POST",
                        data: { 'Id': SAR_EMP_EmployeeId, 'Assesment': $("#AssessmentType").text(), 'Name': $("#EmployeeName").text(), 'Image': $("#ProfileImage").attr('src'), 'JobTitle': $("#JobTitle").text() },

                        url: '../NewAdmin/userEvaluationView/',
                        error: function (xhr, status, error) {
                        },
                        success: function (result) {
                            debugger
                            if (result != null) {
                                $("#gridArea").hide();
                                $('#profileArea').show();
                                $('#profileArea').html(result);
                                if (action == "Draft") {
                                    $("#SaveAssessmentModalLabel").text("Draft Assessment");
                                    $("#SaveAssessmentLabel").text("Assessment drafted successfully");
                                }
                                else {
                                    $("#SaveAssessmentModalLabel").text("Save Assessment");
                                    $("#SaveAssessmentLabel").text("Assessment saved successfully");
                                    setTimeout(function () { HideModal("SaveAssessmentModal"); }, 3000);

                                }
                                $("#SaveAssessmentModal").modal('show');
                            }
                        }

                    });
                }
            }
        });

    }
    function HideModal(param) {
        $("#" + param).modal('hide');
        $("#gridArea").show();
        $('#profileArea').hide();
        $("#List306090").jsGrid("loadData");
    }
</script>
