
@model IEnumerable<WorkOrderEMS.Models.NewAdminModel.GWCQUestionModel>

@{
    //Layout = "~/Views/Shared/_NewAdminLayout.cshtml";
    Layout = null;
    int count = 0;
    var isSubmitted = "Y";
    var employeeInfo = ViewData["employeeInfo"] as WorkOrderEMS.Models.NewAdminModel.GWCQUestionModel;
    if (Model.Count() > 0)
    {
        //isSubmitted = Model.First().SAM_IsActive != null ? Model.FirstOrDefault().SAM_IsActive : "Y";

        isSubmitted = Model.Where(x => x.SAM_IsActive == "S").Count()==Model.Count()?"S":"Y";

    }

    @*@Html.Hidden(isSubmitted, new { id = "isSubmitted" })*@
    <input type="hidden" value="@isSubmitted" id="isSubmitted" />
    <input type="hidden" value="@employeeInfo.EmployeeId" id="EmplyeeId"/>


}
<style>
    td.ans div {
        display: inline-flex;
    }

    .table tbody tr td.que {
        vertical-align: middle;
        border-color: #f5f5f5;
        width: 50%;
    }

    /*.table tbody tr:nth-last-child(1) {
        display: none;
    }*/

    .form-control {
        border-radius: 20px;
    }
    /*.table tbody tr td.asn {
        vertical-align: middle;
        border-color: #f5f5f5;
        width: 20%;
    }
        .table tbody tr td {
        vertical-align: middle;
        border-color: #f5f5f5;
        width: 10%;
    }*/
</style>
<i id="back" class="fa fa-arrow-circle-o-left x4" style="
    font-size: 36px;
    cursor:pointer;
    margin-left: 10px;
    margin-top: 5px;
    width: 64px;
    float: none;
    " title="back"></i>
<div class="row">
    <div class="col-sm-3" style="margin: 0px 0px 10px 50px;">
        <div style="display: inline-block;">
            <img src="@employeeInfo.Image" alt="" class="rounded-circle" style="width:75px;height:75px;" id="ProfileImage">
        </div>
        <div style="display: inline-block;margin: 0px 0px 0px 20px;list-style: none;">
            <span style="font-size: 16px;    font-weight: 600;" id="EmployeeName">@employeeInfo.EmployeeName</span>
            <span style="display: list-item;" id="JobTitle">@employeeInfo.JobTitle</span>
        </div>
    </div>
    <div class="col-sm-1" style="margin: 0px 0px 10px 20px;">
        <div style="display: inline-block;margin: 0px 0px 0px 20px;list-style: none;">
            <span style="font-size: 16px;    font-weight: 600;" id="Department">@employeeInfo.Department</span>
        </div>
    </div>
    <div class="col-sm-2" style="margin: 0px 0px 10px 20px;">
        <div style="display: inline-block;margin: 0px 0px 0px 20px;list-style: none;">
            <span style="font-size: 16px;    font-weight: 600;" id="LocationName">@employeeInfo.LocationName</span>
        </div>
    </div>
    <div class="col-sm-1" style="margin: 0px 0px 10px 20px;">
        <div style="display: inline-block;margin: 0px 0px 0px 20px;list-style: none;">
            <span style="font-size: 16px;    font-weight: 600;" id="AssessmentType">@employeeInfo.AssessmentType</span>
        </div>
    </div>
    <div class="col-sm-2" style="margin: 0px 0px 10px 20px;">
        <div style="display: inline-block;margin: 0px 0px 0px 20px;list-style: none;">
            <span style="font-size: 16px;font-weight: 600;color: blue;">Review Draft</span>
        </div>
    </div>
    <div class="col-sm-1" style="margin: 0px 0px 10px 20px;">
        <div style="display: inline-block;margin: 0px 0px 0px 20px;list-style: none;">
            <span style="font-size: 16px;font-weight: 600;"><i class="fa fa-bell fa-2x" aria-hidden="true"></i></span>
        </div>
    </div>
</div>
<hr />
<table class="table" id="selfAssessmentTable">
    <tbody>
        <div class="table-responsive">
            @foreach (var item in Model)
            {
                @*if ((item.QuestionType == "G" || item.QuestionType == "W" || item.QuestionType == "C") && count == 0)
                    {

                        <tr class="table-primary">
                            <td colspan="2">GWC</td>
                        </tr>

                        count = count + 1;
                    }
                    else if ((item.QuestionType == "P" || item.QuestionType == "A" || item.QuestionType == "R" || item.QuestionType == "K") && count == 1)
                    {
                        <tr class="table-primary">
                            <td colspan="2">Core Values</td>
                        </tr>
                        count = count + 1;

                    }

                    else if ((item.QuestionType == "CORP" || item.QuestionType == "MGMT") && count == 2)*@
                if ((item.QuestionType == "CORP" || item.QuestionType == "MGMT") && count == 0)

                {
                    <tr class="table-primary">
                        <td colspan="2">Seat Entitlement Expectation</td>
                    </tr>
                    count = count + 1;

                }

                <tr class="table-light">
                    @*@if (item.QuestionType == "COMNT1")
                        {
                            <td class="ans" colspan="2" data-Type="@item.AssessmentType" data-value="@item.QuestionId" data-user="@item.EmployeeId" data-sam="@item.SelfAssessmentId" data-isAct="@item.SAM_IsActive" data-fy="@item.EEL_FinencialYear" data-fq="@item.EEL_FinQuarter" data-qType="@item.QuestionType">
                                @if (isSubmitted == "S" || isSubmitted == "C")
                                {
                                    <input type="text" value="@item.EEL_Comments" name="input_@item.QuestionId" class="form-control" style="background-color: #DEDEDE;height:100px;margin: 0px 0 0px -10px;" placeholder="Self Comment" multiple disabled />
                                }
                                else
                                {
                                    <input type="text" value="@item.EEL_Comments" name="input_@item.QuestionId" class="form-control" style="background-color: #DEDEDE;height:100px;margin: 0px 0 0px -10px;" placeholder="Self Comment" multiple />

                                }
                            </td>
                        }
                        else if (item.QuestionType == "COMNT2")
                        {
                            <td class="ans" colspan="2" data-Type="@item.AssessmentType" data-value="@item.QuestionId" data-user="@item.EmployeeId" data-sam="@item.SelfAssessmentId" data-isAct="@item.SAM_IsActive" data-fy="@item.EEL_FinencialYear" data-fq="@item.EEL_FinQuarter" data-qType="@item.QuestionType">
                                @if (isSubmitted == "S" || isSubmitted == "C")
                                {
                                    <input type="text" value="@item.EEL_Comments" name="input_@item.QuestionId" class="form-control" style="background-color: #DEDEDE;height:100px;margin: 0px 0 0px -10px;" placeholder="Manager Comment" multiple disabled />
                                }
                                else
                                {
                                    <input type="text" value="@item.EEL_Comments" name="input_@item.QuestionId" class="form-control" style="background-color: #DEDEDE;height:100px;margin: 0px 0 0px -10px;" placeholder="Manager Comment" multiple />

                                }
                            </td>
                        }*@
                    @if ((item.QuestionType == "CORP" || item.QuestionType == "MGMT"))
                    {
                        <td class="que"  data-value="@item.QuestionId" data-user="@item.EmployeeId" data-sam="@item.CHE_Id" data-isAct="@item.SAM_IsActive" data-fy="@item.EEL_FinencialYear" data-fq="@item.EEL_FinQuarter" data-qType="@item.QuestionType">
                            <div id="div_@item.QuestionId" style="display:inline">
                                <label id="input_@item.QuestionId" class="form-control" style="border-radius:5px;display:inline;width:70%">@item.Question</label>
                                <i class="fa fa-pencil-square-o fa-2x" aria-hidden="true" onclick="OpenEdit(@item.QuestionId,'@item.Question')" style="cursor:pointer;display:inline" title="edit"></i>
                            </div>
                        </td>
                    }
                </tr>
            }

            <tr align="center">
                <td colspan="3">
                    @*<button id="SaveQuestions" class="btn btn-secondary"  onclick="SaveQuestions('Submit')">Save Questions</button>*@

                    @if (isSubmitted == "S" )
                        {
                            <button id="draft" class="btn btn-secondary" disabled onclick="SaveQuestions('Draft')">Draft</button>

                            <button id="submit" class="btn btn-success" disabled onclick="SaveQuestions('Submit')">Submit</button>

                            }
                        else
                        {
                            <button id="draft" class="btn btn-secondary" onclick="SaveQuestions('Draft')">Draft</button>

                            <button id="submit" class="btn btn-success" onclick="SaveQuestions('Submit')">Submit</button>
                        }
                </td>
            </tr>
    </tbody>
</table>
<div class="modal fade" id="SaveExpectationsModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="SaveExpectationsModalLabel">Draft Expectations </h4>
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            </div>
            <div class="modal-body ">
                <div>
                    <label id="successExpectationsLabel">
                        Expectations draft successfull
                    </label>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" id="BackToPerformance" class="btn btn-primary" onclick="HideModal('SaveExpectationsModal')" style="width: 90px">OK</button>
            </div>
        </div>
    </div>
</div>
<script>
    //$("document").ready(function () {

    //    enableDisableBtn();
    //    $("td.ans input[type='radio']").on("click", function () {
    //        enableDisableBtn();
    //    })

    //});
    function enableDisableBtn() {
        if ($("td.ans input[type='radio']:checked").length == 11 && $("#isSubmitted").val() != "S") {

            $('#submit').attr("disabled", false);
        }
        else {
            $('#submit').attr("disabled", true);
        }
    }

    $("#back").on('click', function () {
        $("#gridArea").show();
        $('#profileArea').hide();
        $("#ListQExpectations").jsGrid("loadData");

    });
    function SaveQuestions(action) {

        var obj = [];
        var tab = $("td.que");
        $.each(tab, function (i, elem) {
            CHE_Id = elem.getAttribute("data-sam");
            ASQ_Id = elem.getAttribute("data-value");
            EmployeeId = elem.getAttribute("data-user");
            QuestionType = elem.getAttribute("data-qType");
            CHE_IsActive = elem.getAttribute("data-isAct");
            CHE_ASQ_Question = $("label[id='input_" + ASQ_Id + "']").text();
            EEL_FinencialYear = elem.getAttribute("data-fy");
            EEL_FinQuarter = elem.getAttribute("data-fq");
            obj.push({ "CHE_Id":CHE_Id ,"ASQ_Id": ASQ_Id, "EmployeeId": EmployeeId,"QuestionType":QuestionType,"CHE_IsActive":CHE_IsActive,"CHE_ASQ_Question":CHE_ASQ_Question,"EEL_FinencialYear": EEL_FinencialYear, "EEL_FinQuarter": EEL_FinQuarter});
        });
               
        obj = JSON.stringify({ 'data': obj });
        var url = (action == "Draft") ? '../NewAdmin/insertChangedExpectations/' : '../NewAdmin/updateChangedExpectations/'
        $.ajax({
            type: "POST",
            data: obj,
            url: url,
            contentType: "application/json; charset=utf-8",
            dataType: 'json',
            error: function (xhr, status, error) {
            },
            success: function (result) {
                if (result != null) {
                    $.ajax({
                        type: "POST",
                        data: { 'Id': $("#EmplyeeId").val(), 'Assesment': $("#AssessmentType").text(), 'Name': $("#EmployeeName").text(), 'Image': $("#ProfileImage").attr('src'), 'JobTitle': $("#JobTitle").text(), 'FinYear': EEL_FinencialYear, 'FinQuarter': EEL_FinQuarter, 'Department': $("#Department").text(), 'LocationName': $("#LocationName").text() },
                        url: '../NewAdmin/userExpectationsView/',
                        error: function (xhr, status, error) {
                        },
                        success: function (result) {

                            if (result != null) {
                                $("#gridArea").hide();
                                $('#profileArea').show();
                                $('#profileArea').html(result);
                                if (action == "Draft") {
                                    $("#SaveExpectationsModalLabel").text("Draft Expectations");
                                    $("#successExpectationsLabel").text("Expectations drafted successfully");
                                }
                                else {
                                    $("#SaveExpectationsModalLabel").text("Submit Expectations");
                                    $("#successExpectationsLabel").text("Expectations submitted successfully");

                                }
                                $("#SaveExpectationsModal").modal('show');
                                setTimeout(function () { HideModal("SaveExpectationsModal"); }, 3000);


                            }
                        }
                    });

                }
            }
        });

    }

    function HideModal(param) {
        $("#" + param).modal('hide');
        $("#gridArea").show();
        $('#profileArea').hide();
        $("#ListQExpectations").jsGrid("loadData");
        $("#ListQEvaluations").jsGrid("loadData");
    }
    function OpenEdit(qid, question) {

        var $div = $("#div_" + qid);
        var $input = '<input  id="input_' + qid + '" class="form-control" style="border-radius:5px;display:inline;width:70%" value="' + question + '">' +
            '<i class="fa fa-floppy-o fa-2x" aria-hidden="true" onclick="SaveQuestion(' + qid + ');" style="cursor:pointer;display:inline" title="save"></i>';

        $div.html($input);
    }
    function SaveQuestion(qid) {
        var $div = $("#div_" + qid);
        var $updatedQuestion = $("#input_" + qid).val();
        var $input = '<label  id="input_' + qid + '" class="form-control" style="border-radius:5px;display:inline;width:70%">' + $updatedQuestion + '</label>' +
            '<i class="fa fa-pencil-square-o fa-2x" aria-hidden="true" onclick="OpenEdit(' + qid + ',\'' + $updatedQuestion + '\')" style="cursor:pointer;display:inline" title="edit"></i>';
        $div.html($input);
    }
</script>
