@{
    string loginUserName = "", loginUserEmail = "", loginUserContactNo = "", loginUserProfile = "";
    long loginUserType = 0, UserId = 0;
    WorkOrderEMS.Models.eTracLoginModel ObjLogin = (WorkOrderEMS.Models.eTracLoginModel)Session["eTrac"];
    string imgPath = (Convert.ToString(Session["eTrac_ProfileImage"]));
    long locationId = 0;
    if (ObjLogin != null)
    {
        loginUserName = ObjLogin.FName + "'s";
        loginUserEmail = ObjLogin.Email;
        loginUserProfile = ObjLogin.UserProfile;
        loginUserType = ObjLogin.UserRoleId;
        UserId = ObjLogin.UserId;
        locationId = ObjLogin.LocationID;
        //loginUserContactNo = ObjLogin.ContactNo;
    }
    bool GloblaAdminUser, ITAdminUser, OnlyAdminUser, ManagerUser, EmployeeUser, ClientUser;
    GloblaAdminUser = ITAdminUser = OnlyAdminUser = ManagerUser = EmployeeUser = ClientUser = false;
    switch ((WorkOrderEMS.Helper.UserType)loginUserType)
    {
        case WorkOrderEMS.Helper.UserType.GlobalAdmin:
            GloblaAdminUser = true;
            break;
        case WorkOrderEMS.Helper.UserType.ITAdministrator:
            ITAdminUser = true;
            break;
        case WorkOrderEMS.Helper.UserType.Administrator:
            OnlyAdminUser = true;
            break;
        case WorkOrderEMS.Helper.UserType.Manager:
            ManagerUser = true;
            break;
        case WorkOrderEMS.Helper.UserType.Employee:
            EmployeeUser = true;
            break;
        case WorkOrderEMS.Helper.UserType.Client:
            ClientUser = true;
            break;
        default:
            GloblaAdminUser = ITAdminUser = OnlyAdminUser = ManagerUser = EmployeeUser = ClientUser = false;
            break;
    }
}
@section Script{
<script>
    debugger
        var $_locId = '@locationId';
        $("#drp_MasterLocation option:selected").val($_locId);
    $("#drp_MasterLocation").val($_locId).attr("selected", "selected");
</script>
}

<!--**********************************
          Header start
      ***********************************-->
<div class="header">
    <div class="header-content">
        <nav class="navbar navbar-expand">
            <div class="collapse navbar-collapse justify-content-between">
                <div class="header-left">
                    <div class="search_bar dropdown">
                        <span class="search_icon p-3 c-pointer" data-toggle="dropdown">
                            <i class="mdi mdi-magnify"></i>
                        </span>
                        <div class="dropdown-menu p-0 m-0 animated fadeInUp">
                            <form>
                                <input class="form-control" type="search" placeholder="Search" aria-label="Search">
                            </form>
                        </div>
                    </div>

                    @*<div class="dropdown create-option-btn">
                        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                            Create
                        </button>
                        <div class="dropdown-menu create-option animated fadeInUp">
                            <a href="@Url.Action("LocationSetup", "GlobalAdmin")" class="dropdown-item">
                                <i class="mdi mdi-account-plus"></i>
                                <span class="ml-2">Location Setup</span>
                            </a>
                            <a href="#!" class="dropdown-item">
                                <i class="mdi mdi-account-plus"></i>
                                <span class="ml-2">QRC Setup</span>
                            </a>
                            <a href="#!" class="dropdown-item">
                                <i class="mdi mdi-account-plus"></i>
                                <span class="ml-2">Create Work Order</span>
                            </a>
                        </div>
                    </div>*@
                </div>

                <ul class="navbar-nav header-right">
                    @if (@ViewBag.AccountSection == true)
                    {
                        <li class="nav-item showHome"><a href="@Url.Action("Index", "NewAdmin",new { area ="" })"><i class="fa fa-home showHome" style="font-size:30px;color:ghostwhite;" title="Back to Home"></i></a></li>
                    }
                    else
                    {
                        <li class="nav-item showAdmin"><a href="@Url.Action("Index", "AdminDashboard", new { area = "AdminSection" })"><i class="fa fa-user-circle showAdmin" style="font-size:30px;color:ghostwhite;" title="Admin"></i></a></li>
                    }
                    <li class="nav-item dropdown">
                        <div class="drpLocation pl-3 pr-3">
                            @if (Session != null)
                            {
                                if (Session["eTrac_UserLocations"] != null)
                                {                           
                                    @Html.DropDownList("drp_MasterLocation", new SelectList((List<WorkOrderEMS.Models.UserLocations>)Session["eTrac_UserLocations"], "LocationId", "LocationName"), null, new { @class = "form-control input-rounded", @id = "drp_MasterLocation1" })
                                }
                            }
                        </div>
                    </li>
                    @*<li class="nav-item">
                            <a class="btn btn-secondary btn-rounded pl-3 pr-3 nav-link" href="https://docs.google.com/forms/d/e/1FAIpQLSdye2tgr3FPHpvN8wrwvzgIagvMwm8vpxOBoIijEVxEF3ZiaA/viewform" target="_blank">Hire Us</a>
                        </li>*@
                    <li class="nav-item dropdown">
                        <a class="nav-link" href="#" role="button" data-toggle="dropdown">
                            <i class="mdi mdi-wrench"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right animated fadeInUp header-quick-link">
                            <div class="text-center">
                                <div class="row no-gutters">
                                    <div class="col-6">
                                        <a href="#!">
                                            <i class="mdi mdi-settings"></i>
                                            <p class="mb-0">Settings</p>
                                        </a>
                                    </div>
                                    <div class="col-6">
                                        <a href="#!">
                                            <i class="mdi mdi-calendar-check"></i>
                                            <p class="mb-0">Event</p>
                                        </a>
                                    </div>
                                    <div class="col-6">
                                        <a href="#!">
                                            <i class="mdi mdi-cash-multiple"></i>
                                            <p class="mb-0">Balance</p>
                                        </a>
                                    </div>
                                    <div class="col-6">
                                        <a href="#!">
                                            <i class="mdi mdi-login"></i>
                                            <p class="mb-0">Login</p>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>

                    <li class="nav-item dropdown notification_dropdown">
                        <a class="nav-link" href="#" role="button" data-toggle="dropdown">
                            <i class="mdi mdi-bell"></i>
                            <div class="pulse-css"></div>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right animated fadeInDown">
                            <div class="notification_title notification">
                                <h5>User Notifications</h5>
                                <p class="mb-0">3 new notifications</p>
                            </div>
                            <ul class="list-unstyled">
                                <li class="media dropdown-item">
                                    <img class="mr-3" src="@imgPath" alt="Quixlab">
                                    <div class="media-body">
                                        <a href="#">
                                            <div class="d-flex justify-content-between">
                                                <h5>@loginUserName</h5>
                                            </div>
                                            <p class="m-0">signed nup now</p>
                                        </a>
                                    </div>
                                    <span class="notify-time">3:20 am</span>
                                </li>
                                <li class="media dropdown-item">
                                    <img class="mr-3" src="~/Content/NewAdminContent/IMAGES/avatar/8.jpg" alt="Quixlab">
                                    <div class="media-body">
                                        <a href="#">
                                            <div class="d-flex justify-content-between">
                                                <h5>Lisa Heiden</h5>
                                            </div>
                                            <p class="m-0">Reset password</p>
                                        </a>
                                    </div>
                                    <span class="notify-time">3:20 am</span>
                                </li>
                                <li class="media dropdown-item">
                                    <img class="mr-3" src="~/Content/NewAdminContent/IMAGES/avatar/2.jpg" alt="Quixlab">
                                    <div class="media-body">
                                        <a href="#">
                                            <div class="d-flex justify-content-between">
                                                <h5>Mr khan</h5>
                                            </div>
                                            <p class="m-0">Email sent</p>
                                        </a>
                                    </div>
                                    <span class="notify-time">3:20 am</span>
                                </li>
                            </ul>
                            <a class="all-notification" href="#">All Notifications</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown header-profile">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown">
                            <img src="@imgPath" alt="" style="width:50px;height:50px;">
                            <span class="ml-2">@loginUserName</span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right animated fadeInRight">
                            <div class="profile_title">
                                @*<h5>User Id : <span>eTrac @UserId</span></h5>*@
                                <p class="mb-0">@loginUserEmail</p>
                            </div>
                            <a href="#!" class="dropdown-item">
                                <i class="mdi mdi-account"></i>
                                <span class="ml-2">My Profile</span>
                            </a>
                            @*<a href="#!" class="dropdown-item">
                                <i class="mdi mdi-wallet"></i>
                                <span class="ml-2">My Wallet</span>
                            </a>
                            <a href="#!" class="dropdown-item">
                                <i class="mdi mdi-email"></i>
                                <span class="ml-2">Inbox</span>
                            </a>
                            <a href="#!" class="dropdown-item">
                                <i class="mdi mdi-settings"></i>
                                <span class="ml-2">Setting</span>
                            </a>
                            <a href="#!" class="dropdown-item">
                                <i class="mdi mdi-lock"></i>
                                <span class="ml-2">Lock Screen</span>
                            </a>*@
                            @*<a href="../Login/LogOut?id='@ObjLogin.UserId'" class="dropdown-item">
                                <i class="mdi mdi-power"></i>
                                <span class="ml-2">Logout</span>
                            </a>*@
                            <a href="javascript:void(0)" id="logout" class="dropdown-item">
                                <i class="mdi mdi-power"></i>
                                <span class="ml-2">Logout</span>
                            </a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</div>
<!--**********************************
    Header end ti-comment-alt
***********************************-->
<script>
    @{
        long Location = ((WorkOrderEMS.Models.eTracLoginModel)Session["eTrac"]) != null ? ((WorkOrderEMS.Models.eTracLoginModel)Session["eTrac"]).LocationID : 0;
        }
    if ('@Location' != undefined || '@Location' > '0' || '@Location' != '') {
        $("#drp_MasterLocation1").val(@Location);
    }
    $("#logout").click(function () {
        window.location.href = '../Login/LogOut?id=@ObjLogin.UserId'
    });
    $("#drp_MasterLocation1").change(function () {
        var LocationID = $(this).val();
        var LocationName = $("#drp_MasterLocation1 option:selected").text();
        $.ajax({
            type: "POST",
            url: '@Url.Action("SetUserSelectedLocation", "Login")',
            data: { LocationID: LocationID, LocationName: LocationName },
            success: function (Data) {
                $("#ListWorkOrderAsssignment").jsGrid("loadData");
                $("#ListQRC").jsGrid("loadData");
                $("#ListDAR").jsGrid("loadData");
            },
            error: function () {
            }
        })
        //------END------//
    })
</script>