@{
    ViewBag.IsView = false;
    Layout = null;
    string eTracScriptVersion = System.Configuration.ConfigurationManager.AppSettings["eTracScriptVersion"];
    string loginUserName = "", loginUserEmail = "", loginUserContactNo = "", loginUserProfile = "";
    long loginUserType = 0;
    WorkOrderEMS.Models.eTracLoginModel ObjLogin = (WorkOrderEMS.Models.eTracLoginModel)Session["eTrac"];
    long viewallloc = (Convert.ToInt64(Session["eTrac_SelectedDasboardLocationID"]));
    string imgPath = (Convert.ToString(Session["eTrac_ProfileImage"]));
    long locationId = 0;
    string hostingPrefix = System.Configuration.ConfigurationManager.AppSettings["hostingPrefix"];
    if (ObjLogin != null)
    {
        loginUserName = ObjLogin.FName + "'s";
        loginUserEmail = ObjLogin.Email;
        loginUserProfile = ObjLogin.UserProfile;
        loginUserType = ObjLogin.UserRoleId;
        //loginUserContactNo = ObjLogin.ContactNo;
        locationId = ObjLogin.LocationID;

    }
    bool GloblaAdminUser, ITAdminUser, OnlyAdminUser, ManagerUser, EmployeeUser, ClientUser;
    GloblaAdminUser = ITAdminUser = OnlyAdminUser = ManagerUser = EmployeeUser = ClientUser = false;
    switch ((WorkOrderEMS.Helper.UserType)loginUserType)
    {
        case WorkOrderEMS.Helper.UserType.GlobalAdmin:
            GloblaAdminUser = true;
            break;
        case WorkOrderEMS.Helper.UserType.ITAdministrator:
            ITAdminUser = true;
            break;
        case WorkOrderEMS.Helper.UserType.Administrator:
            OnlyAdminUser = true;
            break;
        case WorkOrderEMS.Helper.UserType.Manager:
            ManagerUser = true;
            break;
        case WorkOrderEMS.Helper.UserType.Employee:
            EmployeeUser = true;
            break;
        case WorkOrderEMS.Helper.UserType.Client:
            ClientUser = true;
            break;
        default:
            GloblaAdminUser = ITAdminUser = OnlyAdminUser = ManagerUser = EmployeeUser = ClientUser = false;
            break;
    }
}
@section scripts{
<script type="text/javascript">
        var $_hostingPrefix = '@hostingPrefix';
</script>
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>eTrac</title>
    <!-- Favicon icon -->

    <link rel="icon" href="~/Images/logo.png" type="image/gif" sizes="16x16">
    <script src="~/Scripts/jquery-3.2.1.min.js"></script>
  
    <link href="~/Content/NewAdminContent/VENDOR/owl-carousel/css/owl.theme.default.min.css" rel="stylesheet" />
    <link href="~/Content/NewAdminContent/VENDOR/owl-carousel/css/owl.carousel.min.css" rel="stylesheet" />
    <link href="~/Content/NewAdminContent/VENDOR/jqvmap/css/jqvmap.min.css" rel="stylesheet" />
    <link href="~/Content/NewAdminContent/VENDOR/jsgrid/css/jsgrid.min.css" rel="stylesheet" />
    <link href="~/Content/NewAdminContent/VENDOR/jsgrid/css/jsgrid-theme.min.css" rel="stylesheet" />
    <link href="~/Content/NewAdminContent/CSS/style.css" rel="stylesheet" />
    @RenderSection("scripts", required: false)
</head>
<body>
    <!--*******************
        Preloader start
    ********************-->
    <div id="preloader"><div class="loader">eTrac<span></span><span></span><span></span><span></span></div></div>
    <!--*******************
        Preloader end
    ********************-->
    <!--**********************************
        Main wrapper start
    ***********************************-->
    <div id="main-wrapper">

        <!--**********************************
            Nav header start
        ***********************************-->
        <div class="nav-header">
            @if (GloblaAdminUser || ITAdminUser)
            {
                <a href="~/GlobalAdmin" class="brand-logo">
                    <img src="~/Images/logo2.png" style="width: 110px;" />
                    @*<span class="logo-abbr"></span>
                        <span class="logo-compact">eTrac</span>
                        <span class="brand-title">eTrac</span>*@
                </a>
            }
            @if (OnlyAdminUser)
            {
                <a href="~/Administrator" class="brand-logo">
                    <img src="~/Images/logo2.png" style="width: 110px;" />
                    @*<span class="logo-abbr"></span>
                        <span class="logo-compact">eTrac</span>
                        <span class="brand-title">eTrac</span>*@
                </a>
            }
            @if (ManagerUser)
            {
                <a href="~/Manager/Dashboard" class="brand-logo">
                    <img src="~/Images/logo2.png" style="width: 110px;" />
                    @*<span class="logo-abbr"></span>
                        <span class="logo-compact">eTrac</span>
                        <span class="brand-title">eTrac</span>*@
                </a>
            }
            @if (EmployeeUser)
            {
                <a href="~/Employee/Dashboard" class="brand-logo">
                    <img src="~/Images/logo2.png" style="width: 110px;" />
                    @*<span class="logo-abbr"></span>
                        <span class="logo-compact">eTrac</span>
                        <span class="brand-title">eTrac</span>*@
                </a>
            }
            @if (ClientUser)
            {
                <a href="~/Client" class="brand-logo">
                    <img src="~/Images/logo2.png" style="width: 110px;" />
                    @*<span class="logo-abbr"></span>
                        <span class="logo-compact">eTrac</span>
                        <span class="brand-title">eTrac</span>*@
                </a>
            }
            <div class="nav-control">
                <div class="hamburger">
                    <span class="line"></span>
                    <span class="line"></span>
                    <span class="line"></span>
                </div>
            </div>
        </div>
        <!--**********************************
            Nav header end
        ***********************************-->
        <!--Header-->
        @Html.Partial("_NewControlMenu")

        <!--Side Menu-->
        @if (@ViewBag.AccountSection == true)
        {
            @Html.Partial("_NewAdminSideMenu")
        }
        else
        {
        @Html.Partial("_NewSideMenu")
        }
        @*<a href="~/Views/Shared/_NewSideMenu.cshtml">~/Views/Shared/_NewSideMenu.cshtml</a>*@
        <!--**********************************
            Content body start
        ***********************************-->
        <div id="RenderPageId">
            @RenderBody()
        </div>
        <!--**********************************
            Content body end
        ***********************************-->
        <!--**********************************
            Footer start
        ***********************************-->
        <div class="footer">
            <div class="copyright">
                <p>Copyright © Designed &amp; Developed by <a href="@hostingPrefix" target="_blank">eTrac</a> 2019</p>
            </div>
        </div>
        <!--**********************************
            Footer end
        ***********************************-->
        <!--**********************************
           Support ticket button start
        ***********************************-->
        <div class="support-ticket">
            <a href="https://docs.google.com/forms/d/e/1FAIpQLScfrU4Y7_zmErRJkR8ukaRlVgZ1AcAU7Kf4vOQuclNxqWQipQ/viewform" target="_blank" class="support-ticket-btn">Support</a>
        </div>
        <!--**********************************
           Support ticket button end
        ***********************************-->
        <!--removeIf(production)-->
        <!--**********************************
            Right sidebar start
        ***********************************-->
        <div class="sidebar-right">
            <a class="sidebar-right-trigger" href="javascript:void(0)">
                <span><i class="fa fa-cog fa-spin"></i></span>
            </a>
            <div class="sidebar-right-inner">
                <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active show" data-toggle="tab" href="#right-tab1">
                            <span><i class="mdi mdi-settings" aria-hidden="true"></i></span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#right-tab2">
                            <span><i class="mdi mdi-layers" aria-hidden="true"></i></span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#right-tab3">
                            <span><i class="mdi mdi-message" aria-hidden="true"></i></span>
                        </a>
                    </li>
                </ul>

                <div class="tab-content tab-content-default tabcontent-border">
                    <div class="tab-pane fade active show" id="right-tab1" role="tabpanel">
                        <div class="admin-settings">
                            <h4>Pick your style</h4>
                            <div>
                                <p>Navigation Header</p>
                                <div class="opt-nav-header-color">
                                    <span>
                                        <input type="radio" name="navigation_header" value="color_1" class="filled-in chk-col-primary" id="nav_header_color_1">
                                        <label for="nav_header_color_1"></label>
                                    </span>
                                    <span>
                                        <input type="radio" name="navigation_header" value="color_2" class="filled-in chk-col-primary" id="nav_header_color_2">
                                        <label for="nav_header_color_2"></label>
                                    </span>
                                    <span>
                                        <input type="radio" name="navigation_header" value="color_3" class="filled-in chk-col-primary" id="nav_header_color_3">
                                        <label for="nav_header_color_3"></label>
                                    </span>
                                    <span>
                                        <input type="radio" name="navigation_header" value="color_4" class="filled-in chk-col-primary" id="nav_header_color_4">
                                        <label for="nav_header_color_4"></label>
                                    </span>
                                    <span>
                                        <input type="radio" name="navigation_header" value="color_5" class="filled-in chk-col-primary" id="nav_header_color_5">
                                        <label for="nav_header_color_5"></label>
                                    </span>
                                    <span>
                                        <input type="radio" name="navigation_header" value="color_6" class="filled-in chk-col-primary" id="nav_header_color_6">
                                        <label for="nav_header_color_6"></label>
                                    </span>
                                    <span>
                                        <input type="radio" name="navigation_header" value="color_7" class="filled-in chk-col-primary" id="nav_header_color_7">
                                        <label for="nav_header_color_7"></label>
                                    </span>
                                    <span>
                                        <input type="radio" name="navigation_header" value="color_8" class="filled-in chk-col-primary" id="nav_header_color_8">
                                        <label for="nav_header_color_8"></label>
                                    </span>
                                    <span>
                                        <input type="radio" name="navigation_header" value="color_9" class="filled-in chk-col-primary" id="nav_header_color_9">
                                        <label for="nav_header_color_9"></label>
                                    </span>
                                    <span>
                                        <input type="radio" name="navigation_header" value="color_10" class="filled-in chk-col-primary" id="nav_header_color_10">
                                        <label for="nav_header_color_10"></label>
                                    </span>
                                </div>
                            </div>
                            <div class="opt-header-color">
                                <p>Header</p>
                                <div>
                                    <span>
                                        <input type="radio" name="header_bg" value="color_1" class="filled-in chk-col-primary" id="header_color_1">
                                        <label for="header_color_1"></label>
                                    </span>
                                    <span>
                                        <input type="radio" name="header_bg" value="color_2" class="filled-in chk-col-primary" id="header_color_2">
                                        <label for="header_color_2"></label>
                                    </span>
                                    <span>
                                        <input type="radio" name="header_bg" value="color_3" class="filled-in chk-col-primary" id="header_color_3">
                                        <label for="header_color_3"></label>
                                    </span>
                                    <span>
                                        <input type="radio" name="header_bg" value="color_4" class="filled-in chk-col-primary" id="header_color_4">
                                        <label for="header_color_4"></label>
                                    </span>
                                    <span>
                                        <input type="radio" name="header_bg" value="color_5" class="filled-in chk-col-primary" id="header_color_5">
                                        <label for="header_color_5"></label>
                                    </span>
                                    <span>
                                        <input type="radio" name="header_bg" value="color_6" class="filled-in chk-col-primary" id="header_color_6">
                                        <label for="header_color_6"></label>
                                    </span>
                                    <span>
                                        <input type="radio" name="header_bg" value="color_7" class="filled-in chk-col-primary" id="header_color_7">
                                        <label for="header_color_7"></label>
                                    </span>
                                    <span>
                                        <input type="radio" name="header_bg" value="color_8" class="filled-in chk-col-primary" id="header_color_8">
                                        <label for="header_color_8"></label>
                                    </span>
                                    <span>
                                        <input type="radio" name="header_bg" value="color_9" class="filled-in chk-col-primary" id="header_color_9">
                                        <label for="header_color_9"></label>
                                    </span>
                                    <span>
                                        <input type="radio" name="header_bg" value="color_10" class="filled-in chk-col-primary" id="header_color_10">
                                        <label for="header_color_10"></label>
                                    </span>
                                </div>
                            </div>
                            <div class="opt-sidebar-color">
                                <p>Sidebar</p>
                                <div>
                                    <span>
                                        <input type="radio" name="sidebar_bg" value="color_1" class="filled-in chk-col-primary" id="sidebar_color_1">
                                        <label for="sidebar_color_1"></label>
                                    </span>
                                    <span>
                                        <input type="radio" name="sidebar_bg" value="color_2" class="filled-in chk-col-primary" id="sidebar_color_2">
                                        <label for="sidebar_color_2"></label>
                                    </span>
                                    <span>
                                        <input type="radio" name="sidebar_bg" value="color_3" class="filled-in chk-col-primary" id="sidebar_color_3">
                                        <label for="sidebar_color_3"></label>
                                    </span>
                                    <span>
                                        <input type="radio" name="sidebar_bg" value="color_4" class="filled-in chk-col-primary" id="sidebar_color_4">
                                        <label for="sidebar_color_4"></label>
                                    </span>
                                    <span>
                                        <input type="radio" name="sidebar_bg" value="color_5" class="filled-in chk-col-primary" id="sidebar_color_5">
                                        <label for="sidebar_color_5"></label>
                                    </span>
                                    <span>
                                        <input type="radio" name="sidebar_bg" value="color_6" class="filled-in chk-col-primary" id="sidebar_color_6">
                                        <label for="sidebar_color_6"></label>
                                    </span>
                                    <span>
                                        <input type="radio" name="sidebar_bg" value="color_7" class="filled-in chk-col-primary" id="sidebar_color_7">
                                        <label for="sidebar_color_7"></label>
                                    </span>
                                    <span>
                                        <input type="radio" name="sidebar_bg" value="color_8" class="filled-in chk-col-primary" id="sidebar_color_8">
                                        <label for="sidebar_color_8"></label>
                                    </span>
                                    <span>
                                        <input type="radio" name="sidebar_bg" value="color_9" class="filled-in chk-col-primary" id="sidebar_color_9">
                                        <label for="sidebar_color_9"></label>
                                    </span>
                                    <span>
                                        <input type="radio" name="sidebar_bg" value="color_10" class="filled-in chk-col-primary" id="sidebar_color_10">
                                        <label for="sidebar_color_10"></label>
                                    </span>
                                </div>
                            </div>
                            <div class="opt-typography">
                                <p>Typography</p>
                                <select class="form-control" name="typography" id="typography">
                                    <option value="poppins">Poppins</option>
                                    <option value="roboto">Roboto</option>
                                    <option value="opensans">Open Sans</option>
                                </select>
                            </div>
                            <div class="opt-background">
                                <p>Background</p>
                                <select class="form-control" name="theme_version" id="theme_version">
                                    <option value="light">Light</option>
                                    <option value="dark">Dark</option>
                                    <option value="transparent">Transparent</option>
                                </select>
                            </div>
                            <div class="opt-layout">
                                <p>Layout</p>
                                <select class="form-control" name="theme_layout" id="theme_layout">
                                    <option value="vertical">Vertical</option>
                                    <option value="horizontal">Horizontal</option>
                                </select>
                            </div>
                            <div class="opt-sidebar">
                                <p>Sidebar</p>
                                <select class="form-control" name="sidebar_style" id="sidebar_style">
                                    <option value="full">Full</option>
                                    <option value="mini">Mini</option>
                                    <option value="compact">Compact</option>
                                    <option value="modern">Modern</option>
                                    <option value="overlay">Overlay</option>
                                    <option value="icon-hover">Icon-hover</option>
                                </select>
                            </div>
                            <div class="opt-sidebar-position">
                                <p>Sidebar position</p>
                                <select class="form-control" name="sidebar_position" id="sidebar_position">
                                    <option value="static">Static</option>
                                    <option value="fixed">Fixed</option>
                                </select>
                            </div>
                            <div class="opt-header-position">
                                <p>Header position</p>
                                <select class="form-control" name="header_position" id="header_position">
                                    <option value="static">Static</option>
                                    <option value="fixed">Fixed</option>
                                </select>
                            </div>
                            <div class="opt-container">
                                <p>Container</p>
                                <select class="form-control" name="container_layout" id="container_layout">
                                    <option value="wide">Wide</option>
                                    <!-- <option value="boxed">Boxed</option> -->
                                    <option value="wide-boxed">Wide Boxed</option>
                                </select>
                            </div>
                            <div class="opt-direction">
                                <p>Direction</p>
                                <select class="form-control" name="theme_direction" id="theme_direction">
                                    <option value="ltr">LTR</option>
                                    <option value="rtl">RTL</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="right-tab2" role="tabpanel">
                        <div id="accordion-one" class="accordion">
                            <div class="accordion__item">
                                <div class="accordion__header" data-toggle="collapse" data-target="#default_collapseOne">
                                    <span class="accordion__header--text">Timeline</span>
                                    <span class="accordion__header--indicator"></span>
                                </div>
                                <div id="default_collapseOne" class="collapse accordion__body show" data-parent="#accordion-one">
                                    <div class="accordion__body--text">
                                        <div class="widget-timeline">
                                            <ul class="timeline">
                                                <li>
                                                    <div class="timeline-badge primary"></div>
                                                    <a class="timeline-panel text-muted" href="#">
                                                        <span>10 minutes ago</span>
                                                        <h6 class="m-t-5">Youtube, a video-sharing website, goes live.</h6>
                                                    </a>
                                                </li>

                                                <li>
                                                    <div class="timeline-badge warning">
                                                    </div>
                                                    <a class="timeline-panel text-muted" href="#">
                                                        <span>20 minutes ago</span>
                                                        <h6 class="m-t-5">Mashable, a news website and blog, goes live.</h6>
                                                    </a>
                                                </li>

                                                <li>
                                                    <div class="timeline-badge danger">
                                                    </div>
                                                    <a class="timeline-panel text-muted" href="#">
                                                        <span>30 minutes ago</span>
                                                        <h6 class="m-t-5">Google acquires Youtube.</h6>
                                                    </a>
                                                </li>

                                                <li>
                                                    <div class="timeline-badge success">
                                                    </div>
                                                    <a class="timeline-panel text-muted" href="#">
                                                        <span>15 minutes ago</span>
                                                        <h6 class="m-t-5">StumbleUpon is acquired by eBay. </h6>
                                                    </a>
                                                </li>

                                                <li>
                                                    <div class="timeline-badge warning">
                                                    </div>
                                                    <a class="timeline-panel text-muted" href="#">
                                                        <span>20 minutes ago</span>
                                                        <h6 class="m-t-5">Mashable, a news website and blog, goes live.</h6>
                                                    </a>
                                                </li>

                                                <li>
                                                    <div class="timeline-badge dark">
                                                    </div>
                                                    <a class="timeline-panel text-muted" href="#">
                                                        <span>20 minutes ago</span>
                                                        <h6 class="m-t-5">Mashable, a news website and blog, goes live.</h6>
                                                    </a>
                                                </li>

                                                <li>
                                                    <div class="timeline-badge info">
                                                    </div>
                                                    <a class="timeline-panel text-muted" href="#">
                                                        <span>30 minutes ago</span>
                                                        <h6 class="m-t-5">Google acquires Youtube.</h6>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion__item">
                                <div class="accordion__header collapsed" data-toggle="collapse" data-target="#default_collapseTwo">
                                    <span class="accordion__header--text">Todo</span>
                                    <span class="accordion__header--indicator"></span>
                                </div>
                                <div id="default_collapseTwo" class="collapse accordion__body" data-parent="#accordion-one">
                                    <div class="accordion__body--text">
                                        <div class="todo-list">
                                            <div class="tdl-holder">
                                                <div class="tdl-content widget-todo mr-4">
                                                    <ul id="todo_list">
                                                        <li><label><input type="checkbox"><i></i><span>Get up</span><a href='#' class="ti-trash"></a></label></li>
                                                        <li><label><input type="checkbox" checked><i></i><span>Stand up</span><a href='#' class="ti-trash"></a></label></li>
                                                        <li><label><input type="checkbox"><i></i><span>Don't give up the fight.</span><a href='#' class="ti-trash"></a></label></li>
                                                        <li><label><input type="checkbox" checked><i></i><span>Do something else</span><a href='#' class="ti-trash"></a></label></li>
                                                        <li><label><input type="checkbox" checked><i></i><span>Stand up</span><a href='#' class="ti-trash"></a></label></li>
                                                        <li><label><input type="checkbox"><i></i><span>Don't give up the fight.</span><a href='#' class="ti-trash"></a></label></li>
                                                    </ul>
                                                </div>
                                                <div class="px-4">
                                                    <input type="text" class="tdl-new form-control" placeholder="Write new item and hit 'Enter'...">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion__item">
                                <div class="accordion__header collapsed" data-toggle="collapse" data-target="#default_collapseThree">
                                    <span class="accordion__header--text">Quick Mail</span>
                                    <span class="accordion__header--indicator"></span>
                                </div>
                                <div id="default_collapseThree" class="collapse accordion__body" data-parent="#accordion-one">
                                    <div class="accordion__body--text">
                                        <form action="index.html" class="agent-req-form">
                                            <div class="form-group">
                                                <input type="text" placeholder="Full Name *" class="form-control bg-white text-muted">
                                            </div>
                                            <div class="form-group">
                                                <input type="email" placeholder="Email ID *" class="form-control bg-white text-muted">
                                            </div>
                                            <div class="form-group">
                                                <input type="tel" placeholder="Phone No *" class="form-control bg-white text-muted">
                                            </div>
                                            <div class="form-group">
                                                <textarea rows="3" placeholder="Message *" class="form-control bg-white text-muted"></textarea>
                                            </div>
                                            <div class="form-group text-right">
                                                <button type="submit" class="btn btn-primary">Submit Request</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="right-tab3" role="tabpanel">
                        <div class="chat-list-left">
                            <div class="media media-avatar">
                                <div class="mr-3 avatar-status">
                                    <img class="rounded-circle" src="~/Content/NewAdminContent/IMAGES/avatar/1.jpg" width="45" height="45" alt="">
                                    <span><i class="mdi mdi-checkbox-blank-circle"></i></span>
                                </div>
                                <div class="media-body">
                                    <h5>Amiguel Clarke</h5>
                                    <p>Thanks a lot! see you in a month.</p>
                                </div>
                            </div>
                            <div class="media media-avatar">
                                <div class="mr-3 avatar-status">
                                    <img class="rounded-circle" src="~/Content/NewAdminContent/IMAGES/avatar/2.jpg" width="45" height="45" alt="">
                                    <span><i class="mdi mdi-checkbox-blank-circle"></i></span>
                                </div>
                                <div class="media-body">
                                    <h5>Anthony Griffith</h5>
                                    <p>Thanks a lot! see you in a month.</p>
                                </div>
                            </div>
                            <div class="media media-avatar">
                                <div class="mr-3 avatar-status">
                                    <img class="rounded-circle" src="~/Content/NewAdminContent/IMAGES/avatar/3.jpg" width="45" height="45" alt="">
                                    <span><i class="mdi mdi-checkbox-blank-circle"></i></span>
                                </div>
                                <div class="media-body">
                                    <h5>Ernest Price</h5>
                                    <p>Thanks a lot! see you in a month.</p>
                                </div>
                            </div>
                            <div class="media media-avatar">
                                <div class="mr-3 avatar-status">
                                    <img class="rounded-circle" src="~/Content/NewAdminContent/IMAGES/avatar/4.jpg" width="45" height="45" alt="">
                                    <span><i class="mdi mdi-checkbox-blank-circle"></i></span>
                                </div>
                                <div class="media-body">
                                    <h5>Ricardo Stanley</h5>
                                    <p>Thanks a lot! see you in a month.</p>
                                </div>
                            </div>
                            <div class="media media-avatar">
                                <div class="mr-3 avatar-status">
                                    <img class="rounded-circle" src="~/Content/NewAdminContent/IMAGES/avatar/5.jpg" width="45" height="45" alt="">
                                    <span><i class="mdi mdi-checkbox-blank-circle"></i></span>
                                </div>
                                <div class="media-body">
                                    <h5>Kyle Chambers</h5>
                                    <p>Thanks a lot! see you in a month.</p>
                                </div>
                            </div>
                            <div class="media media-avatar">
                                <div class="mr-3 avatar-status">
                                    <img class="rounded-circle" src="~/Content/NewAdminContent/IMAGES/avatar/6.jpg" width="45" height="45" alt="">
                                    <span><i class="mdi mdi-checkbox-blank-circle"></i></span>
                                </div>
                                <div class="media-body">
                                    <h5>Jeff Chavez</h5>
                                    <p>Thanks a lot! see you in a month.</p>
                                </div>
                            </div>
                            <div class="media media-avatar">
                                <div class="mr-3 avatar-status">
                                    <img class="rounded-circle" src="~/Content/NewAdminContent/IMAGES/avatar/7.jpg" width="45" height="45" alt="">
                                    <span><i class="mdi mdi-checkbox-blank-circle"></i></span>
                                </div>
                                <div class="media-body">
                                    <h5>Melvin Ellis</h5>
                                    <p>Thanks a lot! see you in a month.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--**********************************
            Right sidebar end
        ***********************************-->
        <!--endRemoveIf(production)-->
    </div>
    <!--**********************************
        Main wrapper end
    ***********************************-->
    <!--**********************************
        Scripts
    ***********************************-->
    <!-- Required vendors -->
    <script src="~/Content/NewAdminContent/VENDOR/global/global.min.js"></script>
    <script src="~/Scripts/NewAdminJS/quixnav-init.js"></script>
    <script src="~/Scripts/NewAdminJS/custom.min.js"></script>
    <!--removeIf(production)-->
    <!-- Demo scripts -->
    <script src="~/Scripts/NewAdminJS/styleSwitcher.js"></script>
    <script src="~/Content/NewAdminContent/VENDOR/jsgrid/js/jsgrid.min.js"></script>
    <!--endRemoveIf(production)-->
    <!-- Vectormap -->
    <script src="~/Content/NewAdminContent/VENDOR/jqvmap/js/jquery.vmap.min.js"></script>
    <script src="~/Content/NewAdminContent/VENDOR/jqvmap/js/jquery.vmap.world.js"></script>

    <script src="~/Content/NewAdminContent/VENDOR/circle-progress/circle-progress.min.js"></script>
    <script src="~/Content/NewAdminContent/VENDOR/chart.js/Chart.bundle.min.js"></script>

    <script src="~/Content/NewAdminContent/VENDOR/gaugeJS/dist/gauge.min.js"></script>
    <!--  flot-chart js -->
    <script src="~/Content/NewAdminContent/VENDOR/flot/jquery.flot.js"></script>
    <script src="~/Content/NewAdminContent/VENDOR/flot/jquery.flot.resize.js"></script>

    <!-- Owl Carousel -->
    <script src="~/Content/NewAdminContent/VENDOR/owl-carousel/js/owl.carousel.min.js"></script>


    <!-- Counter Up -->
    <script src="~/Content/NewAdminContent/VENDOR/waypoints/jquery.waypoints.min.js"></script>
    <script src="~/Content/NewAdminContent/VENDOR/jquery.counterup/jquery.counterup.min.js"></script>
    <script src="~/Scripts/NewAdminJS/dashboard/dashboard-1.js"></script>

</body>
</html>
@*<script>
    $(document).ready(function () {
        $("#menu li a").click(function (e) {
            e.preventDefault(); // prevent default link button redirect behaviour
            var url = $(this).attr("href");
            $('#RenderPageId').load(url);
        });
    });
</script>*@
<script>
    $(document).ready(function () {
        //On Click menu add partial view
        $("#menu li a").click(function (e) {
            e.preventDefault(); // prevent default link button redirect behaviour
            var url = $(this).attr("href");
            $('#RenderPageId').load(url);
        });
        
        
    });
</script>