@{

    string loginUserName = "", loginUserEmail = "", loginUserContactNo = "", loginUserProfile = "";
    long loginUserType = 0;
    WorkOrderEMS.Models.eTracLoginModel ObjLogin = (WorkOrderEMS.Models.eTracLoginModel)Session["eTrac"];
    if (ObjLogin != null)
    {
        loginUserName = ObjLogin.FName + "'s";
        loginUserEmail = ObjLogin.Email;
        loginUserProfile = ObjLogin.UserProfile;
        loginUserType = ObjLogin.UserRoleId;
        //loginUserContactNo = ObjLogin.ContactNo;
    }

    bool GloblaAdminUser, ITAdminUser, OnlyAdminUser, ManagerUser, EmployeeUser, ClientUser;
    GloblaAdminUser = ITAdminUser = OnlyAdminUser = ManagerUser = EmployeeUser = ClientUser = false;
    switch ((WorkOrderEMS.Helper.UserType)loginUserType)
    {
        case WorkOrderEMS.Helper.UserType.GlobalAdmin:
            GloblaAdminUser = true;
            break;
        case WorkOrderEMS.Helper.UserType.ITAdministrator:
            ITAdminUser = true;
            break;
        case WorkOrderEMS.Helper.UserType.Administrator:
            OnlyAdminUser = true;
            break;
        case WorkOrderEMS.Helper.UserType.Manager:
            ManagerUser = true;
            break;
        case WorkOrderEMS.Helper.UserType.Employee:
            EmployeeUser = true;
            break;
        case WorkOrderEMS.Helper.UserType.Client:
            ClientUser = true;
            break;
        default:
            GloblaAdminUser = ITAdminUser = OnlyAdminUser = ManagerUser = EmployeeUser = ClientUser = false;
            break;
    }

}
<style>
    /*.dropdown-submenu {
        position: relative;
    }*/

        .dropdown-submenu > .dropdown-menu {
            top: 0;
            left: 100%;
            margin-top: -6px;
            margin-left: -1px;
            -webkit-border-radius: 0 6px 6px 6px;
            -moz-border-radius: 0 6px 6px 6px;
            border-radius: 0 6px 6px 6px;
        }

        .dropdown-submenu:hover > .dropdown-menu {
            display: block;
        }

        .dropdown-submenu > a:after {
            display: block;
            content: " ";
            float: right;
            width: 0;
            height: 0;
            border-color: transparent;
            border-style: solid;
            border-width: 5px 0 5px 5px;
            border-left-color: #fff;
            margin-top: 5px;
            margin-right: -10px;
        }

        .dropdown-submenu:hover > a:after {
            border-left-color: #ffffff;
        }

        .dropdown-submenu.pull-left {
            float: none;
        }

            .dropdown-submenu.pull-left > .dropdown-menu {
                left: -100%;
                margin-left: 10px;
                -webkit-border-radius: 6px 0 6px 6px;
                -moz-border-radius: 6px 0 6px 6px;
                border-radius: 6px 0 6px 6px;
            }
</style>
<style>
    .sidebar-nav {
        padding: 9px 0;
    }

    .dropdown-menu .sub-menu {
        left: 100%;
        position: absolute;
        top: 0;
        visibility: hidden;
        margin-top: -1px;
    }

    .dropdown-menu li:hover .sub-menu {
        visibility: visible;
    }

    .dropdown:hover .dropdown-menu {
        display: block;
    }

    .nav-tabs .dropdown-menu, .nav-pills .dropdown-menu, .navbar .dropdown-menu {
        margin-top: 0;
    }

    .navbar .sub-menu:before {
        border-bottom: 7px solid transparent;
        border-left: none;
        border-right: 7px solid rgba(0, 0, 0, 0.2);
        border-top: 7px solid transparent;
        left: -7px;
        top: 10px;
    }

    .navbar .sub-menu:after {
        border-top: 6px solid transparent;
        border-left: none;
        border-right: 6px solid #fff;
        border-bottom: 6px solid transparent;
        left: 10px;
        top: 11px;
        left: -6px;
    }

</style>


<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">

        <!-- /.search form -->
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu">

            <li>
                @if (GloblaAdminUser || ITAdminUser)
                {
                    <a href="~/GlobalAdmin"><i class="fa fa-home"></i><span>Home</span></a>
                }
                @if (OnlyAdminUser)
                {
                    <a href="~/Administrator"><i class="fa fa-home"></i><span>Home</span></a>
                }
                @if (ManagerUser)
                {
                    <a href="~/Manager/Dashboard"><i class="fa fa-home"></i><span>Home</span></a>
                }
                @if (EmployeeUser)
                {
                    <a href="~/Employee/Dashboard"><i class="fa fa-home"></i><span>Home</span></a>
                }
                @if (ClientUser)
                {
                    <a href="~/Client"><i class="fa fa-home"></i><span>Home</span></a>
                }
            </li>
            @{
                List<string> UserRoles = (List<string>)Session["eTrac_UserRoles"];
                List<string> LocationServices = (List<string>)Session["eTrac_LocationServices"];
                WorkOrderEMS.Models.CommonModels.WidgetList DashboardWidget = (WorkOrderEMS.Models.CommonModels.WidgetList)Session["eTrac_DashboardWidget"];
                if (DashboardWidget != null && Convert.ToInt64(Session["eTrac_SelectedDasboardLocationID"]) != 0)
                {
                    if (UserRoles != null)
                    {
                        <li class="treeview">
                            <a href="@Url.Action("Index", "NewAdmin")"><i class="fa fa-map-marker"></i><span>New Dashboard</span> <i class="fa fa-angle-left pull-right"></i></a>               
                        </li>
                        @*Create Locations*@
                        if (UserRoles.Contains("Location Setup") || UserRoles.Contains("Location"))
                        {
                            if (true)//added by Bhushan Dod on 08 April 2016
                            {
                                <li class="treeview">
                                    <a href="javascript:void(0)"><i class="fa fa-map-marker"></i><span>Location</span> <i class="fa fa-angle-left pull-right"></i></a>
                                    <ul class="treeview-menu">
                                        <li>
                                            <a href="@Url.Action("LocationSetup", "GlobalAdmin")"><i class="fa fa-location-arrow"></i>Create Location</a>
                                        </li>
                                        <li>
                                            <a href="@Url.Action("ListLocation", "GlobalAdmin")"><i class="fa fa-list-alt"></i>List Location</a>
                                        </li>
                                    </ul>
                                </li>
                            }
                        } //Location Setup End here

                        if (UserRoles.Contains("Manage Users"))
                        {
                            if (true)
                            {
                                <li class="treeview">
                                    <a href="javascript:void(0)"> <i class="fa fa-user"></i> <span>Manage User</span> <i class="fa fa-angle-left pull-right"></i> </a>
                                    <ul class="treeview-menu">
                                        <li> <a href="@Url.Action("listclient", "GlobalAdmin")"><i class="fa fa-list-alt"></i>All User List</a></li>
                                        <li> <a href="@Url.Action("CreateUser", "Common")"><i class="fa fa-user-plus"></i>Register User</a></li>
                                        @*@if (Convert.ToInt64(WorkOrderEMS.Helper.UserType.Employee) != ObjLogin.UserRoleId && Convert.ToInt64(WorkOrderEMS.Helper.UserType.Client) != ObjLogin.UserRoleId)//WorkOrderEMS.Helper.UserType.Employee
                                            {
                                                <li><a href="#" onclick="CallSideMenuRegUser();"><i class="fa fa-users"></i>Register User Type</a></li>
                                            }*@
                                        @if (GloblaAdminUser || ITAdminUser)
                                        {
                                            <li><a href="@Url.Action( "NotAssignedUsers", "GlobalAdmin")"><i class="fa fa-users"></i>UnAssigned User</a></li>
                                        }
                                        @if (GloblaAdminUser || ITAdminUser || OnlyAdminUser || ManagerUser)
                                        {
                                            <li><a href="@Url.Action( "UnVerifiedUsers", "GlobalAdmin")"><i class="fa fa-user-times"></i>UnVerified User</a></li>
                                        }

                                    </ul>
                                </li>
                            }
                        }

                        if (UserRoles.Contains("eScanner"))
                        {
                            if (true)
                            {
                                <li class="treeview">
                                    <a href="javascript:void(0)"> <i class="fa fa-print"></i> <span>eScanner</span> <i class="fa fa-angle-left pull-right"></i> </a>
                                    <ul class="treeview-menu">
                                        <li>
                                            <a href="@Url.Action("", "QRCSetup")"><i class="fa fa-qrcode"></i>QR Code Setup</a>
                                        </li>
                                        <li>
                                            <a href="@Url.Action("ListQRC", "QRCSetup")"><i class="fa fa-list-alt"></i>QR Code List</a>
                                        </li>
                                        @if (EmployeeUser != true && ClientUser != true)
                                        {
                                            <li>
                                                <a href="@Url.Action("EscannerReport", "QRCSetup")"><i class="fa fa-area-chart"></i>Reports</a>
                                            </li>
                                        }
                                    </ul>
                                </li>
                            }
                        }

                        if (UserRoles.Contains("eMaintenance"))
                        {
                            if (true)
                            {
                                <li class="treeview">
                                    <a href="javascript:void(0)"> <i class="fa fa-wrench"></i> <span>eMaintenance</span> <i class="fa fa-angle-left pull-right"></i> </a>
                                    <ul class="treeview-menu">
                                        @if (!EmployeeUser || !ClientUser)
                                        {
                                            <li>
                                                <a href="@Url.Action("WorkRequestAssignment", "GlobalAdmin")"><i class="fa fa-file-o"></i>Create New</a>
                                            </li>
                                        }
                                        <li>
                                            <a href="@Url.Action("WorkAssignmentList", "GlobalAdmin")"><i class="fa fa-list-alt"></i>List Work Request</a>
                                        </li>
                                        @if (EmployeeUser != true && ClientUser != true)//@if (!EmployeeUser || !ClientUser)
                                        {
                                            <li>
                                                <a href="@Url.Action("WorkOrderReport", "GlobalAdmin")"><i class="fa fa-area-chart"></i>Reports</a>
                                            </li>
                                        }
                                    </ul>
                                </li>
                            }
                        }
                        if (UserRoles.Contains("Daily Activity Reports"))
                        {
                            <li class="treeview">
                                <a href="javascript:void(0)"> <i class="fa fa-list"></i> <span>Daily Activity Report</span> <i class="fa fa-angle-left pull-right"></i> </a>
                                <ul class="treeview-menu">
                                    <li>
                                        <a href="@Url.Action("ListDAR", "DAR")"><i class="fa fa-list-alt"></i>List DAR Details</a>
                                    </li>
                                    @if (EmployeeUser != true && ClientUser != true)//@if (!EmployeeUser || !ClientUser)
                                    {
                                        <li>
                                            <a href="@Url.Action("DARReport", "DAR")"><i class="fa fa-area-chart"></i>Reports</a>
                                        </li>
                                    }
                                </ul>
                            </li>
                        }
                        if (GloblaAdminUser || ITAdminUser)
                        {
                            <li class="treeview">
                                <a href="javascript:void(0)"> <i class="fa fa-envelope-o"></i> <span>Other Lists</span> <i class="fa fa-angle-left pull-right"></i> </a>
                                <ul class="treeview-menu">
                                    <li>
                                        <a href="@Url.Action("ListEmail", "EmailDetails")"><i class="fa fa-list-alt"></i>List Email</a>
                                    </li>
                                </ul>
                            </li>
                        }

                        if (UserRoles.Contains("eFleet"))
                        {
                            <li class="treeview">
                                <a href="javascript:void(0)"> <i class="fa fa-taxi"></i> <span>eFleet </span> <i class="fa fa-angle-left pull-right"></i> </a>
                                <ul class="treeview-menu">
                                    <li class="treeview">
                                        <a href="#"> <i class="fa fa-clock-o"></i> <span>Driver </span> <i class="fa fa-angle-left pull-right"></i> </a>
                                        <ul class="treeview-menu">
                                            <li>
                                                <a href="@Url.Action("Index", "eFleetDriver")"><i class="fa fa-user-plus"></i>Register Driver</a>
                                            </li>
                                            <li>
                                                <a href="@Url.Action("ListDriver", "eFleetDriver")"><i class="fa fa-list-alt"></i>List Driver</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="treeview">
                                        <a href="javascript:void(0)"> <i class="fa fa-truck"></i> <span>Vehicle </span> <i class="fa fa-angle-left pull-right"></i> </a>
                                        <ul class="treeview-menu">
                                            <li>
                                                <a href="@Url.Action("Index", "eFleetVehicle")"><i class="fa fa-bus"></i>Register Vehicle</a>
                                            </li>
                                            <li>
                                                <a href="@Url.Action("ListVehicle", "eFleetVehicle")"><i class="fa fa-list-alt"></i>List Vehicle</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="treeview">
                                        <a href="#"> <i class="fa fa-truck"></i> <span>Maintenance</span> <i class="fa fa-angle-left pull-right"></i> </a>
                                        <ul class="treeview-menu">
                                            <li>
                                                <a href="@Url.Action("Index", "eFleetMaintenance")"><i class="fa fa-user-plus"></i>Enter Maintenance</a>
                                            </li>
                                            <li>
                                                <a href="@Url.Action("ListeFleetMaintenance", "eFleetMaintenance")"><i class="fa fa-list-alt"></i>List Maintenace</a>
                                            </li>

                                        </ul>
                                    </li>
                                    <li class="treeview">
                                        <a href="#"> <i class="fa fa-clock-o"></i> <span>Preventive Maintenance</span> <i class="fa fa-angle-left pull-right"></i> </a>
                                        <ul class="treeview-menu">
                                            <li>
                                                <a href="@Url.Action("Index", "eFleetPreventativeMaintenance")"><i class="fa fa-user-plus"></i>Schedule PM</a>
                                            </li>
                                            <li>
                                                <a href="@Url.Action("ListeFleetPM", "eFleetPreventativeMaintenance")"><i class="fa fa-user-plus"></i>List PM</a>
                                            </li>

                                        </ul>
                                    </li>
                                    <li class="treeview">
                                        <a href="#"> <i class="fa fa-truck"></i> <span>Vehicle Incident</span> <i class="fa fa-angle-left pull-right"></i> </a>
                                        <ul class="treeview-menu">
                                            <li>
                                                <a href="@Url.Action("Index", "eFleetVehicleIncidentReporting")"><i class="fa fa-user-plus"></i>Report Incident</a>
                                            </li>
                                            <li>
                                                <a href="@Url.Action("ListeFleetVehicleIncident", "eFleetVehicleIncidentReporting")"><i class="fa fa-list-alt"></i>List Incident</a>
                                            </li>

                                        </ul>
                                    </li>
                                    <li class="treeview">
                                        <a href="#"> <i class="fa fa-truck"></i> <span>Passenger Tracking</span> <i class="fa fa-angle-left pull-right"></i> </a>
                                        <ul class="treeview-menu">
                                            <li>
                                                <a href="@Url.Action("create", "passenger")"><i class="fa fa-user-plus"></i>Create Route</a>
                                            </li>
                                            <li>
                                                <a href="@Url.Action("listpassengerroute", "passenger")"><i class="fa fa-list-alt"></i>List Passenger Route</a>
                                            </li>
                                            <li>
                                                <a href="@Url.Action("listpassengercount", "passenger")"><i class="fa fa-list-alt"></i>List Passenger Count</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="treeview">
                                        <a href="#"> <i class="fa fa-truck"></i> <span>Fueling</span> <i class="fa fa-angle-left pull-right"></i> </a>
                                        <ul class="treeview-menu">
                                            <li>
                                                <a href="@Url.Action("listfueling", "fueling")"><i class="fa fa-list-alt"></i>List Fueling</a>
                                            </li>

                                        </ul>
                                    </li>
                                    @if (EmployeeUser != true && ClientUser != true)//@if (!EmployeeUser || !ClientUser)
                                    {
                                        <li>
                                            <a href="@Url.Action("eFleetReport", "GlobalAdmin")"><i class="fa fa-area-chart"></i>Reports</a>
                                        </li>
                                    }
                                </ul>
                            </li>
                        }
                        if (UserRoles.Contains("eCounting") || GloblaAdminUser || ITAdminUser)
                        {
                            if (true)//added by Bhushan Dod on 08 April 2016
                            {    
                                <li class="treeview">
                                <a href="javascript:void(0)"> <i class="fa fa-taxi"></i> <span>eCounting </span> <i class="fa fa-angle-left pull-right"></i> </a>
                                <ul class="treeview-menu">
                                    <li class="treeview">
                                        <a href="#"> <i class="fa fa-clock-o"></i> <span>Vendor Management </span> <i class="fa fa-angle-left pull-right"></i> </a>
                                        <ul class="treeview-menu">
                                            <li>
                                                <a href="@Url.Action("UnApprovedVendor", "VendorManagement")"><i class="fa fa-user-plus"></i>Setup Vendor</a>
                                            </li>
                                            <li>
                                                <a href="@Url.Action("CompanyList", "VendorManagement")"><i class="fa fa-list-alt"></i>Vendor List</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="treeview">
                                        <a href="javascript:void(0)"> <i class="fa fa-truck"></i> <span>Financial Form </span> <i class="fa fa-angle-left pull-right"></i> </a>
                                        <ul class="treeview-menu">
                                            <li>
                                                <a href="@Url.Action("PDFList", "PDFData")"><i class="fa fa-bus"></i>Financial Form List</a>
                                            </li>                                   
                                        </ul>
                                    </li>
                                    <li class="treeview">
                                        <a href="@Url.Action("eCountingReport", "eCountingReport")"> <i class="fa fa-truck"></i> <span>Reports</span>  </a>                                      
                                    </li>
                                    <li class="treeview">
                                        <a href="@Url.Action("AllPOList", "POTypeData")"> <i class="fa fa-clock-o"></i> <span>PO</span>  </a>                                     
                                    </li>
                                    <li class="treeview">
                                        <a href="@Url.Action("ViewMiscellaneous", "Miscellaneous")"> <i class="fa fa-truck"></i> <span>Miscellaneous</span> </a>
                                    </li>
                                    <li class="treeview">
                                        <a href="@Url.Action("ListPreBillView", "Bill")"> <i class="fa fa-truck"></i> <span>Bills</span> </a>
                                    </li>
                                    <li class="treeview">
                                        <a href="@Url.Action("PaymentView", "Payment")"> <i class="fa fa-truck"></i> <span>Payment Desk</span> </a>
                                    </li>
                                </ul>
                            </li>




                              <!--<li class="treeview">
                                    <a href="javascript:void(0)"> <i class="fa fa-usd"></i><span>eCounting</span> <i class="fa fa-angle-left pull-right"></i> </a>
                                    <ul class="treeview-menu">
                                        <li class="dropdown-submenu">
                                            <a tabindex="-1" href="#"> <i class="fa fa-usd"></i> <span>Vendor Management</span> <i class="fa fa-angle-right pull-right"></i> </a>
                                            <ul class="dropdown-menu" style="background-color:#0aa0cd;margin-top: 50px;">
                                                <li class="dropdown-submenu">
                                                    <a href="@Url.Action("UnApprovedVendor", "VendorManagement")">Setup Vendor</a>
                                                    <a href="@Url.Action("CompanyList", "VendorManagement")">Vendor List</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="dropdown-submenu">
                                            <a tabindex="-1" href="#"> <i class="fa fa-usd"></i> <span>Financial Form</span> <i class="fa fa-angle-right pull-right"></i> </a>
                                             <ul class="dropdown-menu" style="background-color:#0aa0cd;margin-top: 75px;">
                                                <li class="dropdown-submenu">
                                                    <a href="@Url.Action("PDFList", "PDFData")">Financial Form List</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="dropdown-submenu">
                                            <a tabindex="-1" href="@Url.Action("eCountingReport", "eCountingReport")"> <i class="fa fa-usd"></i> <span>Reports</span></a>                                            
                                        </li>
                                        <li class="dropdown-submenu">
                                            <a tabindex="-1" href="@Url.Action("AllPOList", "POTypeData")"> <i class="fa fa-usd"></i> <span>PO</span></a>                                            
                                        </li>
                                        <li class="dropdown-submenu">
                                            <a tabindex="-1" href="@Url.Action("ViewMiscellaneous", "Miscellaneous")"> <i class="fa fa-usd"></i> <span>Miscellaneous</span></a>                                            
                                        </li>
                                        <li class="dropdown-submenu">
                                            <a tabindex="-1" href="@Url.Action("ListPreBillView", "Bill")"> <i class="fa fa-usd"></i> <span>Bills</span></a>                                            
                                        </li>
                                        <li class="dropdown-submenu">
                                            <a tabindex="-1" href="@Url.Action("PaymentView", "Payment")"> <i class="fa fa-usd"></i> <span>Payment Desk</span> </a>                                            
                                        </li>
                                        <li class="dropdown-submenu">
                                            <a tabindex="-1" href="@Url.Action("ListPreBillView", "Bill")"> <i class="fa fa-usd"></i> <span>Bills</span> </a>                                            
                                        </li>
                                    </ul>
                                </li>-->
                            }
                        }

                        @*if (UserRoles.Contains("Location Setup") || UserRoles.Contains("Location"))
                        {
                            <li class="treeview">
                                <a href="javascript:void(0)"> <i class="fa fa-list"></i> <span>PO</span> <i class="fa fa-angle-left pull-right"></i> </a>
                                <ul class="treeview-menu">
                                    <li>
                                        <a href="@Url.Action("Index", "POTypeData")"><i class="fa fa-list-alt"></i>Create PO</a>
                                    </li>                                   
                                </ul>
                            </li>
                        }*@

                        if (GloblaAdminUser || ITAdminUser || OnlyAdminUser || ManagerUser || ClientUser)
                        {
                            @Html.Partial("_NotificationAlert");
                        }
                    }
                    else
                    {
                        Response.Redirect("~/Login/Index");
                    }
                }
                else
                {
                    <li class="treeview">
                        <a href="javascript:void(0)"><i class="fa fa-map-marker"></i><span>Location</span> <i class="fa fa-angle-left pull-right"></i></a>
                        <ul class="treeview-menu">
                            <li>
                                <a href="@Url.Action("LocationSetup", "GlobalAdmin")"><i class="fa fa-location-arrow"></i>Create Location</a>
                            </li>
                            <li>
                                <a href="@Url.Action("ListLocation", "GlobalAdmin")"><i class="fa fa-list-alt"></i>List Location</a>
                            </li>
                        </ul>
                    </li>
                    <li class="treeview">
                        <a href="javascript:void(0)"> <i class="fa fa-user"></i> <span>Manage User</span> <i class="fa fa-angle-left pull-right"></i> </a>
                        <ul class="treeview-menu">
                            <li> <a href="@Url.Action("listclient", "GlobalAdmin")"><i class="fa fa-list-alt"></i>All User List</a></li>
                            <li> <a href="@Url.Action("CreateUser", "Common")"><i class="fa fa-user-plus"></i>Register User</a></li>
                            @*@if (Convert.ToInt64(WorkOrderEMS.Helper.UserType.Employee) != ObjLogin.UserRoleId && Convert.ToInt64(WorkOrderEMS.Helper.UserType.Client) != ObjLogin.UserRoleId)//WorkOrderEMS.Helper.UserType.Employee
                                {
                                    <li><a href="#" onclick="SidemenuNotAllowed();"><i class="fa fa-users"></i>Register User Type</a></li>
                                }*@
                            @if (GloblaAdminUser || ITAdminUser)
                            {
                                <li><a href="@Url.Action( "NotAssignedUsers", "GlobalAdmin")"><i class="fa fa-user"></i>UnAssigned User</a></li>
                            }
                            @if (GloblaAdminUser || ITAdminUser || OnlyAdminUser || ManagerUser)
                            {
                                <li><a href="@Url.Action( "UnVerifiedUsers", "GlobalAdmin")"><i class="fa fa-user-times"></i>UnVerified User</a></li>
                            }
                        </ul>
                    </li>
                    <li class="treeview">
                        <a href="javascript:void(0)"> <i class="fa fa-print"></i> <span>eScanner</span> <i class="fa fa-angle-left pull-right"></i> </a>
                        <ul class="treeview-menu">
                            <li><a href="javascript:void(0)" onclick="SidemenuNotAllowed();"><i class="fa fa-qrcode"></i>QR Code Setup</a></li>
                            <li>
                                <a href="@Url.Action("ListQRC", "QRCSetup")"><i class="fa fa-list-alt"></i>QR Code List</a>
                            </li>
                            @if (EmployeeUser != true && ClientUser != true)
                            {
                                <li>
                                    <a href="javascript:void(0)" onclick="SidemenuNotAllowed();"><i class="fa fa-area-chart"></i>Reports</a>
                                </li>

                            }
                        </ul>
                    </li>
                    <li class="treeview">
                        <a href="javascript:void(0)"> <i class="fa fa-wrench"></i> <span>eMaintenance</span> <i class="fa fa-angle-left pull-right"></i> </a>
                        <ul class="treeview-menu">
                            @if (!EmployeeUser || !ClientUser)
                            {
                                <li>
                                    <a href="javascript:void(0)" onclick="SidemenuNotAllowed(this);"><i class="fa fa-file-o"></i>Create New</a>
                                </li>
                            }
                            <li>
                                <a href="@Url.Action("WorkAssignmentList", "GlobalAdmin")"><i class="fa fa-list-alt"></i>List Work Request</a>
                            </li>
                            @if (EmployeeUser != true && ClientUser != true)//@if (!EmployeeUser || !ClientUser)
                            {
                                <li>
                                    <a href="javascript:void(0)" onclick="SidemenuNotAllowed();"><i class="fa fa-area-chart"></i>Reports</a>
                                </li>
                            }
                        </ul>
                    </li>
                    <li class="treeview">
                        <a href="javascript:void(0)"> <i class="fa fa-list"></i> <span>Daily Activity Report</span> <i class="fa fa-angle-left pull-right"></i> </a>
                        <ul class="treeview-menu">
                            <li>
                                <a href="@Url.Action("ListDAR", "DAR")"><i class="fa fa-list-alt"></i>List DAR Details</a>
                            </li>
                            @if (EmployeeUser != true && ClientUser != true)//@if (!EmployeeUser || !ClientUser)
                            {
                                <li>
                                    <a href="javascript:void(0)" onclick="SidemenuNotAllowed();"><i class="fa fa-area-chart"></i>Reports</a>
                                </li>
                            }
                        </ul>
                    </li>
                    if (GloblaAdminUser || ITAdminUser)
                    {
                        <li class="treeview">
                            <a href="javascript:void(0)"> <i class="fa fa-envelope-o"></i> <span>Other Lists</span> <i class="fa fa-angle-left pull-right"></i> </a>
                            <ul class="treeview-menu">
                                <li>
                                    <a href="@Url.Action("ListEmail", "EmailDetails")"><i class="fa fa-list-alt"></i>List Email</a>
                                </li>
                            </ul>
                        </li>
                    }

                    //if (UserRoles.Contains("Location Setup") || UserRoles.Contains("Location"))
                    //{
                    if (UserRoles.Contains("eFleet"))//added by Bhushan Dod on 04 August 2017
                                                     //if(true)
                    {
                        <li class="treeview">
                            <a href="javascript:void(0)"> <i class="fa fa-taxi"></i> <span>eFleet </span> <i class="fa fa-angle-left pull-right"></i> </a>
                            <ul class="treeview-menu">
                                <li class="treeview">
                                    <a href="javascript:void(0)"> <i class="fa fa-clock-o"></i> <span>Drivers </span> <i class="fa fa-angle-left pull-right"></i> </a>
                                    <ul class="treeview-menu">
                                        <li>
                                            <a href="javascript:void(0)" onclick="SidemenuNotAllowed();"><i class="fa fa-user-plus"></i>Register Driver</a>
                                        </li>
                                        <li>
                                            <a href="@Url.Action("ListDriver", "eFleetDriver")"><i class="fa fa-list-alt"></i>List Driver</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="treeview">
                                    <a href="javascript:void(0)"> <i class="fa fa-truck"></i> <span>Vehicle </span> <i class="fa fa-angle-left pull-right"></i> </a>
                                    <ul class="treeview-menu">
                                        <li>
                                            <a href="javascript:void(0)" onclick="SidemenuNotAllowed();"><i class="fa fa-bus"></i>Register Vehicle</a>
                                        </li>
                                        <li>
                                            <a href="@Url.Action("ListVehicle", "eFleetVehicle")"><i class="fa fa-list-alt"></i>List Vehicle</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="treeview">
                                    <a href="javascript:void(0)"> <i class="fa fa-truck"></i> <span>Maintenance</span> <i class="fa fa-angle-left pull-right"></i> </a>
                                    <ul class="treeview-menu">
                                        <li>

                                            <a href="javascript:void(0)" onclick="SidemenuNotAllowed();"><i class="fa fa-bus"></i>Create maintenance</a>
                                        </li>
                                        <li>
                                            <a href="@Url.Action("ListeFleetMaintenance", "eFleetMaintenance")"><i class="fa fa-list-alt"></i>List Maintenace</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="treeview">
                                    <a href="javascript:void(0)"> <i class="fa fa-truck"></i> <span>Preventive Maintenance</span> <i class="fa fa-angle-left pull-right"></i> </a>
                                    <ul class="treeview-menu">
                                        <li>

                                            <a href="javascript:void(0)" onclick="SidemenuNotAllowed();"><i class="fa fa-bus"></i>Schedule PM</a>
                                        </li>
                                        <li>
                                            <a href="@Url.Action("ListeFleetPM", "eFleetPreventativeMaintenance")"><i class="fa fa-list-alt"></i>List PM</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="treeview">
                                    <a href="javascript:void(0)"> <i class="fa fa-truck"></i> <span>Vehicle Incident</span> <i class="fa fa-angle-left pull-right"></i> </a>
                                    <ul class="treeview-menu">
                                        <li>

                                            <a href="javascript:void(0)" onclick="SidemenuNotAllowed();"><i class="fa fa-bus"></i>Create Incident</a>
                                        </li>
                                        <li>
                                            <a href="@Url.Action("ListeFleetVehicleIncident", "eFleetVehicleIncidentReporting")"><i class="fa fa-list-alt"></i>List Incident</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="treeview">
                                    <a href="javascript:void(0)"> <i class="fa fa-truck"></i> <span>Passenger Tracking</span> <i class="fa fa-angle-left pull-right"></i> </a>
                                    <ul class="treeview-menu">
                                        <li>

                                            <a href="javascript:void(0)" onclick="SidemenuNotAllowed();"><i class="fa fa-bus"></i>Create Route</a>
                                        </li>
                                        <li>
                                            <a href="@Url.Action("listpassengerroute", "passenger")"><i class="fa fa-list-alt"></i>List Passenger Route</a>
                                        </li>
                                        <li>
                                            <a href="@Url.Action("listpassengercount", "passenger")"><i class="fa fa-list-alt"></i>List Passenger Count</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="treeview">
                                    <a href="#"> <i class="fa fa-truck"></i> <span>Fueling</span> <i class="fa fa-angle-left pull-right"></i> </a>
                                    <ul class="treeview-menu">
                                        <li>
                                            <a href="@Url.Action("listfueling", "fueling")"><i class="fa fa-list-alt"></i>List Fueling</a>
                                        </li>

                                    </ul>
                                </li>
                                @if (EmployeeUser != true && ClientUser != true)//@if (!EmployeeUser || !ClientUser)
                                {
                                    <li>
                                        <a href="javascript:void(0)" onclick="SidemenuNotAllowed();"><i class="fa fa-area-chart"></i>Reports</a>
                                    </li>
                                }
                            </ul>
                        </li>
                    }
                    //} //Location Setup End here

                    if (GloblaAdminUser || ITAdminUser || OnlyAdminUser || ManagerUser || ClientUser)
                    {
                        @Html.Partial("_NotificationAlert");
                    }
                }
            }
        </ul>
    </section>
    <!-- /.sidebar -->
</aside>
<script>
    function CallSideMenuRegUser() {
        $("#UserRegistrationModel").modal('show');
    }

    function SidemenuNotAllowed(e) {
        bootbox.alert("Please disable view all location and select location to register.");
    }
    $(".showTooltip").focusin(function () {
        $(this).tooltip('show');

    })
    $(".showTooltip").focusout(function () {
        $(this).tooltip('hide');
    })
    $(document).ready(function () {
        $(".showTooltip").tooltip();
    })
</script>