@model WorkOrderEMS.Models.PaymentModel
@{
    ViewBag.Title = "Payment Desk List";
    //Layout = "~/Views/Shared/_ManagerLayout.cshtml";

    Layout = "~/Views/Shared/_NewAdminLayout.cshtml";

    long locationId = 0;
    long userType = 0;
    WorkOrderEMS.Models.eTracLoginModel ObjLogin = (WorkOrderEMS.Models.eTracLoginModel)Session["eTrac"];

    if (ObjLogin != null)
    {
        locationId = ObjLogin.LocationID;
        userType = ObjLogin.UserRoleId;
    }
}
@section scripts{
    <script type="text/javascript">
    var $_locationId = '@locationId';
    var $_userTypeId = '@userType';
    </script>
    <script src="~/GridListing/JqGridScript/PaymentList/ListPaymentBill.js"></script>
    <script src="~/GridListing/JqGridScript/PaymentList/ListPaidPaymentBillList.js"></script>
    <link href="~/Content/NewAdminContent/CSS/custom.css" rel="stylesheet" />
    <script type="text/javascript">
        //$(window).bind('resize', function () {
        //    var width = $('#jqGrid_containerPayment').width();
        //    $('#tbl_PaymentList').setGridWidth(width);
        //});
        //$(window).bind('resize', function () {
        //    var width = $('#jqGrid_containerPayment,#jqGrid_containerPaidPayment').width();
        //    $('#tbl_PaymentList,#tbl_PaymentPaidList').setGridWidth(width);
        //});
    </script>
}
<style>
    .form-control.input-rounded {
        border: 1px solid #CACABC !important;
    }

    input[type="radio"] {
        height: 20px;
        width: 20px;
        color: #4475b5;
    }

    .CSSClass {
        color: blue;
        text-decoration: underline;
    }

    .jsgrid-grid-body {
        height: 100% !important;
    }
</style>
<style>
    .vl {
        border-left: 2px solid #007ea4;
        height: 150px;
    }

    #tbl_PaymentPaidList td:nth-child(6) {
        cursor: pointer;
    }

    #tbl_PaymentList td:nth-child(2) {
        cursor: pointer;
    }
</style>

<div class="content-body" style="min-height: 920px;">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="card aos-init" data-aos="fade-up">
                    <div class="card-header" style="height: 45px;">
                        <div class="card-header headerSize" style="height:45px; padding:0;">
                            <div class="basic-form">
                                <div class="form-group">
                                    @Html.DropDownList("BillTypeDll", new List<SelectListItem>

                       {
                          new SelectListItem{ Text="Select Bill Type", Value = "0" },
                          new SelectListItem{ Text="Manual Bill", Value = "Manual Bill" },
                          new SelectListItem{ Text="PO", Value = "PO" },
                          new SelectListItem{ Text="MISC", Value = "MIS" }
                       }, new { @class = "form-control input-rounded", @style = "margin-top:15px;width:200px", onchange = "onChangeBill(this.value)" })
                                </div>
                            </div>

                            <div class="basic-form">
                                <div class="form-group">
                                    <input id="SearchText" type="text" style="margin-top:15px;" class="form-control input-rounded" placeholder="Vendor Name" onkeyup="doPaymentSearch()">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body jqGrid_containerPayment">
                        <div id="tbl_PaymentList" class="jsgrid" style="position: relative; height: 400px; width: 100%;">
                        </div>
                    </div>
                </div>

                <div class="card aos-init" data-aos="fade-up">
                    <div class="card-header" style="height: 45px;">
                        <div class="card-header headerSize" style="height:45px; padding:0;">
                            <div class="basic-form">
                                <div class="form-group">
                                    <input id="SearchTextResult" type="text" style="margin-top:15px;" class="form-control input-rounded" placeholder="Vendor Name" onkeyup="doPaymentSearchresult()">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body jqGrid_containerPaidPayment">
                        <div id="tbl_PaymentPaidList" class="jsgrid" style="position: relative; height: 400px; width: 100%;">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade preview" id="myModalForBillData" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog ">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="myModalLabel">Bill Details</h5>
                <button type="button" class="close" data-dismiss="modal">
                    <span>×</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="divDetailPreview" class="">
                    <div class="row">
                        <div class="" id="DivBillDetailsIndex">
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <label>Bill Id</label>
                                    <div id="lblBillId" class="form-control-static"></div>
                                </div>
                                <div class="form-group">
                                    <label>Vendor Name</label>
                                    <div id="lblVendorName" class="form-control-static"></div>
                                </div>
                                <div class="form-group">
                                    <label>Vendor Type</label>
                                    <div id="lblVendorType" class="form-control-static"></div>
                                </div>
                                <div class="form-group">
                                    <label>Bill Date</label>
                                    <div id="lblBillDate" class="form-control-static"></div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <label>Bill Amount</label>
                                    <div id="lblBillAmount" class="form-control-static"></div>
                                </div>
                                <div class="form-group">
                                    <label>Invoice Date</label>
                                    <div id="lblInvoiceDate" class="form-control-static"></div>
                                </div>
                                <div class="form-group">
                                    <label>Status</label>
                                    <div id="lblStatus" class="form-control-static"></div>
                                </div>
                                <div class="form-group">
                                    <label>Comment</label>
                                    <div id="lblComment" class="form-control-static"></div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                <div class="form-group" id="divWoimg">
                                    <label id="labelBillImage">Bill Image</label>
                                    <div id="lblBillImage">
                                        <canvas></canvas>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><br /><br />
            <div class="panel-footer">
                <div class="text-right">
                    <button type="button" class="btn btn-success text-right" style="border-radius:25px;width:90px;" id="ApproveBill" onclick="ApproveBill();">Approve</button>
                    <button type="button" class="btn btn-danger text-right" style="border-radius:25px;width:90px;" id="RejectBill">Reject</button>
                    <button data-dismiss="modal" class="btn btn-default bluebutton" style="border-radius:25px;width:90px;" id="btnCancelqwe">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="myModelCancelBill" class="modal fade bs-example-modal-md">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Cancel Bill</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>

            </div>
            <div class="modal-body m-0">
                <form class="form">

                    <div class="form-group">
                        @Html.Label("Comment", htmlAttributes: new { @class = "control-label star" })

                        @Html.TextBoxFor(model => model.Comment, new { @class = "form-control input-rounded", @id = "CommentPay", @placeholder = "Comment", @style = "border-radios:0px;" })
                        @Html.ValidationMessageFor(model => model.Comment, "", new { @class = "text-danger" })

                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary" style="border-radius:25px;width:90px;" onclick="CancelAction();">Ok</button>
            </div>
        </div>
    </div>
</div>

<div id="myModelPayBill" class="modal fade bs-example-modal-lg">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Make Payments</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>

            </div>
            <div class="modal-body m-0">
                <form class="form">
                    <div class="row mb-3">
                        <div class="col-sm-6">
                            <label style="text-align: center;width: 100%;padding: 3px 0;background-color: #ececec;">From: </label>
                            <div class="form-group">
                                <label>Operating Company Name</label>
                                <div id="lblVendorNameFrom" class="form-control-static"></div>
                            </div>
                        </div>
                        <div class="col-sm-6 vl">
                            <label style="text-align: center;width: 100%;padding: 3px 0;background-color: #ececec;">To: </label>
                            <div class="form-group">
                                <label>Vendor Name</label>
                                <div id="lblVendorNameTo" class="form-control-static"></div>
                            </div>
                            <div class="form-group">
                                <label>Payment Mode</label>
                                @Html.DropDownListFor(model => model.PaymentMode, new SelectList(ViewBag.PaymentModeList, "PaymentModeId", "PaymentModeName"), "--Select Payment Mode--", new { @id = "lblPaymentModeForChange", @class = "form-control input-rounded", onchange = "paymentmodechange()" })
                                @Html.ValidationMessageFor(model => model.PaymentMode, "", new { @class = "text-danger" })
                                @*<div id="lblPaymentModeTo" class="form-control-static"></div>*@
                            </div>
                        </div>
                    </div>
                    @Html.HiddenFor(model => model.CompanyAccountId, new { @id = "CompanyAccountId" })
                    @Html.HiddenFor(model => model.BillAmount, new { @id = "PaymentToBePaid" })
                    <hr />
                    <div class="whenCheque">
                        <div class="form-group">
                            @Html.Label("Add Cheque Number -", htmlAttributes: new { @class = "control-label  star" })

                            @Html.TextBoxFor(model => model.ChequeNo, new { @class = "form-control", @id = "ChequeNo", @placeholder = "Cheque Number", @style = "border-radios:0px;" })
                            @Html.ValidationMessageFor(model => model.ChequeNo, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="WhenCard">
                        <div class="form-group">
                            @Html.Label("CARD Number:", htmlAttributes: new { @class = "control-label star" })

                            <div id="dvOptions"></div>
                            @*@foreach(var item in Model.CardNumber)
                                {
                                    @Html.RadioButtonFor(m=> m.CARDNo,item.CardNo)
                                    @Html.Label(item.CardNo)
                                }*@
                            @Html.ValidationMessageFor(model => model.CardNumber, "", new { @class = "text-danger" })

                        </div>
                    </div>

                    <div class="WhenWired">
                        <div class="form-group">
                            @Html.Label("Account Number:", htmlAttributes: new { @class = "control-label star" })

                            <div id="dvOptionsWired"></div>
                            @*@foreach(var item in Model.AccountNumber)
                                {
                                    @Html.RadioButtonFor(m=> m.AccountNo,item.AccountNumber)
                                    @Html.Label(item.AccountNumber)
                                }*@
                            @Html.ValidationMessageFor(model => model.CARDNo, "", new { @class = "text-danger" })

                        </div>
                    </div>

                    <div class="WhenMisc">
                        <div class="form-group">
                            @Html.Label("Payable Cash Amount", htmlAttributes: new { @class = "control-label star" })

                            @*@Html.TextBoxFor(model => model.AccNo, new { @class = "form-control", @id = "AccNo", @placeholder = "Employee Account No", @style = "border-radios:0px;" })*@
                            @Html.LabelFor(model => model.PaymentByCash, new { @class = "form-control", @id = "PaymentByCash", @placeholder = "Payment Cash", @style = "border-radios:0px;" })
                            @*@Html.ValidationMessageFor(model => model.AccountNo, "", new { @class = "text-danger" })*@

                        </div>
                    </div>
                    @Html.TextAreaFor(model => model.PaymentNote, new { @class = "form-control", @id = "PaymentNote", @placeholder = "Add  Note", @style = "border-radios:0px;" })
                </form>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary bluebutton" style="border-radius:25px;width:170px;" onclick="PayAction();">Make Payment</button>
                <button data-dismiss="modal" class="btn btn-warning bluebutton" style="border-radius:25px;width:90px;" id="btnCancelPayment">Close</button>
            </div>
        </div>
    </div>
</div>


<div class="modal bs-example-modal-lg fade preview" id="myModalForPODetails" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg ">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="myModalLabel">Purchase order Details</h5>
                <button type="button" class="close pull-right" data-dismiss="modal">
                    <span>×</span>
                </button>
            </div>
            <div class="modal-body m-0">
                <div id="divDetailPreview" class="">

                    <div class="" id="DivPODetailsIndex">
                        <div class="row">
                            <div class="form-group col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                <label>PO ID</label>
                                <div id="lblPOId" class="form-control-static"></div>
                            </div>
                            <div class="form-group col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                <label>PO Type</label>
                                <div id="lblPOType" class="form-control-static"></div>
                            </div>
                            <div class="form-group col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                <label>Company Name</label>
                                <div id="lblCompanyName" class="form-control-static"></div>
                            </div>
                            <div class="form-group col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                <label>Grand Total</label>
                                <div id="lblTotal" class="form-control-static"></div>
                            </div>
                            <div class="form-group col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                <label>Location Name</label>
                                <div id="lblLocationName" class="form-control-static"></div>
                            </div>
                            <div class="form-group col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                <label>PO Date</label>
                                <div id="lblPODate" class="form-control-static"></div>
                            </div>
                            <div class="form-group col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                <label>Delivery Date</label>
                                <div id="lblDeliveryDate" class="form-control-static"></div>
                            </div>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <table id="POrecords_table" class="table" cellpadding="1" cellspacing="1" border="1">
                                <tr style="background-color: #0792bc;color: #fff !important;">
                                    <th style="width:150px">Cost Code</th>
                                    <th style="width:40px">Description</th>
                                    <th style="width:150px">Unit Price</th>
                                    <th style="width:150px">Quantity</th>
                                    <th style="width:40px">Total</th>
                                    <th style="width:40px">Tax</th>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div><br /><br />
            <div class="panel-footer p-3">
                <div class="text-right">
                    <button data-dismiss="modal" class="btn btn-primary" id="btnCancel">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal bs-example-modal-md fade preview" id="myModalForPOStatus" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md ">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="myModalLabel">PO Details</h5>
                <button type="button" class="close pull-right" data-dismiss="modal">
                    <span>×</span>
                </button>
            </div>
            <div class="modal-body m-0">
                <div id="divDetailPreview" class="">

                    <div class="" id="DivPODetailsIndex">
                        <div class="row">
                            <div class="form-group col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                <label>Bill Amount</label>
                                <div id="lblViewAmountPaid" class="form-control-static"></div>
                            </div>
                            @*<div class="form-group col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                    <label>Payment Mode</label>
                                    <div id="lblViewPaymentMode" class="form-control-static"></div>
                                </div>*@
                            <div class="form-group col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                <label>Bill Status</label>
                                <div id="lblViewStatus" class="form-control-static"></div>
                            </div>
                            <div class="form-group col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                <label>Notes</label>
                                <div id="lblViewNotes" class="form-control-static"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><br /><br />
            <div class="panel-footer p-3">
                <div class="text-right">
                    <button data-dismiss="modal" class="btn btn-primary" id="btnCancel">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $(".drpLocation").hide();
    })
    $("#RejectBill").on("click", function (event) {
        $("#myModelRejectBill").modal('show');
    });
</script>
<script src="~/Scripts/Search/Searching.js"></script>
