@model WorkOrderEMS.Models.PaymentModel
@{
    ViewBag.Title = "Payment Desk List";
    Layout = "~/Views/Shared/_ManagerLayout.cshtml";

    long locationId = 0;
    long userType = 0;
    WorkOrderEMS.Models.eTracLoginModel ObjLogin = (WorkOrderEMS.Models.eTracLoginModel)Session["eTrac"];

    if (ObjLogin != null)
    {
        locationId = ObjLogin.LocationID;
        userType = ObjLogin.UserRoleId;
    }
}
@section scripts{
    <script type="text/javascript">
    var $_locationId = '@locationId';
    var $_userTypeId = '@userType';
    </script>
    <script src="~/GridListing/JqGridScript/PaymentList/ListPaymentBill.js"></script>
    <script src="~/GridListing/JqGridScript/PaymentList/ListPaidPaymentBillList.js"></script>
    <script type="text/javascript">
    $(window).bind('resize', function () {
        var width = $('#jqGrid_containerPayment').width();
        $('#tbl_PaymentList').setGridWidth(width);
    });
    $(window).bind('resize', function () {
        var width = $('#jqGrid_containerPayment,#jqGrid_containerPaidPayment').width();
        $('#tbl_PaymentList,#tbl_PaymentPaidList').setGridWidth(width);
    });
    </script>
}
<style>
    input[type="radio"] {
        height: 20px;
        width: 20px;
        color: #4475b5;
    }
    .CSSClass {
        color: blue;
        text-decoration: underline;
    }
</style>
<style>
    .vl {
        border-left: 2px solid #007ea4;
        height: 150px;
    }
    #tbl_PaymentList td:nth-child(6) {
        cursor: pointer;
    }
</style>

<div id="jqGrid_containerPayment" style="width:98%;margin-left:16px;">
    <table id="tbl_PaymentList" border="0" cellpadding="0" cellspacing="0"></table>
    <div id="divPaymentListPager"></div>
</div>
<br /><br />
<div id="jqGrid_containerPaidPayment" style="width:98%;margin-left:16px;">
    <table id="tbl_PaymentPaidList" border="0" cellpadding="0" cellspacing="0"></table>
    <div id="divPaymentPaidListPager"></div>
</div>

<div class="modal fade preview" id="myModalForBillData" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog ">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">X</span></button>
                <h4 class="modal-title" id="myModalLabel">Bill Details</h4>
            </div>
            <div class="modal-body">
                <div id="divDetailPreview" class="">
                    <div class="row">
                        <div class="" id="DivBillDetailsIndex">
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <label>Bill Id</label>
                                    <div id="lblBillId" class="form-control-static"></div>
                                </div>
                                <div class="form-group">
                                    <label>Vendor Name</label>
                                    <div id="lblVendorName" class="form-control-static"></div>
                                </div>
                                <div class="form-group">
                                    <label>Vendor Type</label>
                                    <div id="lblVendorType" class="form-control-static"></div>
                                </div>
                                <div class="form-group">
                                    <label>Bill Date</label>
                                    <div id="lblBillDate" class="form-control-static"></div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <label>Bill Amount</label>
                                    <div id="lblBillAmount" class="form-control-static"></div>
                                </div>
                                <div class="form-group">
                                    <label>Invoice Date</label>
                                    <div id="lblInvoiceDate" class="form-control-static"></div>
                                </div>
                                <div class="form-group">
                                    <label>Status</label>
                                    <div id="lblStatus" class="form-control-static"></div>
                                </div>
                                <div class="form-group">
                                    <label>Comment</label>
                                    <div id="lblComment" class="form-control-static"></div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                <div class="form-group" id="divWoimg">
                                    <label id="labelBillImage">Bill Image</label>
                                    <div id="lblBillImage">
                                        <canvas></canvas>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><br /><br />
            <div class="panel-footer">
                <div class="text-right">
                    <button type="button" class="btn btn-success text-right" style="border-radius:25px;width:90px;" id="ApproveBill" onclick="ApproveBill();">Approve</button>
                    <button type="button" class="btn btn-danger text-right" style="border-radius:25px;width:90px;" id="RejectBill">Reject</button>
                    <button data-dismiss="modal" class="btn btn-default bluebutton" style="border-radius:25px;width:90px;" id="btnCancelqwe">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="myModelCancelBill" class="modal fade bs-example-modal-md">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Bill</h4>
            </div>
            <div class="modal-body">
                <form class="form">
                    <div class="row">
                        <div class="form-group">
                            @Html.Label("Comment", htmlAttributes: new { @class = "control-label col-lg-2 star" })
                            <div class="col-lg-7 col-md-8 col-sm-8 col-xs-12">
                                @Html.TextBoxFor(model => model.Comment, new { @class = "form-control", @id = "CommentPay", @placeholder = "Comment", @style = "border-radios:0px;" })
                                @Html.ValidationMessageFor(model => model.Comment, "", new { @class = "text-danger" })

                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-default bluebutton" style="border-radius:25px;width:90px;" onclick="CancelAction();">Ok</button>
            </div>
        </div>
    </div>
</div>

<div id="myModelPayBill" class="modal fade bs-example-modal-md">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Make Payment</h4>
            </div>
            <div class="modal-body">
                <form class="form">
                    <div class="row">
                        <div class="col-sm-5">
                            <label style="text-align:center;">From</label>
                            <div class="form-group">
                                <label>Operating Company Name</label>
                                <div id="lblVendorNameFrom" class="form-control-static"></div>
                            </div>
                        </div>
                        <div class="col-sm-2 vl"></div>

                        <div class="col-sm-5">
                            <label style="text-align:center;">To</label>
                            <div class="form-group">
                                <label>Vendor Name</label>
                                <div id="lblVendorNameTo" class="form-control-static"></div>
                            </div>
                            <div class="form-group">
                                <label>Payment Mode</label>
                                <div id="lblPaymentModeTo" class="form-control-static"></div>
                            </div>
                        </div>
                    </div>
                    @Html.HiddenFor(model => model.CompanyAccountId, new { @id = "CompanyAccountId" })
                    <div class="row whenCheque">
                        <div class="form-group">
                            @Html.Label("Checque No", htmlAttributes: new { @class = "control-label col-lg-2 star" })
                            <div class="col-lg-7 col-md-8 col-sm-8 col-xs-12">
                                @Html.TextBoxFor(model => model.ChequeNo, new { @class = "form-control", @id = "ChequeNo", @placeholder = "Comment", @style = "border-radios:0px;" })
                                @Html.ValidationMessageFor(model => model.ChequeNo, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <hr id="hr1" style="display:none;" />
                    <div class="row WhenCard">
                        <div class="form-group">
                            @Html.Label("CARD Number:", htmlAttributes: new { @class = "control-label col-lg-2 star" })
                            <div class="col-lg-7 col-md-8 col-sm-8 col-xs-12">
                                <div id="dvOptions"></div>
                                @*@foreach(var item in Model.CardNumber)
                    {
                        @Html.RadioButtonFor(m=> m.CARDNo,item.CardNo)
                        @Html.Label(item.CardNo)
                    }*@
                                @Html.ValidationMessageFor(model => model.CardNumber, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <hr id="hr2" style="display:none;" />
                    <div class="row WhenWired">
                        <div class="form-group">
                            @Html.Label("Account Number:", htmlAttributes: new { @class = "control-label col-lg-2 star" })
                            <div class="col-lg-7 col-md-8 col-sm-8 col-xs-12">
                                <div id="dvOptionsWired"></div>
                                @*@foreach(var item in Model.AccountNumber)
                    {
                        @Html.RadioButtonFor(m=> m.AccountNo,item.AccountNumber)
                        @Html.Label(item.AccountNumber)
                    }*@
                                @Html.ValidationMessageFor(model => model.CARDNo, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <hr id="hr3" style="display:none;" />
                    <div class="row WhenMisc">
                        <div class="form-group">
                            @Html.Label("Employee Account No", htmlAttributes: new { @class = "control-label col-lg-2 star" })
                            <div class="col-lg-7 col-md-8 col-sm-8 col-xs-12">
                                @Html.TextBoxFor(model => model.AccNo, new { @class = "form-control", @id = "AccNo", @placeholder = "Employee Account No", @style = "border-radios:0px;" })
                                @Html.ValidationMessageFor(model => model.AccountNo, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-default bluebutton" style="border-radius:25px;width:170px;" onclick="PayAction();">Make Payment</button>
            </div>
        </div>
    </div>
</div>


<div class="modal bs-example-modal-lg fade preview" id="myModalForPODetails" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg ">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">X</span></button>
                <h4 class="modal-title" id="myModalLabel">PO Details</h4>
            </div>
            <div class="modal-body">
                <div id="divDetailPreview" class="">
                    <div class="row">
                        <div class="" id="DivPODetailsIndex">
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <label>PO ID</label>
                                    <div id="lblPOId" class="form-control-static"></div>
                                </div>
                                <div class="form-group">
                                    <label>PO Type</label>
                                    <div id="lblPOType" class="form-control-static"></div>
                                </div>
                                <div class="form-group">
                                    <label>Company Name</label>
                                    <div id="lblCompanyName" class="form-control-static"></div>
                                </div>
                                <div class="form-group">
                                    <label>Grand Total</label>
                                    <div id="lblTotal" class="form-control-static"></div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <label>Location Name</label>
                                    <div id="lblLocationName" class="form-control-static"></div>
                                </div>
                                <div class="form-group">
                                    <label>PO Date</label>
                                    <div id="lblPODate" class="form-control-static"></div>
                                </div>
                                <div class="form-group">
                                    <label>Delivery Date</label>
                                    <div id="lblDeliveryDate" class="form-control-static"></div>
                                </div>                                
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <table id="POrecords_table" class="table" cellpadding="1" cellspacing="1" border="1">
                                <tr style="background-color:#0792bc;">
                                    <th style="width:150px">Cost Code</th>
                                    <th style="width:40px">Description</th>
                                    <th style="width:150px">Unit Price</th>
                                    <th style="width:150px">Quantity</th>
                                    <th style="width:40px">Total</th>
                                    <th style="width:40px">Tax</th>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div><br /><br />
            <div class="panel-footer">
                <div class="text-right">
                    <button data-dismiss="modal" class="btn btn-default" id="btnCancel">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function(){
       $(".drpLocation").hide();
    })
    $("#RejectBill").live("click", function (event) {
        $("#myModelRejectBill").modal('show');
    });
</script>
<script src="~/Scripts/Search/Searching.js"></script>
