@{
    ViewBag.Title = "eFleet Report";
    Layout = "~/Views/Shared/_ManagerLayout.cshtml";
}
<script src="~/Content/Report-NavBar/jquery.smooth-scroll.js"></script>
<script src="~/Content/Report-NavBar/run_prettify.js"></script>
<!-- stylesheets-->
<link href="http://fonts.googleapis.com/css?family=Lustria|Lato:300,400,700,400italic" rel="stylesheet" type="text/css">
<link href="~/Content/Report-NavBar/ohover.css" rel="stylesheet" />
<link href="~/Content/Report-NavBar/main.css" rel="stylesheet" />
<style>
    #ReportBar li a {
        border-radius: 4px 4px 0 0 !important;
        border-color: lightgray;
    }

    l .active a {
        background-color: #0aa0cd !important;
        color: white !important;
    }
</style>
<div class="clearfix"></div>
<div class="content-header ">
    <div class="panel">
        <div data-example-id="simple-nav-justified" class="bs-example">
            <div class="row-2">
                <div class="item-hover circle effect3 left_to_right">
                    <a href="@Url.Action("GetFuelReport","Report")">
                        <div class="img"><img src="~/Content/Images/Report/WorkOrderIssued.png"></div>
                        <div class="info">
                            <h5>Fueling</h5>
                        </div>
                    </a>
                </div>
            </div>
            <div class="row-2">
                <div class="item-hover circle effect3 left_to_right">
                    <a href="@Url.Action("GetDriverDetailsReport", "Report")">
                        <div class="img"><img src="~/Content/Images/Report/Assignedworkorder.png"></div>
                        <div class="info">
                            <h5>Driver Details</h5>
                        </div>
                    </a>
                </div>
            </div>
            <div class="row-2">
                <div class="item-hover circle effect3 left_to_right">
                    <a href="@Url.Action("GetMaintenanceDetails", "Report")">
                        <div class="img"><img src="~/Content/Images/Report/workordericon.jpg"></div>
                        <div class="info">
                            <h5>Maintenance Details</h5>
                        </div>
                    </a>
                </div>
            </div>
            <div class="row-2">
                <div class="item-hover circle colored effect3 left_to_right">
                    <a href="@Url.Action("GetIncidentDetails", "Report")">
                        <div class="img"><img src="~/Content/Images/Report/icon-savetime.png"></div>
                        <div class="info">
                            <h5>Incident Details</h5>
                        </div>
                    </a>
                </div>
            </div>
            <div class="row-2">
                <div class="item-hover circle colored effect3 left_to_right">
                    <a href="@Url.Action("GetVehicleReport", "Report")">
                        <div class="img"><img src="~/Content/Images/Report/checklist-3.png"></div>
                        <div class="info">
                            <h5>Vehicle Details</h5>
                        </div>
                    </a>
                </div>
            </div>
            <div class="row-2">
                <div class="item-hover circle colored effect3 left_to_right">
                    <a href="@Url.Action("GetPassengerCountReport", "Report")">
                        <div class="img"><img src="~/Content/Images/Report/WorkOrderFixedTime.jpg" alt="img"></div>
                        <div class="info">
                            <h5>Passenger Count</h5>
                        </div>
                    </a>
                </div>
            </div>
            <div class="row-2">
                <div class="item-hover circle colored effect3 left_to_right">
                    <a href="@Url.Action("GetMileageReport", "Report")">
                        <div class="img"><img src="~/Content/Images/Report/fixedtime.png" alt="img"></div>
                        <div class="info">
                            <h5>Mileage Report</h5>
                        </div>
                    </a>
                </div>
            </div>
            <div class="row-2">
                <div class="item-hover circle colored effect3 left_to_right">
                    <a href="@Url.Action("GeteFleetDamageDetails", "Report")">
                        <div class="img"><img src="~/Content/Images/Report/fixedtime.png" alt="img"></div>
                        <div class="info">
                            <h5>Damage Report</h5>
                        </div>
                    </a>
                </div>
            </div>
            <div class="row-2">
                <div class="item-hover circle colored effect3 left_to_right">
                    <a href="@Url.Action("GetInspectionReport", "Report")">
                        <div class="img"><img src="~/Content/Images/Report/fixedtime.png" alt="img"></div>
                        <div class="info">
                            <h5>Inspection Report</h5>
                        </div>
                    </a>
                </div>
            </div>
            <div class="row-2">
                <div class="item-hover circle colored effect3 left_to_right">
                    <a href="@Url.Action("GetDefectReport", "Report")">
                        <div class="img"><img src="~/Content/Images/Report/fixedtime.png" alt="img"></div>
                        <div class="info">
                            <h5>Defect Report</h5>
                        </div>
                    </a>
                </div>
            </div>
            <div class="row-2">
                <div class="item-hover circle colored effect3 left_to_right">
                    <a href="@Url.Action("PassengerCountReport", "Report")">
                        <div class="img"><img src="~/Content/Images/Report/fixedtime.png" alt="img"></div>
                        <div class="info">
                            <h5>Passenger Count</h5>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>