@model WorkOrderEMS.Models.eCounting.DebitMemo.DebitMemoModel
@{
    ViewBag.Title = "Debit Memo";

    Layout = "~/Views/Shared/_NewAdminLayout.cshtml";
    long locationId = 0;
    long userType = 0;
    WorkOrderEMS.Models.eTracLoginModel ObjLogin = (WorkOrderEMS.Models.eTracLoginModel)Session["eTrac"];

    if (ObjLogin != null)
    {
        locationId = ObjLogin.LocationID;
        userType = ObjLogin.UserRoleId;
    }
    //string hostingPrefix = System.Configuration.ConfigurationManager.AppSettings["hostingPrefix"];
    //string CompanyDocPath = System.Configuration.ConfigurationManager.AppSettings["DebitMemoDocuments"];
}
@section scripts{
    <script type="text/javascript">
    var $_locationId = '@locationId';
    var $_userTypeId = '@userType';
    </script>
    <script src="~/GridListing/JsGridScript/ListDebitMemo.js"></script>
    <link href="~/Content/NewAdminContent/CSS/custom.css" rel="stylesheet" />
}


<div class="content-body">
    <div class="container-fluid">
        <div class="row page-titles mx-0 aos-init aos-animate" data-aos="fade-up">
            <div class="col-sm-6 p-md-0">
                <div class="welcome-text">
                    <h4>Debit Memo</h4>
                    <ol class="breadcrumb">
                        
                        <li class="breadcrumb-item active"><a href="javascript:void(0)">Debit Memo</a></li>
                    </ol>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="card aos-init" data-aos="fade-up">

                    <div class="card-header headerSize">                       
                        <div class="basic-form">                          
                                <input id="searchDebitMemotext" name="SearchText" type="text" class="form-control input-rounded" placeholder="Vendor Name">                         
                        </div>                      
                            <a href="javascript:void(0)" id="AddDebitMemo" class="btn btn-rounded btn-success"><span class="btn-icon-left text-info"><i class="fa fa-plus color-info"></i></span> Add</a>
                    </div>

                    <div class="card-body">
                        <div id="jsGrid_DebitMemoList" class="jsgrid">
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
@*@using (Ajax.BeginForm("SaveDebitMemoByVendorId", "DebitMemo", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "ResultDiv", InsertionMode = InsertionMode.Replace }, new { enctype = "multipart/form-data", @id = "debitMemoForm", @class = "step-form-horizontal" }))*@
@*@using (Html.BeginForm("SaveDebitMemoByVendorId", "DebitMemo", FormMethod.Post, new { enctype = "multipart/form-data", @id = "debitMemoForm" , @class = "step-form-horizontal"}))*@
<div class="modal bs-example-modal-lg fade preview" id="myModalForNewDebitMemo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            @using (Ajax.BeginForm("", "", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "ResultDiv", InsertionMode = InsertionMode.Replace }, new { enctype = "multipart/form-data", @id = "debitMemoForm", @class = "step-form-horizontal" }))
            {
                <div class="modal-header">
                    @Html.HiddenFor(x => x.ActionModeI, new { @id = "ActionModeI" })

                    <h5 class="modal-title" id="myAddModalLabel">Add Debit Memo</h5>

                    <button type="button" class="close" data-dismiss="modal">
                        <span>×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div id="divDetailPreview">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label>Location Name</label>
                                    @if (Session != null)
                                    {
                                        if (Session["eTrac_UserLocations"] != null)
                                        {

                                            @Html.DropDownList("Location", new SelectList((List<WorkOrderEMS.Models.UserLocations>
                                                )Session["eTrac_UserLocations"], "LocationId", "LocationName"), "--Select Locaion--", new { @id = "Location", @onchange = "getVendorList(false)", @class = "form-control input-rounded" })
                                        }
                                    }
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label>Vendor Name</label>
                                    @Html.DropDownListFor(model => model.VendorId, new SelectList(ViewBag.VendorList, "Value", "Text"), new { @id = "Vendor", @onchange = "getProductOrderList(this.value)", @class = "form-control input-rounded" })
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label>Purchase Order</label>
                                    @Html.DropDownListFor(model => model.PurchaseOrderId, new SelectList(ViewBag.ProductOrderList, "LogPOId", "DisplayLogPOId"), "--Select Product Order Name--", new { @id = "ProductOrderId", @class = "form-control input-rounded" })
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label>Debit Amount</label>
                                    @Html.TextBoxFor(x => x.DebitAmount, new { @id = "DebitAmount", @class = "form-control input-rounded" })
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label>Note</label>
                                    @Html.TextAreaFor(x => x.Note, new { @id = "Note", @class = "form-control input-rounded" })
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label>Status</label>
                                    @Html.EnumDropDownListFor(x => x.DebitMemoStatus, "Select the status", new { @class = "form-control input-rounded" })
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label class="col-form-label">Upload reference document</label>

                                    <div class="custom-file">
                                        <input id="DebitMemoFile" type="file" class="custom-file-input" name="DebitMemoFile" />
                                        <label class="custom-file-label">Choose file</label>
                                    </div>

                                    

                                    @*@Html.fileu(x => x.Note, new { @id = "uploadfile", @class = "form-control input-rounded" })*@
                                </div>
                            </div>

                          

                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success btn-rounded" id="ConfirmDebitMemo">Confirm</button>
                    <button data-dismiss="modal" class="btn btn-secondary btn-rounded" id="btnCancelDebitMemo">Close</button>
                </div>
            }
        </div>
    </div>
</div>

<div class="modal bs-example-modal-lg fade preview" id="myModalForEditDebitMemo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            @using (Ajax.BeginForm("", "", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "ResultDiv", InsertionMode = InsertionMode.Replace }, new { enctype = "multipart/form-data", @id = "debitMemoEditForm", @class = "step-form-horizontal" }))
            {
                <div class="modal-header">
                    @Html.HiddenFor(x => x.ActionModeU, new { @id = "ActionModeU" })
                    @Html.HiddenFor(x => x.DebitId, new { @id = "DebitId" })
                    @Html.HiddenFor(x => x.UploadedEditDocumentName, new { @id = "UploadedEditDocumentName" })

                    <h5 class="modal-title" id="myEditModalLabel">Edit Debit Memo</h5>

                    <button type="button" class="close" data-dismiss="modal">
                        <span>×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div id="divDetailPreview">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label>Location Name</label>
                                    <div id="lblEditLocationName" class="form-control-static"></div>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label>Vendor Name</label>
                                    <div id="lblEditVendor" class="form-control-static"></div>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label>Purchase Order</label>
                                    <div id="lblEditPoOrderId" class="form-control-static"></div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label>Debit Amount</label>
                                    <div id="lblEditDebitAmount" class="form-control-static"></div>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label>Note</label>
                                    <div id="lblEditNote" class="form-control-static"></div>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label>Status</label>
                                    @Html.EnumDropDownListFor(x => x.DebitMemoStatusEdit, "Select the status", new { @class = "form-control input-rounded" })
                                </div>
                            </div>

                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label class="col-form-label">Upload reference document</label>

                                    <div class="custom-file">
                                        <input id="editNewDocument type="file" style="" class="custom-file-input" name="editNewDocument" />
                                        <label class="custom-file-label">Choose file</label>
                                    </div>

                                  

                                    @*@Html.fileu(x => x.Note, new { @id = "uploadfile", @class = "form-control input-rounded" })*@
                                </div>
                            </div>

                           


                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success btn-rounded"  id="ConfirmDebitMemo">Confirm</button>
                    <button data-dismiss="modal" class="btn btn-secondary btn-rounded" id="btnCancelDebitMemo">Close</button>
                </div>
            }
        </div>
    </div>
</div>

<div class="modal bs-example-modal-lg fade preview" id="myModalForDMDetails" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg ">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="myModalLabel">Debit Memo Details</h5>
                <button type="button" class="close pull-right" data-dismiss="modal">
                    <span>×</span>
                </button>
            </div>
            <div class="modal-body m-0">
                <div id="divDetailPreview" class="">

                    <div class="" id="DivPODetailsIndex">
                        <div class="row">
                            <div class="form-group col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                <label>Debit Memo ID</label>
                                <div id="lblDMId" class="form-control-static"></div>
                            </div>
                            <div class="form-group col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                <label>Location of Vendor</label>
                                <div id="lblDMLocation" class="form-control-static"></div>
                            </div>
                            <div class="form-group col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                <label>Vendor Name</label>
                                <div id="lblVendorName" class="form-control-static"></div>
                            </div>
                            <div class="form-group col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                <label>Purchase Order Name</label>
                                <div id="lblPOName" class="form-control-static"></div>
                            </div>
                            <div class="form-group col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                <label>Total Debit Amount</label>
                                <div id="lblDebitAmount" class="form-control-static"></div>
                            </div>
                            <div class="form-group col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                <label>Debit Memo Status</label>
                                <div id="lblDmStatus" class="form-control-static"></div>
                            </div>
                            <div class="form-group col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                <label>Notes</label>
                                <div id="lblDebitNotes" class="form-control-static"></div>
                            </div>
                            <div class="form-group col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                <label>Debit Memo Date</label>
                                <div id="lblDMDate" class="form-control-static"></div>
                            </div>
                            <div class="form-group col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                <label>Click to download document</label>
                                <button id="fileForDownload" type="button" onclick="downloadFile()">Download!</button>
                                <div id="nofilemsg"></div>
                                @Html.HiddenFor(x => x.UploadedDocumentName)
                            </div>
                        </div>
                    </div>
                </div>
            </div><br /><br />
            <div class="panel-footer p-3">
                <div class="text-right">
                    <button data-dismiss="modal" class="btn btn-secondary btn-rounded" id="btnCancel">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>
