@model WorkOrderEMS.Models.Employee.ConfidenialityAgreementModel
<style>

	.text-line {
		background-color: transparent;
		outline: none;
		outline-style: none;
		border-top: none;
		border-left: none;
		border-right: none;
		border-bottom: solid #000 1px;
	}

	h3 {
		margin: 100px 0px 0px 83px;
	}

	.p1 {
		font-size: 20px;
		font-family: Times New Roman;
		margin: 73px 149px 0px 80px;
	}

	li {
		text-align: justify;
	}

	.fo1 {
		font-weight: bold;
	}

	.head1 {
		text-align: center;
		font-size: 20px;
	}

	.center {
		display: block;
		margin-left: auto;
		margin-right: auto;
	}

	.row {
		display: flex;
	}
	input[type="checkbox"]:after {
		line-height: 1.5em !important;
		content: '' !important;
		display: block !important;
		margin-top: -3px !important;
		margin-left: -3px !important;
		border: 1px solid transparent !important;
		border-radius: 0px !important;
		line-height: 1.3 !important;
		background: none !important;
	}
	
</style>
@using (Html.BeginForm("_ConfidentialityAgreementForm", "Guest", FormMethod.Post, new { id = "confidentialityagreementform" }))
{
<div class="p1">
	<div class="row">
		<img src="~/Images/FormImages/image-form.jpg" alt="background image" />
		<h3><u>Confidentiality And Non-Competition Agreement</u></h3>
	</div>

	<p>This Confidentiality and Non-Competition Agreement (“Agreement”) is executed on @Html.TextBoxFor(x => x.Date, new { @class = "text-line" }) , 20 @Html.TextBoxFor(x => x.By, new { @class = "text-line", @style = "width: 30px;" }), by and between @Html.TextBoxFor(x => x.Between, new { @class = "text-line" }) (“Manager”) and Elite Parking Services of America, Inc., on behalf of itself and any companies which it owns, controls, or is affiliated with, and its successors in business (collectively, the “Company”).</p>
	<p class="head1">R E C I T A L S:</p>
	<ol style="list-style-type: upper-alpha;">
		<li> The Company desires to engage or continue to engage Manager, as an employee, to perform services relating to parking operations within the United States and International markets.</li>
		<li> Manager will perform services for the Company in a position which will allow Manager access to Proprietary Information belonging to the Company or regarding the Company’s business, and which will require the Manager to perform services of a unique and special nature.</li>
		<li> Manager’s services for the Company may result in the generation and retention of Proprietary Information in relation to Manager’s position with the Company, and the Company desires to obtain exclusive ownership of such Proprietary Information generated or retained by Manager during the course of his or her business relationship with the Company; and the parties hereto acknowledge that the Company will be at a substantial competitive disadvantage if it fails to acquire exclusive ownership of such Proprietary Information. Further, Manager agrees that such Proprietary Information is a trade secret of Company, and shall be accorded such protection as entitled by law (the “Trade Secrets”).</li>
		<li> The Company desires to receive from Manager covenants (a) not to disclose any Proprietary Information acquired during the course of the relationship with the Company, (b) not to engage in competitive activities against the Company within a reasonable geographic area for a reasonable time, (c) not to solicit any employee or independent contractor of the Company to terminate his or her business relationship with the Company, (d) not to solicit any former or existing employees or independent contractors to engage in competitive activities against the Company, and (e) not to solicit any former, existing or potential customers of the Company.</li>
		<li> The Company and Manager desire to set forth in writing the terms and conditions of their agreements and understanding with respect to these covenants against disclosure of Proprietary Information, solicitation of employees or independent contractors, solicitation of customers, and the Company’s right to obtain and retain exclusive ownership of its Proprietary Information, which obligations shall survive after the date of termination of the parties’ business relationship. This Agreement does not purport to set forth all the terms and conditions of the business relationship between Manager and the Company.</li>
		<li>
			For purposes of this Agreement, the term “Proprietary Information” shall mean any technical, business, financial or other information or data, regardless of form, which may have commercial value in the business in which the Company is engaged, and is applicable to the following:
			<ol>
				<li> the business of the Company, including but not limited to research, development, methods, operations systems, Information Systems, business plans or opportunities, business strategies, marketing plans or opportunities, trade secrets, costs, prices, vendors or customers;</li>
				<li> the business of any former, existing or potential client or customer of the Company;</li>
				<li> information that has been created, discovered, developed or otherwise become known to the Company; or</li>
				<li> information that has been created, discovered, developed, or made known by Manager during the period of, or arising out of the business relationship with the Company.</li>
			</ol>
			Notwithstanding the foregoing, any Proprietary Information shall be the exclusive property of the Company, and any information obtained from a third party that either party treats as proprietary or confidential, and any information, regardless of form, exchanged by either party that is labeled as “Proprietary Information” shall be presumed to be Proprietary Information and shall be handled and treated in accordance with the terms of this Agreement.
		</li>
		<li> For purposes of this Agreement, “Intellectual Property” means all inventions, discoveries, developments, writings, computer programs and related documentation, designs, ideas, and any other work product made or conceived by Manager during the term of employment with Company which (1) relate to the present or reasonably anticipated business of the Company, or (2) were made or created with the use of Proprietary Information or any equipment, supplies, or facilities of the Company. Such property made or conceived by Manager (or for which Manager files a patent or copyright application) within one year after termination of employment with Company will be presumed to have been made or conceived during such employment.</li>
		<li> In consideration of the foregoing, of the mutual promises contained in this Agreement, and the compensation now and hereafter paid to Manager, Manager hereby acknowledges and agrees with the Company as follows:</li>
	</ol>
	<p class="head1">A G R E E M E N T:</p>
	<ol>
		<li> <span class="fo1">Recitals.</span> The RECITALS set forth above are true and correct and are incorporated into this Agreement and are relied upon by Manager and the Company in the execution of this Agreement.</li>
		<li><span class="fo1">Ownership of Proprietary Information.</span> All Proprietary Information belongs exclusively to the Company and shall remain the sole property of the Company. Nothing contained in this Agreement shall be deemed, by implication, estoppel or otherwise, to grant any right or license thereto to the Manager or to any other entity or person.</li>
		<li>
			<span class="fo1">Confidentiality and Nondisclosure.</span> Manager acknowledges that all Proprietary Information is the exclusive property of the Company, and Manager agrees to keep in strict secrecy and confidence all Proprietary Information and knowledge to which Manager has access or assimilates during or arising out of Manager’s business relationship with the Company. Manager agrees that, unless it has obtained the Company’s prior written permission:
			<ol style="list-style-type: lower-alpha;">
				<li> Manager will not disclose any of the Company’s Proprietary Information to any third party, nor will Manager use the Proprietary Information for the benefit of Manager or for the benefit of any other person, entity, or entities other than the Company;</li>
				<li> Manager will copy (or utilize, as the case maybe) only such portions of the Company’s Proprietary Information as may reasonably be required to carry out the Company’s business purpose, provided that when copying each such copy, whether in whole or in part, includes a reproduction of all proprietary markings and legends contained on the original which pertain to the copied portions, and except as necessary for the conduct of the Company’s business, no Proprietary Information in any form will be removed from the Company’s offices or locations; with respect to the Proprietary Information has constitutes systems and/or electronic data, Manager shall comply with the Company’s applicable IT and Security Policies;</li>
				<li> Manager agrees to promptly disclose to Company and does hereby assign to Company all Intellectual Property, and Manager agrees to execute such other documents as Company may request in order to effectuate such assignment; and</li>
				<li> Upon termination of Manager’s business relationship with the Company, Manager will immediately return all property in his or her possession including Proprietary Information belonging to the Company, delete any software included in the Proprietary Information from any computer equipment on which it is then installed, and Manager will immediately cease to hold him or herself out as a representative of the Company.</li>
			</ol>
		</li>
		<li> <span class="fo1">Restrictions on Use of Proprietary Information. </span>Manager may use the Company’s Proprietary Information to evaluate, propose and/or interface with the Company and/or third parties, but only for the benefit of the Company in furtherance of the Company’s business purpose. Manager will not use any of the Company’s Proprietary Information, either directly or indirectly, for his or her own benefit nor for the benefit of any third party not related to the Company’s business purpose, without first obtaining Company’s prior written approval.</li>
		<li><span class="fo1">Inadvertent Disclosure.  </span>Manager will protect and handle the Company’s Proprietary Information to prevent its unauthorized disclosure. If Manager fails to reasonably protect and safeguard the Company’s Proprietary Information, Manager maybe liable for accidental or inadvertent disclosure or use of Proprietary Information. If Manager becomes aware of accidental or inadvertently disclosed Proprietary Information, Manager will immediately notify the Company in writing, and Manager will take such additional measures as may be required under the circumstances to prevent any further unauthorized disclosure or use of the Company’s Proprietary Information, including following directions from Manager’s supervisor with respect to such disclosure.</li>
		<li><span class="fo1">Involuntary Disclosure. </span>In the event Manager receives a subpoena or other validly issued administrative or judicial process demanding disclosure of the Company’s Proprietary Information, Manager shall promptly notify the Company, and shall follow following directions from Manager’s supervisor with respect to such request. If requested by the Company, Manager shall cooperate in the defense of a demand.</li>
		<li>
			<span class="fo1">Non-solicitation and Non-competition. </span>
			<ol style="list-style-type: lower-alpha;">
				<li> During the term of Manager’s business relationship with the Company, and for a period of twenty four (24) months after the date of termination of Manager’s business relationship with the Company (the “Restricted Period”), Manager shall not directly or indirectly, within a radius of one-hundred and fifty (150) miles from any of the Company’s offices or locations from which the Company provides parking services (the “Restricted Area”), enter into, engage in, be employed by, or consult with any person or entity in competition with the business of the Company as it is then carried on, either as an independent contractor, agent, employee, partner, joint venturer, officer, director, stockholder or otherwise.</li>
				<li>
					During the Restricted Period, Manager will not directly or indirectly, as an individual, independent contractor, agent, employee, partner, joint venturer, officer, director, stockholder or otherwise:
					<ol>
						<li> Solicit any of the employees or agents of the Company to terminate his or her business relationship with the Company;</li>
						<li> Solicit any former, existing or potential client or customer of the Company for the purpose of soliciting or enticing such clients or customers to transact business in competition with the Company; or</li>
						<li> Aid or assist any person or entity to solicit, divert or take away any client or customer of the Company.</li>
					</ol>
				</li>
				<li> The Restricted Period shall be extended by any length of time during which Manager is in breach of such covenants.</li>
				<li> Manager acknowledges and agrees that this Agreement shall be construed as an agreement independent of any other agreement between Manager and the Company, and for which independent consideration has been given. The existence of any claim or cause of action of Manager against the Company, whether predicated on this Agreement or otherwise, shall not constitute a defense to the enforcement by the Company of the restrictive covenants set forth in this Agreement.</li>
				<li> Manager acknowledges and agrees that this restriction on competition is reasonable as to time, scope and duration, and the restrictions serve a legitimate business interest of the Company in that Manager has received or will receive specialized knowledge, training and access to the Company’s Proprietary Information and substantial relationships with the Company’s clients and customers. Manager further agrees that the restrictive covenants are reasonably necessary to protect the legitimate business interests of the Company.</li>
				<li> If any portion of the restrictive covenants set forth in this Section are held to be unreasonable, arbitrary or against public policy, then such portion shall be considered divisible as to both time and geographical area. The parties agree that if any court of competent jurisdiction determines the specified time period or geographical area applicable to this Section to be unreasonable, arbitrary, or against public policy, then a lesser time period or geographical area which is determined to be reasonable, non-arbitrary, and not against public policy may be enforced against Manager. The parties agree that the foregoing covenants are appropriate and reasonable when considered in light of the nature and extent of the business conducted by the Company.</li>
				<li> With respect to the Proprietary Information, since it is a trade secret of Company, Manager shall be forever prohibited from disclosing such information to a third-party without Company’s prior written consent.</li>
			</ol>
		</li>
		<li><span class="fo1">Specific Performance. </span>Manager agrees that damages at law will not be a sufficient remedy to the Company in the event Manager violates the terms of this Agreement, and that the Company shall be entitled, upon application to a court of competent jurisdiction, to obtain injunctive relief to enforce the provisions hereof, which injunctive relief shall be in addition to any other rights or remedies available to the Company. Manager agrees to pay all costs of the Company in enforcing the terms and conditions of this Agreement, including attorneys’ fees, whether suit be brought or not. Manager agrees that the Company shall be entitled to temporary and permanent injunctive relief to enforce the provisions of this Agreement without the necessity of proving actual damages or of posting a bond.</li>
		<li><span class="fo1">Liquidated Damages. </span>In addition to all other remedies available to the Company, in the event of a breach of this Agreement by Manager, Manager agrees to pay to the Company as liquidated damages an amount equal to the annual salary or wages paid to Manager by the Company, which amount Manager agrees is not a penalty, but is reasonably calculated to compensate the Company for the investment of time in hiring, employing and training Manager.</li>
		<li><span class="fo1">Not an Employment Agreement.  </span>This Agreement is not an employment agreement. The Manager is  and shall remain an employee of the Company. This Agreement shall not constitute, create, give effect to or otherwise imply a joint venture, pooling arrangement, partnership or formal business organization of any kind, nor shall it constitute, create, give effect to, or otherwise imply an obligation or commitment on the part of either party to submit a proposal or perform a contract with the other party. Nothing herein shall be construed as providing for the sharing of profits or loss arising from the efforts of either or both parties. The terms and conditions of Manager’s engagement with the Company, if any, are set forth in a separate agreement.</li>
		<li><span class="fo1">Contact Person. </span>Each of the following contacts is deemed an individual and shall be authorized to accept Proprietary Information on behalf of the designating party. Until further notice, the parties so designate the following:</li>
		<p><span style="margin-left:20px;font-weight: bold;">(Designating Party)</span><span style="margin-left:160px;font-weight: bold;">Elite Park\ing Services of America, Inc.</span></p>
		<p><span style="margin-left:20px;">Name:</span><span style="margin-left:276px;">Dane E. Grey</span></p>
		<p><span style="margin-left:20px;">Address:</span><span style="margin-left:258px;">76 South Laura Street, Suite 1702 Jacksonville, FL 32202</span></p>
		<p><span style="margin-left:20px;">E-Mail:</span><span style="margin-left:266px;">danegrey@eliteparkingsoa.com</span></p>
		<li>
			<span class="fo1">Miscellaneous. </span>
			<ol style="list-style-type: lower-alpha;">
				<li><span class="fo1">Entire Agreement. </span>This Agreement contains the entire understanding between the parties and supersedes all prior assignments and understandings, oral or written, with respect to the subject matter of this Agreement. Any modification must be made in a writing signed by both parties. </li>
				<li><span class="fo1">Governing Law.  </span>This Agreement shall be construed and enforced by the laws of the State of Florida, without regard to any rules of conflict and choice of laws that would require the application of laws of another jurisdiction. The parties hereto (i) agree that any suit, action or other legal proceeding arising out of or relating to this Agreement shall be brought and heard in a court of competent jurisdiction in Duval County, Florida, (ii) consent to the jurisdiction of any such court in any such suit, action or proceeding, and (iii) waive any objection to the laying of venue of any such suit, action or proceeding in any such court. The prevailing party in any dispute arising hereunder, whether or not suit is brought and including any appeals will be entitled to recover from the other party costs and reasonable attorneys' and paralegals' fees. Manager waives any objection based on forum non conveniens and any objection to jurisdiction or venue in any action instituted hereunder and consents to personal jurisdiction in such forum for purposes of this Agreement.</li>
				<li><span class="fo1">Assignment. </span>This Agreement may not be assigned in whole or in part by Manager without the prior written consent of the Company, and any purported assignment by Manager shall be absolutely void.</li>
				<li><span class="fo1">Multiple Copies.  </span>This Agreement may be executed in two or more counterparts, each of which shall be deemed an original, but all of which shall constitute one and the same instrument.</li>
				<li><span class="fo1">Opportunity to Confer with Counsel. </span>It is understood by and between the parties hereto that the restrictive covenants of Manager set forth in this Agreement are conditions to Manager’s employment and the Company would not have employed or continued to employ Manager, but for Manager’s agreement to comply with such covenants. The Company has provided Manager the opportunity to consult with counsel prior to executing this Agreement and Manager hereby acknowledges that he or she has been advised by counsel in all respects concerning the reasonableness and propriety of such covenants, with specific regard to the nature of the businesses conducted by the Company or has had the opportunity to so consult with counsel.</li>
				<li><span class="fo1">Waiver of Jury Trial.  </span>MANAGER AND THE COMPANY HEREBY AGREE TO WAIVE TRIAL BY JURY IN ANY ACTION, PROCEEDING OR COUNTER-CLAIM BROUGHT BY EITHER PARTY AGAINST THE OTHER WITH RESPECT TO ANY CLAIM OR CONTROVERSY ARISING OUT OF THIS AGREEMENT OR BREACH THEREOF, OR IN ANY WAY CONNECTED TO THIS AGREEMENT, THE BUSINESS RELATIONSHIP, THE SERVICES PROVIDED BY MANAGER TO THE COMPANY OR THE COMPENSATION PAID TO MANAGER BY THE COMPANY.</li>
			</ol>
		</li>
	</ol>
	<p><span class="fo1" style="margin-left:60px;">IN WITNESS WHEREOF, </span> the parties hereto have executed this Agreement as of the day and year first above written.</p>
	<p><span style="margin-left:547px;font-weight: bold;">Elite Parking Services of America, Inc.</span></p>
	<p>
		<span style="margin-left:60px;">
			@Html.TextBoxFor(x => x.Signature, new { @class = "text-line", @style = "width: 290px;" })
	</span><span style="margin-left:200px;">@Html.TextBoxFor(x => x.Name, new { @class = "text-line", @style = "width: 290px;" })</span><br />
	<span style="margin-left:60px;">(Authorized Signature)</span><span style="margin-left:305px;">(Authorized Signature)</span>
</p>
<p>
	<span style="margin-left:60px;">@Html.TextBoxFor(x => x.Name, new { @class = "text-line", @style = "width: 290px;" })</span>
	<span style="margin-left:200px;">
		<input style="width:290px;font-family:Times New Roman;font-size:20px;" type="text" class="text-line" value="Dane E. Grey" />
	</span><br /><span style="margin-left:60px;">(Printed Name)</span><span style="margin-left:366px;">(Printed Name)</span>
</p>
<p>
	<span style="margin-left:60px;">Title: @Html.TextBoxFor(x => x.Title, new { @class = "text-line", @style = "width: 290px;" })</span>
	<span style="margin-left:160px;">Title: <input style="width:290px;font-family:Times New Roman;font-size:20px;" type="text" class="text-line" value="President" /></span>
</p>
<p> @Html.CheckBoxFor(x => x.IsSaved, new { @style = "height: 18px;width: 31px;", onchange = "SubmitForm(this,educationverificationform)" })    i hereby declare that the above information is true to the best of my knowledge </p>

</div>
}
