@model WorkOrderEMS.Models.Employee.EducationVarificationModel
<style>
    .p1 {
        font-size: 20px;
        font-family: Times New Roman;
        margin-top: 4%;
        padding-top: 1%;
        margin-left: 10%;
        color: #000;
    }

    h3 {
        margin: 100px 0px 0px 83px;
    }

    .text-line {
        background-color: transparent;
        outline: none;
        outline-style: none;
        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom: solid #000 1px;
    }



    .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .row {
        display: flex;
    }

    input[type="checkbox"]:after {
        line-height: 1.5em !important;
        content: '' !important;
        display: block !important;
        margin-top: -3px !important;
        margin-left: -3px !important;
        border: 1px solid transparent !important;
        border-radius: 0px !important;
        line-height: 1.3 !important;
        background: none !important;
    }

    .date {
        border: none;
        border-bottom: 1px solid;
        font-weight: bold;
    }

    input[type="date"], input[type="time"], input[type="datetime-local"], input[type="month"] {
        /* -webkit-appearance: listbox; */
        border: none;
        border-bottom: 1px solid;
        font-weight: bold;
    }

    .SetWidth {
        width: 85%;
    }
</style>
@using (Html.BeginForm("_EducationVarificationForm", "Guest", FormMethod.Post, new { id = "educationverificationform" }))
{
    <div class=" container p1">
        <div class="row">
            <div class="col-lg-3 col-md-3">
                <img src="~/Images/FormImages/image-form.jpg" alt="background image" />
            </div>
            <div class="col-lg-9 col-md-9 text-center">
                <h3><u>Education Verification Form</u></h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3"></div>
            <div class="col-lg-9 col-md-12">
                <p>Name of Applicant @Html.TextBoxFor(x => x.Name, new { @class = "text-line", @style = "width:79%;" }) @Html.ValidationMessageFor(x => x.Name, "", new { @style = "color:red;" })</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3"></div>
            <div class="col-lg-9 col-md-12">
                <div class="row">
                    <div class="col-md-2"><p>Date of Birth</p></div>
                    <div class="col-md-10 SetWidth">
                        @Html.EditorFor(x => x.DOB, new { @class = "text-line", @style = "width:79%;" }) @Html.ValidationMessageFor(x => x.Name, "", new { @style = "color:red" })
                    </div>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-lg-3"></div>
            <div class="col-lg-9 col-md-12">
                <p>Social Security Number @Html.TextBoxFor(x => x.SSN, new { @class = "text-line", @style = "width:74.4%;" }) @Html.ValidationMessageFor(x => x.Name, "", new { @style = "color:red;" })</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3"></div>
            <div class="col-lg-9 col-md-12">
                <p>Name of High School @Html.TextBoxFor(x => x.HighSchool.SchoolName, new { @class = "text-line", @style = "width:76.5%;" }) @Html.ValidationMessageFor(x => x.Name, "", new { @style = "color:red;" })</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3"></div>
            <div class="col-lg-9 col-md-12">
                <p>
                    City @Html.TextBoxFor(x => x.HighSchool.City, new { @class = "text-line", @style = "width:46%;" }) @Html.ValidationMessageFor(x => x.HighSchool.City, "", new { @style = "color:red;" })
                    State @Html.TextBoxFor(x => x.HighSchool.State, new { @class = "text-line", @style = "width:345px;" }) @Html.ValidationMessageFor(x => x.HighSchool.State, "", new { @style = "color:red;" })
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3"></div>
            <div class="col-lg-9 col-md-12">
                <div class="row">
                    <div class="col-md-6">
                        <p>
                            Attended from @Html.EditorFor(x => x.HighSchool.AttendFrom, "{0:yyyy-MM-dd}", new { @class = "text-line date", @style = "width:35%;" }) @Html.ValidationMessageFor(x => x.HighSchool.AttendFrom, "", new { @style = "color:red;" })
                            <br />(Please provide month and year)
                        </p>
                    </div>
                    <div class="col-md-6">
                        <p>
                            Attended to @Html.EditorFor(x => x.HighSchool.AttendTo, new { @class = "text-line", @style = "width:36.5%;" }) @Html.ValidationMessageFor(x => x.HighSchool.AttendTo, "", new { @style = "color:red;" })
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3"></div>
            <div class="col-lg-9 col-md-12">
                <p>Name of Higher Education School @Html.TextBoxFor(x => x.HigherSchool.SchoolName, new { @class = "text-line", @style = "width:65%;" }) @Html.ValidationMessageFor(x => x.HigherSchool.SchoolName, "", new { @style = "color:red;" })</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3"></div>
            <div class="col-lg-9 col-md-12">
                <p>City @Html.TextBoxFor(x => x.HigherSchool.City, new { @class = "text-line", @style = "width:45%;" }) @Html.ValidationMessageFor(x => x.HigherSchool.AttendFrom, "", new { @style = "color:red;" }) State @Html.TextBoxFor(x => x.HigherSchool.State, new { @class = "text-line", @style = "width:43.5%;" }) @Html.ValidationMessageFor(x => x.HigherSchool.AttendFrom, "", new { @style = "color:red;" })</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3"></div>
            <div class="col-lg-9 col-md-12">
                <p>
                    Attended from @Html.EditorFor(x => x.HigherSchool.AttendFrom, new { @class = "text-line date", @style = "width:150px;border: none;border - bottom: 1px solid;font - weight: bold; " }) @Html.ValidationMessageFor(x => x.HigherSchool.AttendFrom, "", new { @style = "color:red;" })  Attended to @Html.EditorFor(x => x.HigherSchool.AttendTo, new { @class = "text-line", @style = "width:150px;" }) @Html.ValidationMessageFor(x => x.HigherSchool.AttendFrom, "", new { @style = "color:red;" })
                    <br />(Please provide month and year)
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3"></div>
            <div class="col-lg-9 col-md-12">
                <p>
                    Type of Diploma/Certificate @Html.TextBoxFor(x => x.HigherSchool.Cretificate, new { @class = "text-line", @style = "width:71.5%;" }) @Html.ValidationMessageFor(x => x.HigherSchool.AttendFrom, "", new { @style = "color:red;" })
                    <br />(Highest Degree Obtained)
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3"></div>
            <div class="col-lg-9 col-md-12">
                <p>
                    I authorize AllStar Backgrounds to conduct an investigation of my education history and further release the companies, schools, or persons from liability or damages for providing information.<br />
                    I hereby state that the information on this form is true and complete. In the event of employment, I understand that false, misleading or omitted information given in application
                    documents or employment interviews may result in dismissal. I agree that the above information is true.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3"></div>
            <div class="col-lg-9 col-md-12">
                <span>
                    <span id="ShowHideSignatureSpan">
                        <input type="text" style="width:290px;" class="text-line" />
                    </span>
                    <img id="openItForSignature" style="display:none;width:163px;height:47px;" />
                    <span>
                        <span class="btn btn-success" style="border-radius:100px;width:20%;" id="AddSignature">
                            Add Signature
                        </span>
                    </span><br />Signature
                </span>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3"></div>
            <div class="col-lg-9 col-md-12">
                <p><input type="text" style="width:290px;" id="ShowHideSignatureSpan" class="text-line" /><br />Date</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3"></div>
            <div class="col-lg-9 col-md-12">
                <p><b><center>AllStar Backgrounds – <a href="mailto: info@allstarbackgrounds.com">info@allstarbackgrounds.com</a> – Ph 800-570-0546 Fax 888-502-1299</center></b></p>
                <span> @Html.CheckBoxFor(x => x.IsSave, new { @style = "height: 18px;width: 31px;" })    i hereby declare that the above information is true to the best of my knowledge <span style="cursor:pointer;" onclick="SubmitForm(this, educationverificationform)" title="Go to next Rate of pay"><a><i class="fa fa-long-arrow-right" style="font-size: 40px;color: steelblue;margin-left: 967px;"></i></a></span></span>
            </div>
        </div>
    </div>
}
<script src="~/Scripts/Guest/ApplicantFormSave.js"></script>
