@model WorkOrderEMS.Models.Employee.EmployeeVIewModel
@{
	ViewBag.Title = "Index";
	Layout = "~/Views/Shared/_GuestLayout.cshtml";
}
<style>
	.info {
		display: inline-block;
		margin: 10px;
	}

	.profile {
		display: inline-block;
	}

		.profile img {
			width: 100px;
			height: auto;
			border-radius: 50%;
			border: 1px solid #ddd;
		}



	.middle {
		text-align: center;
		background-color: yellow;
		margin-top: 12px;
		height:28px;
	}

	.input-rounded {
		border: 1px solid #000;
	}

	.btnverify {
		background-color: #0CCC14;
		width: 157px;
		height: 58px;
		font-size: 20px;
		color: wheat;
	}

	label {
		margin-top:3px;
	}
	.form-control:disabled, .form-control[readonly] {
		background: #ddd;
		opacity: 1;
	}
	
input[type=checkbox] { display:none; } /* to hide the checkbox itself */
input[type=checkbox] + label:before {
  font-family: FontAwesome;
  display: inline-block;
}

input[type=checkbox] + label:before { content: "\f096"; } /* unchecked icon */
input[type=checkbox] + label:before { letter-spacing: 10px; } /* space between checkbox and label */

input[type=checkbox]:checked + label:before { content: "\f046"; } /* checked icon */
input[type=checkbox]:checked + label:before { letter-spacing: 5px; } /* allow space for check mark */
</style>
<script>
	function EnableEdit(elm) {
		var inputs = $('.basic-form :input');
		if (elm.checked) {
			inputs.each(function (i, elm) {
				$(elm).removeAttr('disabled');
			})
			$("#hdnIsEditEnable").val(true);
		}
		else {
			inputs.each(function (i, elm) {
				$(elm).attr('disabled',true);
			})
			$("#hdnIsEditEnable").val(false);
		}
	}
</script>

<div class="card" style="width: 80%;margin: auto;">
	<div class="card-header">On-Boarding/Personal Information</div>
	<div class="card-body">
		<div class="top">
			<div class="profile">
				<img src="~/Content/Dashboard/images/user2.jpg" />
			</div>
			<div class="info">
				<span style="color:black"><b>Employee Id</b>: @Model.EmpId</span>
			</div>
		</div>
		@Html.AntiForgeryToken()
		@Html.ValidationSummary(true)
		@using (Html.BeginForm())
		{
			<div class="middle" style="cursor:pointer">
				<label>
					@Html.HiddenFor(x=>x.IsEditEnable,new { @id="hdnIsEditEnable"})
					<input id="box1" type="checkbox" onchange="EnableEdit(this);" />
					<label for="box1">Enable To Edit</label>
				</label>
			</div>
			<div class="bottom-sec" style="margin-top: 10px;">

				<div class="basic-form">
					<div class="form-group row">
						<div class="col-sm-4">
							<span>First Name</span>
							@Html.HiddenFor(model => model.EmpId)
							@Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control input-rounded", placeholder = "First Name", @disabled = "disabled" } })
							@Html.ValidationMessageFor(x => x.FirstName,"",new {@class="text-danger" })

						</div>
						<div class="col-sm-4">
							<span>Middle Name</span>
							@Html.EditorFor(model => model.MiddleName, new { htmlAttributes = new { @class = "form-control input-rounded", placeholder = "Middle Name", @disabled = "disabled" } })
							@Html.ValidationMessageFor(x => x.MiddleName, "", new { @class = "text-danger" })

						</div>
						<div class="col-sm-4">
							<span>Last Name</span>
							@Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control input-rounded", placeholder = "Last Name", @disabled = "disabled" } })
							@Html.ValidationMessageFor(x => x.LastName, "", new { @class = "text-danger" })
						</div>
					</div>
					<div class="form-group row">
						<div class="col-sm-12">
							<span>Address</span>
							@Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control input-rounded", placeholder = "Street Address1", @disabled = "disabled" } })
							@Html.ValidationMessageFor(x => x.Address, "", new { @class = "text-danger" })
						</div>
					</div>
					<div class="form-group row">
						<div class="col-sm-6">
							<span>City</span>
							@Html.EditorFor(model => model.City, new { htmlAttributes = new { @class = "form-control input-rounded", placeholder = "City", @disabled = "disabled" } })
							@Html.ValidationMessageFor(x => x.City, "", new { @class = "text-danger" })
						</div>
						<div class="col-sm-6">
							<span>State</span>
							@Html.DropDownListFor(model => model.State, new SelectList(ViewBag.StateList, "StateId", "StateName"), "State", new { @id = "Address1State", @class = "form-control input-rounded", @disabled = "disabled" })
							@Html.ValidationMessageFor(x => x.State, "", new { @class = "text-danger" })
						</div>
					</div>
					<div class="form-group row">
						<div class="col-sm-3">
							<span>Zip</span>
							@Html.EditorFor(model => model.Zip, new { htmlAttributes = new { @class = "form-control input-rounded", placeholder = "Zip", @disabled = "disabled" } })
							@Html.ValidationMessageFor(x => x.Zip, "", new { @class = "text-danger" })

						</div>
						<div class="col-sm-3">
							<span>Phone</span>
							@Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control input-rounded", placeholder = "Phone", @disabled = "disabled" } })
							@Html.ValidationMessageFor(x => x.Phone, "", new { @class = "text-danger" })

						</div>
					</div>
					<div class="form-group row">
						<div class="col-sm-6">
							<span>Email</span>
							@Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control input-rounded", placeholder = "Email", @disabled = "disabled" } })
							@Html.ValidationMessageFor(x => x.Email, "", new { @class = "text-danger" })
						</div>
						<div class="col-sm-6">
							<span>Date Of Birth</span>
							@Html.EditorFor(model => model.Dob, @"{0:yyyy\/MM\/dd}", new { htmlAttributes = new { @class = "form-control input-rounded", @disabled = "disabled", placeholder = "DOB" } })
							@Html.ValidationMessageFor(x => x.Dob, "", new { @class = "text-danger" })
						</div>
					</div>
					<div class="form-group row">
						<div class="col-sm-6">
							<span>Social Security Number</span>
							@Html.EditorFor(model => model.SocialSecurityNumber, new { htmlAttributes = new { @class = "form-control input-rounded", placeholder = "Social Security Number", @disabled = "disabled" } })

							@Html.ValidationMessageFor(x => x.SocialSecurityNumber, "", new { @class = "text-danger" })
						</div>
						<div class="col-sm-6">
							<span>Cityzenship</span>
							@Html.EditorFor(model => model.Cityzenship, new { htmlAttributes = new { @class = "form-control input-rounded", placeholder = "Cityzenship", @disabled = "disabled" } })
							@Html.ValidationMessageFor(x => x.Cityzenship, "", new { @class = "text-danger" })
						</div>
					</div>
					<div class="form-group row">
						<div class="col-sm-6">
							<span>Driver's License Number</span>
							@Html.EditorFor(model => model.DlNumber, new { htmlAttributes = new { @class = "form-control input-rounded", placeholder = "Driver License Number", @disabled = "disabled" } })
							@Html.ValidationMessageFor(x => x.DlNumber, "", new { @class = "text-danger" })

						</div>
					</div>
					<div style="float:right">
						<button class="btn btnverify" type="submit" disabled="disabled">Verify</button>
					</div>
				</div>

			</div>
		}
	</div>
</div>
