@model WorkOrderEMS.Models.NewAdminModel.TCAPIP.CorrectiveActionModel

@{
    Layout = null;
}
<head>
    @*~/Views/Shared/_NewAdminLayout.cshtml*@
    <link href="~/Content/dataTables.jqueryui.css" rel="stylesheet" />

    <style>
        *{
            color:black;
        }
        .BorderTB {
            border-top: none;
            border-left: none;
            border-right: none;
            border-bottom: 1px solid black;
        }

        .BorderTb1 {
            border-top: none;
            border-left: none;
            border-right: none;
            border-bottom: 1px solid black;
            width: -webkit-fill-available;
        }

        .LogoSize {
            width: 250px;
            height: 116px;
        }

        .SetScale {
            transform: scale(1.3);
        }
        .SpanSize{
            font-size:14px;
        }
    </style>
</head>


<div class="content-body">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12" style="padding-right: 0px;padding-left: 2px;margin:2px 0 0 0;">
                <div class="card" data-aos="fade-up">
                    <div style="height: 45px;background:#0aa0cd;">
                        <div class="form-group row" style="margin-left:10px;margin-top:6px;">
                            <a id="BackToEmployeeGrid" title="Back to Employee List" style="cursor:pointer;"><i class="fa fa-long-arrow-left fa-2x" style="color:white;"></i></a>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="container">
                            <form id="CAform" method="post">
                                <div class="row">
                                    <div class="col-md-12 text-center">
                                        <img src="~/Images/etrac-logo-inner.jpg" alt="EliteParking" class="LogoSize" />
                                        @*@<img src="eparking.jpg" alt="EliteParking" class="LogoSize BorderTB"">*@
                                    </div>
                                </div>
                                <div class="row" style="border: 1px solid black; margin-bottom: 4%;">
                                    <div class="col-md-12 text-center">
                                        <h4 style="padding-top: 1%;">Employee Corrective Action Form</h4>
                                    </div>
                                </div>

                                <div class="row SpanSize" style="margin-bottom: 1%;">
                                    <div class="col-md-6 col-sm-12">
                                        <span>Employee Name:</span>
                                        @Html.HiddenFor(m => m.IsExempt, new { })
                                        @Html.HiddenFor(m => m.Is_Active, new { })
                                        @Html.HiddenFor(m => m.manager_id, new { })
                                        @Html.HiddenFor(m => m.HR_Approval, new { })
                                        @Html.HiddenFor(m => m.Is_Guilty, new { })
                                        @Html.TextBoxFor(m => m.emp_name, null, new { @class = "BorderTB onlyread", @style = "width:70%;margin-left:4%;" })

                                    </div>
                                    <div class="col-md-6 col-sm-12">
                                        <span>Date:</span>
                                        @Html.TextBoxFor(m => m.Date, null, new { @class = "BorderTB onlyread", @style = "width: 70%;margin-left:20%;" })

                                    </div>

                                </div>

                                <div class="row SpanSize" style="margin-bottom: 4%;">
                                    <div class="col-md-6 col-sm-12">
                                        <span>Job Title:</span>
                                        @Html.TextBoxFor(m => m.Job_Title, null, new { @class = "BorderTB onlyread", @style = "width: 70%;margin-left:16%;" })

                                    </div>
                                    <div class="col-md-6 col-sm-12">
                                        <span>Employee ID#:</span>
                                        @Html.TextBoxFor(m => m.emp_id, null, new { @class = "BorderTB onlyread", @style = "width: 70%;margin-left:7%;" })

                                    </div>

                                </div>

                                <div class="row SpanSize" style="margin-bottom: 2%;">
                                    <div class="col-md-12 col-sm-12">
                                        <span><u>Level of Corrective Action:</u></span>
                                    </div>
                                </div>
                                <div class="row SpanSize" style="margin-bottom: 3%;">
                                    <div class="col-md-4 col-sm-4">
                                        @Html.RadioButtonFor(m => m.Level_ofCorrectiveAction, "Verbal Counselling", new { @class = "SetScale onlyread" })

                                        <span>Verbal Counseling</span>
                                    </div>
                                    <div class="col-md-4 col-sm-4">
                                        @Html.RadioButtonFor(m => m.Level_ofCorrectiveAction, "Written Warning", new { @class = "SetScale onlyread" })

                                        <span>Written Warning</span>
                                    </div>
                                    <div class="col-md-4 col-sm-4">
                                        @Html.RadioButtonFor(m => m.Level_ofCorrectiveAction, "Final Written Warning", new { @class = "SetScale onlyread" })

                                        <span>Final Written Warning</span>
                                    </div>

                                </div>

                                <div class="row SpanSize" style="margin-bottom: 3%;">
                                    <div class="col-md-3 col-sm-3">
                                        <span><b>Facts:</b></span><br>
                                        <span>Date/Time of Incident</span><br>
                                        <span>Type of Incident</span>
                                    </div>
                                    <div class="col-md-9 col-sm-9">
                                        <div class="row" style="margin-bottom:1%;">
                                            <div class="col-md-3 col-sm-3">
                                                @Html.TextBoxFor(m => m.FDate, null, new { @class = "datepicker BorderTb1 onlyread" })
                                            </div>
                                            <div class="col-md-6 col-sm-6">

                                            </div>
                                            <div class="col-md-3 col-sm-3">
                                                @Html.TextBoxFor(m => m.FTime, null, new { @class = "clockpicker BorderTb1 onlyread" })
                                                <span class="input-group-addon">
                                                    <span class="glyphicon glyphicon-time"></span>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12 col-sm-12">

                                                @Html.TextBoxFor(m => m.FType, null, new { @class = "BorderTb1 onlyread" })

                                            </div>
                                        </div>

                                    </div>

                                </div>

                                <div class="row SpanSize" style="margin-bottom: 3%;">
                                    <div class="col-md-3 col-sm-3">
                                        <span><b>Employee Expalnation:</b></span>

                                    </div>
                                    <div class="col-md-9 col-sm-9">
                                        <div class="row">
                                            <div class="col-md-12 col-sm-12">
                                                @Html.TextBoxFor(m => m.Employee_Explanation, null, new { @class = "BorderTb1 onlyread" })
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <div class="row SpanSize" style="margin-bottom: 3%;">
                                    <div class="col-md-3 col-sm-3">
                                        <span><b>Policy Violation:</b></span><br>
                                        <span style="font-size:13px;">List Policy Title & Number</span>
                                    </div>
                                    <div class="col-md-9 col-sm-9">
                                        <div class="row">
                                            <div class="col-md-12 col-sm-12">
                                                @Html.TextBoxFor(m => m.Policy_Violation, null, new { @class = "BorderTb1 onlyread" })
                                            </div>
                                        </div>
                                    </div>

                                </div>

                                <div class="row SpanSize" style="margin-bottom: 3%;">
                                    <div class="col-md-3 col-sm-3">
                                        <span><b>Expectations & Corrective Action Plan:</b></span><br>
                                    </div>
                                    <div class="col-md-9 col-sm-9">
                                        <div class="row">
                                            <div class="col-md-12 col-sm-12">
                                                @Html.TextBoxFor(m => m.Expectation_CorrectiveActionPlan, null, new { @class = "BorderTb1 onlyread" })
                                            </div>
                                        </div>

                                    </div>

                                </div>

                                <div class="row SpanSize" style="margin-bottom: 3%;">
                                    <div class="col-md-3 col-sm-3">
                                        <span><b>Action Taken:</b></span><br>
                                    </div>
                                    <div class="col-md-9 col-sm-9">
                                        @Html.TextBoxFor(m => m.ActionTaken, null, new { @class = "BorderTb1 onlyread" })
                                    </div>
                                </div>


                                <div class="row SpanSize" style="margin-bottom: 3%;">
                                    <div class="col-md-3 col-sm-3">
                                        <span><b>Next Action Step If Issue Continues:</b></span><br>
                                    </div>
                                    <div class="col-md-9 col-sm-9">
                                        <div class="row">
                                            <div class="col-md-12 col-sm-12">
                                                @Html.TextBoxFor(m => m.Next_Action, null, new { @class = "BorderTb1 onlyread" })
                                            </div>
                                        </div>
                                    </div>

                                </div>


                                <div class="row SpanSize" style="margin-bottom: 4%;">
                                    <div class="col-md-12 col-sm-12 text-center">
                                        <span style="font-size:13px;">
                                            I acknowledge receipt of this corrective action and that its contents have been discussed with me. I understand that my signature
                                            does not necessarily indicate agreement, rather I have been informed of the issue and given a chance to provide a statement.
                                        </span>
                                    </div>

                                </div>

                                <div class="row SpanSize" style="margin-bottom: 3%;">
                                    <div class="col-md-6 col-sm-6">
                                        <span>Employee's Signature</span>
                                        <input type="text" name="" value="" style="border-top: none; border-left: none; border-right: none; border-bottom: 1px solid black; width:40%; margin-left:8%">
                                    </div>
                                    <div class="col-md-3 col-sm-3">

                                    </div>
                                    <div class="col-md-3 col-sm-3">
                                        <span>Date:</span>
                                        <input type="text" name="" value="" style="border-top: none; border-left: none; border-right: none; border-bottom: 1px solid black;  width: 70%;margin-left:10%;">
                                    </div>
                                </div>

                                <div class="row SpanSize" style="margin-bottom: 5%;">
                                    <div class="col-md-6 col-sm-6">
                                        <span>Manager's Name</span>
                                        @Html.TextBoxFor(m => m.manager_name, null, new { @class = "onlyread", @style = "border-top: none; border-left: none; border-right: none; border-bottom: 1px solid black; width: 40%;margin-left:14%;" })

                                    </div>
                                    <div class="col-md-3 col-sm-3">

                                    </div>
                                    <div class="col-md-3 col-sm-3">

                                    </div>
                                </div>


                                <div class="row SpanSize" style="margin-bottom: 5%;">
                                    <div class="col-md-6 col-sm-6">
                                        <span>Manager's Signature</span>
                                        <input type="text" name="" value="" style="border-top: none; border-left: none; border-right: none; border-bottom: 1px solid black; width: 40%; margin-left:9%;">
                                    </div>
                                    <div class="col-md-3 col-sm-3">

                                    </div>
                                    <div class="col-md-3 col-sm-3">
                                        <span>Date:</span>
                                        <input type="text" name="" value="" style="border-top: none; border-left: none; border-right: none; border-bottom: 1px solid black;  width: 70%;margin-left:10%;">
                                    </div>
                                </div>

                                <div class="row SpanSize" style="margin-bottom: 4%;">
                                    <div class="col-md-6 col-sm-6">
                                        <span>Compliance<br>Administrator's Signature</span>
                                        <input type="text" name="" value="" style="border-top: none; border-left: none; border-right: none; border-bottom: 1px solid black; width: 40%;margin-left:3%;">
                                    </div>
                                    <div class="col-md-3 col-sm-3">

                                    </div>
                                    <div class="col-md-3 col-sm-3">
                                        <span><br>Date:</span>
                                        <input type="text" name="" value="" style="border-top: none; border-left: none; border-right: none; border-bottom: 1px solid black;  width: 70%;margin-left:10%;">
                                    </div>
                                </div>


                                <div class="row" style="margin-bottom: 3%;">
                                    <div class="col-md-12 col-sm-12 text-center">
                                        <span style="font-size:14px;">A copy of this corrective action will be placed in your personnel file for reference.</span>
                                    </div>
                                </div>
                            

                            <div class="row" style="margin-bottom:5%;">
                                <div class="col-md-12 col-sm-12 text-center">
                                    <h4>Supervisor Instructions</h4>
                                </div>
                            </div>

                            <div class="row" style="margin-bottom:1%;">
                                <div class="col-md-12 col-sm-12">
                                    <h5>Guidelines for using the Corrective Action Form</h5>
                                </div>
                            </div>
                            <div class="row" style="margin-bottom:1%;font-size:14px;">
                                <div class="col-md-12 col-sm-12">
                                    <span>When documenting corrective action, it is helpful to adhere to the following guidelines:</span>
                                </div>
                            </div>
                            <div class="row" style="margin-bottom:5%;font-size:14px;">
                                <div class="col-md-12 col-sm-12">
                                    <ul>
                                        <li>
                                            <span>
                                                <u>Facts</u> - List only facts, not opinions. Give concrete examples, when possible, to document the incorrect
                                                behavior. If pictures are present attached them along with subsequent documents.
                                            </span>
                                        </li>
                                        <li>
                                            <span>
                                                <u>Objectives</u>What is the desired outcome?  What do you expect?  You must cite the policy violated and
                                                what was expected of the team member. If the staff is Union reference your CBA.
                                            </span>
                                        </li>
                                        <li>
                                            <span>
                                                <u>Solutions</u>How do you suggest that he or she improves their performance?  Does the team member
                                                have any suggestions?  You may offer additional training, review of procedures, etc.
                                            </span>
                                        </li>
                                        <li>
                                            <span>
                                                <u>Action</u>Tell the employee in writing that he or she is receiving a warning, suspension, etc. and set a
                                                date to review his or her progress towards obtaining the goals set
                                            </span>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <div class="row" style="margin-bottom:1%;">
                                <div class="col-md-12 col-sm-12">
                                    <h5>Directions for Submitting the Corrective Action Form</h5>
                                </div>
                            </div>
                            <div class="row" style="margin-bottom:2%;font-size:14px;">
                                <div class="col-md-12 col-sm-12">
                                    <span>
                                        Please use the additional form if the team member and/or the your statements are longer then whats given
                                        above. If the team member has more than one area that needs improvement, or has a longer documented
                                        incident, please utilize a sperate form for each incident or policy violation. The employee must sign the
                                        Corrective Action form to acknowledge receipt. If the team member refuses to sign, write “refused to sign”
                                        and sign your name as a witness. Ensure the team member is clocked in and ready for work.
                                        Prior to issuing a write-up the supervisor must get approval from the company's Compliance Department. The
                                        supervisor should provide a copy of the document to the employee signed or unsigned. Once completed it is the
                                        responsibility of Supervisor to ensure the document is scanned into the employees personnel file, inside the
                                        appropriate folder.
                                    </span>
                                </div>
                            </div>
                            <div class="row" style="margin-bottom:3%;font-size:13px;">
                                <div class="col-md-12 col-sm-12 text-center">
                                    <span>No Paper Copies of this Document Should be Kept</span>
                                </div>
                            </div>


                            <div class="row SpanSize" style="margin-bottom: 3%;display:none;" id="RowAcceptComment">
                                <div class="col-md-3 col-sm-3">
                                    <span><b>Employee Comment:</b></span>

                                </div>
                                <div class="col-md-9 col-sm-9">
                                    <div class="row">
                                        <div class="col-md-12 col-sm-12">
                                            
                                            <input type="text" id="TextBoxAcceptComment" name="EmpComment" class="BorderTb1" autofocus />

                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row SpanSize" style="margin-bottom: 3%;display:none;" id="RowDisputeComment">
                                <div class="col-md-3 col-sm-3">
                                    <span><b>Employee Comment:</b></span>

                                </div>
                                <div class="col-md-9 col-sm-9">
                                    <div class="row">
                                        <div class="col-md-12 col-sm-12">
                                            <input type="text" id="TextBoxDisputeComment" name="EmpComment" class="BorderTb1" autofocus />

                                        </div>
                                    </div>
                                </div>
                            </div>
                            </form>



                            <div class="row" style="margin-bottom:5%;">
                                <div class="col-md-12 col-sm-12 text-center">
                                    <button type="button" id="SaveCorrectiveAction" class="btn btn-primary SaveCAForm" value="Submit Form" style="width: 15%;height: 150%;color: #fefdff;font-size: 14px;font-family: sans-serif;border-radius: 9px;display:inline-block;">Submit Form</button>
                                    <button type="button" id="EndMeeting" class="btn btn-primary" style="width: 15%;height: 150%;color: #fefdff;font-size: 14px;font-family: sans-serif;border-radius: 9px;display:none;">End Meeting</button>
                                    <button type="button" id="EmployeeCommentAccept" class="btn btn-primary" style="width: 15%;height: 150%;color: #fefdff;font-size: 14px;font-family: sans-serif;border-radius: 9px;display:none;">Accept</button>
                                    <button type="button" id="EmoloyeeCommentDispute" class="btn btn-primary" style="width: 15%;height: 150%;color: #fefdff;font-size: 14px;font-family: sans-serif;border-radius: 9px;display:none;">Dispute</button>
                                </div>
                            </div>

                        </div>
                        <div id="ChartContainerEmployeeList" class="card" data-aos="fade-up"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.4.1.js"
        integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
        crossorigin="anonymous">
</script>
<script src="~/Content/NewAdminContent/VENDOR/toastr/js/toastr.min.js"></script>
<script>
    $(document).ready(function () {
        debugger
        var IsActiveFlag = $("#Is_Active").val();
        var CAEmployeData = $("#CAform").serialize();
        switch (IsActiveFlag) {

            case 'A'://Form Review During Meeting
                $(".onlyread").prop('readonly', true);
                $("#SaveCorrectiveAction").hide();
                $("#EmployeeCommentAccept").hide();
                $("#EmoloyeeCommentDispute").hide();
                $("#EndMeeting").css('display', 'inline-block');
                $("#EndMeeting").click(function () {

                });
                break;

            case 'B'://Employee Accept
                $(".onlyread").prop('readonly', true);
                $("#SaveCorrectiveAction").hide();
                $("#EndMeeting").hide();
                $("#EmoloyeeCommentDispute").hide();
                $("#RowAcceptComment").show();
                $("#EmployeeCommentAccept").css('display', 'inline-block');
                $("#EmployeeCommentAccept").click(function () {
                    var CAEmployeeCommentData = $("#CAform").serialize();
                    debugger
                        if (CAEmployeeCommentData != null) {
                        $.ajax({
                        type: "POST",
                        url: "../Corrective/SaveCorrectiveActionEmployeeCommentPDF",
                        data: CAEmployeeCommentData,
                        success: function (ResultData) {
                            toastr.success();
                        }


                        });
                        }
                });
                break;

            case 'C'://Employee Dispute
                $(".onlyread").prop('readonly', true);
                $("#SaveCorrectiveAction").hide();
                $("#EndMeeting").hide();
                $("#EmployeeCommentAccept").hide();
                $("#RowDisputeComment").show();
                $("#EmoloyeeCommentDispute").css('display', 'inline-block');
                $("#EmoloyeeCommentDispute").click(function () {

                    var CAEmployeeCommentData = $("#CAform").serialize();
                    debugger
                        if (CAEmployeeCommentData != null) {
                        $.ajax({
                        type: "POST",
                        url: "../Corrective/CorrectiveActionDispute",
                        data: CAEmployeeCommentData,
                        success: function (ResultData) {
                            toastr.success();
                        }


                        });
                        }

                });
                break;

            case 'D':

                break;

            case 'E':

                break;

            case 'F':

                break;

            default:
                 $("#Date").datepicker('setDate', new Date());
                    $("#FDate").datepicker({
                    dateFormat: 'dd-mm-yyyy'
                    });

                    $("#SaveCorrectiveAction").click(function () {
                    debugger
                       var CorrectiveActionData = $("#CAform").serialize();

                        if (CorrectiveActionData != null) {
                        $.ajax({
                        type: "POST",
                        url: "../Corrective/SaveCorrectiveAction",
                        data: CorrectiveActionData,
                        success: function (ResultData) {
                            toastr.success();
                        }


                        });
                        }

                    });
        }

        $("#EndMeeting").click(function () {

            $.ajax({
                type: "POST",
                url: "../Corrective/CorrectiveActionMeeting",
                data: CAEmployeeData,
                success: function (ResultData) {
                       toastr.success();
                }
            });

        });               
            
        
    });

</script>

@*
    <script type="text/javascript">
    $(function () { // will trigger when the document is ready
        //$('.datepicker').datepicker(); //Initialise any date pickers
        $('.clockpicker').clockpicker();
        $("#Date").datepicker({
            dateFormat: 'dd-mm-yyyy',
            defaultDate: new Date()
        });
        
    });
</script>


*@
