@model WorkOrderEMS.Models.NotificationDetailModel

    <div class="container">
        <div class="row" style="margin-bottom:2%;">
            <div class="col-md-6">
                <span style="font-size: 15px;color: #23231ff7;font-weight: 600;">Meeting schelude:</span>
            </div>
            <div class="col-md-6">

            </div>

        </div>
        <form id="ScheduleMeetingForm">
            @Html.HiddenFor(m => m.emp_id, new { })
        @if (@Model.IsExempt == "Y")
        {
           
            string[] details = Model.Details.Split(',');
            string[] datetimeseparated = details[1].Split('+');
            //Corrective Action Meeting Date&Time with Dane  T  Grey, 05/20/2020 8:50 AM+ 05/20/2020 9:30 AM+ 05/29/2020 7:50 AM
            <div class="row" style="margin-bottom:1%;">
                <div class="col-md-6">
                    @Html.RadioButtonFor(m => m.MeetingDateTime, @datetimeseparated[0], new { })<span>@datetimeseparated[0]</span>
                </div>
            </div>
            <div class="row" style="margin-bottom:1%;">
                <div class="col-md-6">
                    @Html.RadioButtonFor(m => m.MeetingDateTime, @datetimeseparated[1], new { })<span>@datetimeseparated[1]</span>
                </div>
            </div>
            <div class="row" style="margin-bottom:1%;">
                <div class="col-md-6">
                    @Html.RadioButtonFor(m => m.MeetingDateTime, @datetimeseparated[0], new { })<span>@datetimeseparated[2]</span>
                </div>
            </div>
        }
        else
        {
            string[] details = Model.Details.Split(',');
            string[] datetimeseparated = details[1].Split('+');
            //Corrective Action Meeting Date&Time with Dane  T  Grey, 05/20/2020 8:50 AM+ 05/20/2020 9:30 AM+ 05/29/2020 7:50 AM
            <div class="row" style="margin-bottom:1%;">
                <div class="col-md-6">
                    @Html.RadioButtonFor(m => m.MeetingDateTime, @datetimeseparated[0], new { })<span>@datetimeseparated[0]</span>
                </div>
            </div>
           
        }
            </form>
    </div>
            

