@model WorkOrderEMS.Models.AddChartModel
@*<script type="text/javascript" src="//tinymce.cachefly.net/4.0/tinymce.min.js"></script>*@
@*<link href="http://jhollingworth.github.io/bootstrap-wysihtml5/src/bootstrap-wysihtml5.css" />*@
<div class="row">
    <div class="" id="DivContractDetailsIndexRequisition">
        <form id="SaveVCSChartFormForRequisition">
            @Html.HiddenFor(model => model.JobDesc, new { @id = "JobDescriptionData" })
            @Html.HiddenFor(model => model.parentId)
            @Html.HiddenFor(model => model.Id, new { @id = "VCSIdRequisition" })
            <div class="basic-form" style="margin-right: 40px;">
                <div class="form-group row">
                    <div class="col-sm-6">
                        @Html.TextBoxFor(model => model.SeatingName, new { @Placeholder = "Seating Name", @id = "SeatingNameRequisition", @class = "form-control input-rounded required " })
                    </div>
                    <div class="col-sm-6">
                        <select id="SuperiorRequisition" name="Superior" class="form-control input-rounded requiredselect"><option value="-1">--Select Superior--</option></select>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-6">
                        @Html.DropDownListFor(x => x.EmploymentStatus, new List<SelectListItem>
                         {
                              new SelectListItem() {Text = "--Select Job type--", Value=""},
                              new SelectListItem() {Text = "FT", Value="FT"},
                              new SelectListItem() {Text = "PT", Value="PT"},
                              new SelectListItem() {Text = "TEMP", Value="TEMP"}
                         }, new { @class = "form-control input-rounded requiredselect", @id = "EmploymentStatus" })
                    </div>
                    <div class="col-sm-6">
                        @Html.DropDownListFor(x => x.EmploymentClassification, new List<SelectListItem>
                         {
                              new SelectListItem() {Text = "--Employee type--", Value=""},
                              new SelectListItem() {Text = "EXEMPT", Value="Y"},
                              new SelectListItem() {Text = "NON-EXEMPT", Value="N"}
                         }, new { @class = "form-control input-rounded requiredselect", @id = "EmploymentClassification" })
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-6">
                        <select id="DepartmentRequisition" name="Department" class="form-control input-rounded requiredselect"><option value="-1">--Select Superior--</option></select>
                    </div>
                    <div class="col-sm-6">
                        @Html.TextBoxFor(model => model.RateOfPay, new { @Placeholder = "Rate Of Pay", @id = "RateOfPay", @class = "form-control input-rounded required " })
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-11">
                        @Html.TextBoxFor(model => model.JobDescription, new { @Placeholder = "Job Description", @id = "JobDescriptionRequistion", @class = "form-control input-rounded required " })
                    </div>
                    <a class="addrows col-sm-1"><i class="fa fa-plus-circle fa-2x addColorPlusMinus" style="cursor:pointer;" aria-hidden="true"></i></a>
                </div>
                <span id="routeDivRequisition">
                </span>
                <div class="form-group row">
                    @Html.TextAreaFor(model => model.RolesAndResponsibility, new { rows = "18", style = "width:721px;", placeholder = Html.DisplayNameFor(model => model.RolesAndResponsibility), @id = "RolesAndResponsibilityRequisition", @class = "form-control required textarea-editor" })
                </div>
            </div>
        </form>
    </div>
</div>

<script src="~/Scripts/NewAdminJS/CustomizeJSForVSC.js"></script>
@*<script type="text/javascript" src="//tinymce.cachefly.net/4.0/tinymce.min.js"></script>*@
<script>
    //$('#RolesAndResponsibilityRequisition').wysihtml5();
    //tinymce.init({
    //    selector: '#RolesAndResponsibilityRequisition', width: 730, height: 300, setup: function (editor) {
    //        editor.on('change', function () {
    //            tinymce.triggerSave();
    //        })
    //    }
    //});
   
</script>
