@model IEnumerable<WorkOrderEMS.Models.UploadedFiles>
<style>
    .top {
        border: 1px solid #bbbbdb;
        padding: 3px 0px 4px 3px;
        background-image: linear-gradient(to right, #3588CD, #fff);
    }
    .modal {
        overflow: auto !important;
    }
</style>
<link href="~/Content/NewAdminContent/CSS/FilesUICss.css" rel="stylesheet" />
<div>
    <input type="hidden" value="@ViewBag.EmployeeID" id="EmployeeIdFile" />
    <div class="col-md-12">
        <div class="devider top">
            <img src="@ViewBag.ImageUser" id="EmployeeImage" class="employeeImage" />
            <label class="marignClass">Employee ID : </label><span class="marignClass" id="EmployeeName"><label>@ViewBag.EmployeeID</label></span>
            <label class="marignClass">Name : </label><span class="marignClass" id="EmployeeDesignation"><label>@ViewBag.EmployeeName</label></span>
        </div>
        <hr class="hrHeight" />
        <div class="row">
            <div class="col-md-8"><i class="fa fa-folder-open greenFileOpen" onclick="myFunctionGreenFiles()" title="Green Files" aria-hidden="true"></i></div>
            <div class="col-md-4">
                @if (ViewBag.GreenList != null)
                {
                    @Html.DropDownList("GreenFileDDL", new SelectList(ViewBag.GreenList, "FLT_Id", "FLT_FileSubType"), "--Select File--", new { @id = "GreenFileDDL", @class = "form-control input-rounded", @onchange = "GetFileId(this)" })}
            </div>
        </div>
        <div id="openGreenFile" style="text-align:center;display:none;">
        <div class="col-md-12"  >
            @if (Model != null && Model.Count() > 0)
            {
                foreach (var item in Model)
                {
                    if (item.FileTypeName == "Green")
                    {
                        <div class=" inline">
                            <div class="devider">
                                <div class="grn-icn">
                                    <div class="int">
                                        <i class="fa fa-list fa-lg fa-lg-Custom-css " aria-hidden="true"></i>
                                    </div>                           
                                    <div class="faemail">
                                        <i class="fa fa-print printFile" fileId="@item.FileId" fileName="@item.FileName" link="@item.AttachedFileLink" @*onclick="printFile(this)"*@ title="Print" style="color:darkslateblue" aria-hidden="true"></i>
                                    </div>
                                    <div class="lock">
                                        <a href=""><i class="fa fa-eye viewFile" fileId="@item.FileId" fileName="@item.FileName" link="@item.AttachedFileLink" @*onclick="ViewFileDetails(this)"*@ style="color:brown" title="View" aria-hidden="true"></i></a>
                                    </div>
                                </div>
                            </div>
                            <label>@item.FileName</label>
                        </div>
                        
                    }
                }
            }
            else
            {
                <span>No File available</span>
            }
          </div>
          @if (Model != null && Model.Count() > 0)
          {
              foreach (var item in Model)
              {
                  if (item.FileTypeName == "Green")
                  {
                   <div class="col-md-12">
                       <iframe src="@Url.Action("GetPDF")?fileName='@item.AttachedFileName'#toolbar=0" id="openFileToView_@item.FileId" class="viewAndPrintFile" style="width:100%; height:425px;display:none;" frameborder="0"></iframe>
                   </div>
                  }
              }
          }
        </div>
        <hr />
        <div class="row">
            <div class="col-md-8"><i class="fa fa-folder-open yellowFileOpen" onclick="myFunctionYellowFiles()" title="Yellow Files" aria-hidden="true"></i></div>
            <div class="col-md-4">
                @if (ViewBag.Yellow != null)
                {
                    @Html.DropDownList("YellowFileDDL", new SelectList(ViewBag.Yellow, "FLT_Id", "FLT_FileSubType"), "--Select File--", new { @id = "GreenFileDDL", @class = "form-control input-rounded", @onchange = "GetFileId(this)" })}
            </div>
        </div>
        <div id="openYellowFile" style="text-align:center;display:none;">
        <div class="col-md-12" >
            @if (Model != null && Model.Count() > 0)
            {
                foreach (var item in Model)
                {
                    if (item.FileTypeName == "Yellow")
                    {
                        <div class=" inline">
                            <div class="devider">
                                <div class="yellowsky">
                                    <div class="int">
                                        <i class="fa fa-file-image-o fa-lg fa-lg-Custom-css " aria-hidden="true"></i>
                                    </div>
                                    <div class="faemail">
                                        <a href="@item.AttachedFileLink" class="downloadfilesyellowred"><i class="fa fa-cloud-download" title="Download" style="color:orangered" aria-hidden="true"></i></a>
                                    </div>
                                    <div class="lock">
                                        <i class="fa fa-eye viewFile" style="color:brown" fileId="@item.FileId" link="@item.AttachedFileLink" fileName="@item.FileName" title="View" aria-hidden="true"></i>
                                    </div>
                                    <div class="faemail">
                                        <a href="https://outlook.office365.com/mail/inbox"><i class="fa fa-envelope" title="E-mail" style="color:yellowgreen;margin-top: -26px;" link="@item.AttachedFileLink" aria-hidden="true"></i></a>
                                    </div>
                                </div>
                            </div>
                            <label>@item.FileName</label>
                        </div>
                    }
                }
            }
            else
            {
                <span id="YellowFileOpenClose">No File available</span>
            }
        </div>
        @if (Model != null && Model.Count() > 0)
        {
            foreach (var item in Model)
            {
                if (item.FileTypeName == "Yellow")
                {
                 <div class="col-md-12">
                     <iframe src="@Url.Action("GetPDF")?fileName='@item.AttachedFileName'#toolbar=0" id="openFileToView_@item.FileId" class="viewAndPrintFile" style="width:100%; height:425px;display:none;" frameborder="0"></iframe>
                 </div>
                }
            }
        }
        </div>
        <hr />
        <div class="row">
            <div class="col-md-8"><i class="fa fa-folder-open redFileOpen" onclick="myFunctionRedFiles()" title="Red Files" aria-hidden="true"></i></div>
            <div class="col-md-4">
                @if (ViewBag.Red != null)
                {
                    @Html.DropDownList("RedFileDDL", new SelectList(ViewBag.Red, "FLT_Id", "FLT_FileSubType"), "--Select File--", new { @id = "GreenFileDDL", @class = "form-control input-rounded", @onchange = "GetFileId(this)" })}
            </div>
        </div>
        <div id="openRedFile" style="text-align:center;display:none;">
        <div class="col-md-12" >
            @if (Model != null && Model.Count() > 0)
            {
                foreach (var item in Model)
                {
                    if (item.FileTypeName == "Red")
                    {
                        <div class=" inline">
                            <div class="devider">
                                <div class="redsky">
                                    <div class="int">
                                        <i class="fa fa-file-image-o fa-lg fa-lg-Custom-css " aria-hidden="true"></i>
                                    </div>
                                    <div class="faemail">
                                        <a href="@item.AttachedFileLink" class="downloadfilesyellowred"><i class="fa fa-cloud-download " title="Download" style="color:orangered" aria-hidden="true"></i></a>
                                    </div>
                                    <div class="lock">
                                        <i class="fa fa-eye viewFile" style="color:brown" fileId="@item.FileId" link="@item.AttachedFileLink" fileName="@item.FileName" title="View" aria-hidden="true"></i>
                                    </div>
                                    <div class="faemail">
                                        <a href="https://outlook.office365.com/mail/inbox"><i class="fa fa-envelope" title="E-mail" style="color:yellowgreen;margin-top: -26px;" link="@item.AttachedFileLink" aria-hidden="true"></i></a>
                                    </div>
                                </div>
                            </div>
                            <label>@item.FileName</label>
                        </div>
                    }
                }
            }
            else
            {
                <span>No file available</span>
            }
        </div>
        @if (Model != null && Model.Count() > 0)
        {
            foreach (var item in Model)
            {
                if (item.FileTypeName == "Red")
                {
                 <div class="col-md-12">
                     <iframe src="@Url.Action("GetPDF")?fileName='@item.AttachedFileName'#toolbar=0" id="openFileToView_@item.FileId" class="viewAndPrintFile" style="width:100%; height:425px;display:none;" frameborder="0"></iframe>
                 </div>
                }
            }
        }
        </div>
        <hr />
        <div class="col-md-12"><i class="fa fa-folder-open blueFileOpen" onclick="myFunctionBlueFiles()" title="Blue Files" aria-hidden="true"></i></div>
        <div class="col-md-12" id="openBlueFile" style="text-align:center;display:none;">
            <span>No file available</span>
            @*<div class=" inline">
                <div class="devider">
                    <div class="bluesky">
                        <div class="int">
                            <i class="fa fa-file-image-o fa-lg fa-lg-Custom-css " aria-hidden="true"></i>
                        </div>
                    </div>
                </div>
                <label>Photo Release Form</label>
            </div>
            <div class="inline">
                <div class="devider">
                    <div class="bluesky">
                        <div class="int">
                            <i class="fa fa-exclamation fa-lg fa-lg-Custom-css " aria-hidden="true"></i>
                        </div>
                    </div>
                </div>
                <label>Confidentiality Agreement</label>
            </div>
            <div class="inline" onclick="OpenForm('educationVerificationForm')">
                <div class="devider">
                    <div class="bluesky">
                        <div class="int">
                            <i class="fa fa-graduation-cap fa-lg fa-lg-Custom-css " aria-hidden="true"></i>
                        </div>
                    </div>
                </div>
                <label>Education Verification Form</label>
            </div>
            <div class="inline">
                <div class="devider">
                    <div class="bluesky">
                        <div class="int">
                            <i class="fa fa-credit-card fa-lg fa-lg-Custom-css " aria-hidden="true"></i>
                        </div>
                    </div>
                </div>
                <label>Creditcard Authorization Form</label>
            </div>
            <div class="inline">
                <div class="bluesky">
                    <div class="int">
                        <i class="fa fa-users fa-lg fa-lg-Custom-css " aria-hidden="true"></i>
                    </div>
                </div>
                <label>Previous Employment</label>
            </div>*@
        </div>
    </div>
<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-hidden="true" id="myModalViewPDFFiles">
    <div class="modal-dialog modal-lg" style="width: 651px;">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ChangeTitle">View File</h5>
                <button type="button" class="close" data-dismiss="modal">
                    <span>&times;</span>
                </button>
            </div>
            <div class="modal-body" style="margin-left: 2px;">
                <div id="ViewPDFInIframe">
                   
                </div>
            </div>
            <div class="modal-footer" style="background: white;">                
                <button type="button" class="btn btn-primary" style="border-radius:100px;" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<div id="dialog" style="display: none">
</div>
<script>
    var id;

    $(document).ready(function () {
        $("#myfileUpload").change(function () {
            debugger
            //$("#dvAccountPreview").html("");
            var allowedExtensions = /(\.pdf|\.doc|\.docx|\.txt)$/i;
            //$("#addFileName").html();
            var size = this.files[0].size;
            $("#addFileName").html(this.files[0].name);
            if (!allowedExtensions.exec($(this).val().toLowerCase())) {
                alert("Invalid file type");
                $(this).val("");
                return false;
            }
            else if (size >= 4194304) {
                alert("Max file size 4 mb.");
                $(this).val("");
                return false;
            }
        })

        $(".viewFile").click(function (e) {
            $_this = this;
            $(".viewAndPrintFile").hide();
            $("#ViewPDFInIframe").html("");
            var fileLink = $($_this).attr('link');
            var fileName = $($_this).attr('fileName');
            var fileId = $($_this).attr("fileId");
            $("#openFileToView_" + fileId).show();
            e.stopPropagation();
            e.preventDefault();          
        });
        $(".printFile").click(function (e) {
            $("#ViewPDFInIframe").html("");
            var $_this = this;
            var fileId = $($_this).attr("fileId");          
            var frm = document.getElementById("openFileToView_"+fileId).contentWindow;
            e.stopPropagation();
            e.preventDefault();
            frm.focus();// focus on contentWindow is needed on some ie versions
            frm.print();
            e.stopPropagation();
            e.preventDefault();
        });
        $(".downloadfilesyellowred").click(function (e) {
            var getlink = $(this).attr("href");
            e.preventDefault();  //stop the browser from following
            window.location.href = getlink;
        });
    })

    function myFunctionGreenFiles() {
        debugger
        $(".viewAndPrintFile").hide();
      var x = document.getElementById("openGreenFile");
  if (x.style.display === "none") {
    x.style.display = "block";
     } else {
    x.style.display = "none";
   }
    }
    function myFunctionYellowFiles() {
        @*debugger
        var model = '@Model';
        if (model != null && model.length > 0) {
            for(var i=1;i<= model.length;i++){
                var yellow = model[i].FileTypeName;
                if (yellow != "Yellow") {
                    $("#YellowFileOpenClose").show();
                }
                else {
                    $("#YellowFileOpenClose").hide();
                }
            }
        }*@
        
        $(".viewAndPrintFile").hide();
        var x = document.getElementById("openYellowFile");
        if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
    }
    function myFunctionRedFiles() {
        debugger
        $(".viewAndPrintFile").hide();
        var x = document.getElementById("openRedFile");
        if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
    }
    function myFunctionBlueFiles() {
        debugger
        var x = document.getElementById("openBlueFile");
        if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
    }
</script>