@model WorkOrderEMS.Data.EntityModel.spGetInterviewQuestion_Result1
<script>
		if ('@Model.INQ_QuestionType' == 'LastQuestion') {
			$("#qus_view_btn").hide();
			$("#finishbtn").show();
		}
</script>
@if (Model != null)
{
	<div class="col-md-12 question">
		<span>Question @((int)Session["eTrac_questions_number"]+1):</span>
		<span>@Model.INQ_Question</span>
	</div>
	<div class="col-md-12 qusOpt">
		<input type="hidden" id="selectAns" />
		<input type="hidden" id="q_id" value="@Model.INQ_Id" />
		<input type="hidden" value="@((int)Session["eTrac_questions_number"]+1)" id="hdn_qusnum" />
		@if (Model.INQ_QuestionType == "LastQuestion")
		{
			<button class="btn btn-default btnyes" onclick="RecordYes(true);">Yes</button>
			<button class="btn btn-default btnNo" onclick="RecordNo(true);">No</button>
		}
		else
		{
			<button class="btn btn-default btnyes" onclick="RecordYes(false);">Yes</button>
			<button class="btn btn-default btnNo" onclick="RecordNo(false);">No</button>
		}
	</div>
}
else
{
	<h1>No Question Aligned</h1>
}