@model IEnumerable<WorkOrderEMS.Models.UserListViewEmployeeManagementModel>
    @{ 
        string EmpIdFirst = @ViewBag.UserIdFirstTime;
    }
<link href="~/Content/NewAdminContent/CSS/NewTreeUserView.css" rel="stylesheet" />
<div class="pg-orgchart">
    <div class="org-chart">
        <ul>
            @if (Model.Count() > 0 && Model != null)
            {
                var i = 0;
            <li>                
                @foreach (var item in Model)
                {
                    if (i == 0)
                    {
                        <div class="user firstRoot" id="rootChart_@item.VSTId" style="cursor:pointer;">
                           <img src="@item.ProfilePhoto" class="img-responsive" />
                           <div class="name">@item.EmployeeName</div>
                           <div class="role">@item.JobTitle</div>
                           @*<a class="manager" href="#">Mike Dinardo</a>*@
                        </div>
                        i++;
                    }
                }                
                </li>
            }
        </ul>
    </div>
</div>

<script>
    $(document).ready(function(){
        var base_url = window.location.origin;
        var EmpId = '@ViewBag.UserIdFirstTime';
    $.ajax({
        url: base_url + '/EPeople/GetUserTreeViewListById?Id=' + EmpId,
        type: 'POST',
        contentType: "application/json",
        success: function (result) {
            debugger
              var addnextChart = '<ul>';
              for (var i = 0; i < result.length; i++) {
                  addnextChart += '<li> <div class="user nextRoot" onclick="GetNextTree(this)" userId="' + result[i].UserId + '" id="NextLevel_' + result[i].EmployeeId + '" style="cursor:pointer;"><img src="' + result[i].ProfilePhoto + '" class="img-responsive" /><div class="name">' + result[i].EmployeeName + '</div><div class="role">' + result[i].JobTitle + '</div></div></li>';
              }
                addnextChart += '</ul>';
                $(".firstRoot").after(addnextChart);
                
            },
            error: function (er) {
        }
    });
        // $(".nextRoot").click(function () {
        //     debugger
        //     $_this = this;
        //     var getUserId = $($_this).attr("id");
        //     if (getUserId != null) {
        //    $.ajax({
        //        url: base_url + '/EPeople/GetUserTreeViewListById?Id=' + getUserId,
        //        type: 'POST',
        //        contentType: "application/json",
        //        success: function (result) {
        //            debugger
        //            var addnextChart = '<ul>';
        //            for (var i = 0; i < result.length; i++) {

        //                    addnextChart += '<li> <div class="user nextRoot" id="NextLevel_' + result[i].EmployeeId + '" style="cursor:pointer;"><img src="' + result[i].ProfilePhoto + '" class="img-responsive" /><div class="name">' + result[i].EmployeeName + '</div><div class="role">' + result[i].JobTitle + '</div></div></li>';
        //            }
        //            addnextChart += '</ul>';
        //            $(getUserId).after(addnextChart);
        //        },
        //        error: function (er) {
        //        }
        //    })
        //}
        // })
    });
    function GetNextTree($_this){
        debugger
        //$_this = this;
        var getUserId = $($_this).attr("userId");
        var getdivId = $($_this).attr("id");
        var getNextElementData = $("#" + getdivId).next().html();
        if (getNextElementData == "" || getNextElementData == null) {
            if (getUserId != null) {
                $.ajax({
                    url: base_url + '/EPeople/GetUserTreeViewListById?Id=' + getUserId,
                    type: 'POST',
                    contentType: "application/json",
                    success: function (result) {
                        debugger
                        if (result.length > 0) {
                            var addnextChart = '<ul>';
                            for (var i = 0; i < result.length; i++) {

                                addnextChart += '<li> <div class="user nextRoot" id="NextLevel_' + result[i].EmployeeId + '" style="cursor:pointer;"><img src="' + result[i].ProfilePhoto + '" class="img-responsive" /><div class="name">' + result[i].EmployeeName + '</div><div class="role">' + result[i].JobTitle + '</div></div></li>';
                            }
                            addnextChart += '</ul>';
                            $("#" + getdivId).after(addnextChart);
                            $("#myModalForViewUserChart").modal('show');
                        }
                    },
                    error: function (er) {
                    }
                })
            }
        }
        else {
            $("#" + getdivId).next().html("");
        }
    }
</script>