@model WorkOrderEMS.Models.BillListApproveModel
@{
    ViewBag.Title = "Pre Bill List";
    //Layout = "~/Views/Shared/_ManagerLayout.cshtml";
    Layout = "~/Views/Shared/_NewAdminLayout.cshtml";
    long locationId = 0;
    long userType = 0;  
    WorkOrderEMS.Models.eTracLoginModel ObjLogin = (WorkOrderEMS.Models.eTracLoginModel)Session["eTrac"];

    if (ObjLogin != null)
    {
        locationId = ObjLogin.LocationID;
        userType = ObjLogin.UserRoleId;
    }
}
@section scripts{
    <script type="text/javascript">
    var $_locationId = '@locationId';
    var $_userTypeId = '@userType';
    </script>
    @*<script src="~/GridListing/JqGridScript/BillList/BillList.js"></script>*@
    <script src="~/GridListing/JqGridScript/BillList/PreBillList.js"></script>
    @*<script type="text/javascript">
            $(window).bind('resize', function () {
                var width = $('#jqGrid_containerPreBill').width();
                $('#tbl_PreBillList').setGridWidth(width);
            });
        </script>*@
}
<link href="~/Content/NewAdminContent/CSS/custom.css" rel="stylesheet" />



<div class="content-body">
    <div class="container-fluid">
        <div class="row page-titles mx-0 aos-init aos-animate" data-aos="fade-up">
            <div class="col-sm-6 p-md-0">
                <div class="welcome-text">
                    <h4>Expenses</h4>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="javascript:void(0)">Bills</a></li>
                        <li class="breadcrumb-item active"><a href="javascript:void(0)">Bills List</a></li>
                    </ol>
                </div>
            </div>
        </div>
        <div class="row">

            <div class="col-lg-6">
                <div class="card aos-init aos-animate mb-0" data-aos="fade-up">
                    <div class="card-header card-custom-padding border-radius-card-header">
                        <a href="@Url.Action("ListPreBillView", "Bill")">
                            <h4 class="card-title">Bills</h4>
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="card aos-init aos-animate mb-0" data-aos="fade-up">
                    <div class="card-header card-custom-padding border-radius-card-header">
                        <a href="@Url.Action("ViewMiscellaneous", "Miscellaneous")" data-oldDash="Yes">
                            <h4 class="card-title">Miscellaneous Expensive</h4>
                        </a>
                    </div>
                </div>
            </div>

        </div>
        <br />
        <div class="row">
            <div class="col-lg-12">
                <div class="card aos-init" data-aos="fade-up">
                   
                        <div class="card-header headerSize">
                            <div class="basic-form">
                                
                                    <input id="searchPreBilltext" name="SearchText" type="text" class="form-control input-rounded" placeholder="Bill No">
                               
                            </div>
                            
                                <div class="onoffswitch2 float-right">
                                    <input type="checkbox" name="onoffswitch2" class="onoffswitch2-checkbox" id="ViewAllLocation"><label for="ViewAllLocation" class="onoffswitch2-label"><span class="onoffswitch2-inner"></span><span class="onoffswitch2-switch"></span></label>
                                </div>
                           

                        </div>
                   
                    <div class="card-body">
                        <div id="tbl_PreBillList" class="jsgrid">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal bs-example-modal-lg fade preview" id="myModalForPreBillData" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="myModalLabel">Bill Details</h5>
                <button type="button" class="close" data-dismiss="modal">
                    <span>×</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="divDetailPreview">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>Bill Id</label>
                                <div id="lblBillId" class="form-control-static"></div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>Vendor Name</label>
                                <div id="lblVendorName" class="form-control-static"></div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>Vendor Type</label>
                                <div id="lblVendorType" class="form-control-static"></div>
                            </div>
                        </div>
                    
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>Bill Date</label>
                                <div id="lblBillDate" class="form-control-static"></div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>Bill Amount</label>
                                <div id="lblBillAmount" class="form-control-static"></div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>Status</label>
                                <div id="lblStatus" class="form-control-static"></div>
                            </div>
                        </div>
                    
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>Comment</label>
                                <div id="lblComment" class="form-control-static"></div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group" id="divWoimg">
                                <label id="labelBillImage">Bill Image</label>
                                <div id="lblBillImage">
                                    <canvas></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <table id="Billrecords_table" class="table table-bordered table-responsive-sm">
                            <tr style="background-color:#0792bc; color:#fff;">
                                <th style="width:100px">Bill Facility Id</th>
                                <th style="width:150px">Cost Code</th>
                                <th style="width:150px">Facility Type</th>
                                <th style="width:40px">Description</th>
                                <th style="width:150px">Unit Price</th>
                                <th style="width:40px">Tax</th>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success btn-rounded" id="ApproveBill" onclick="ApproveBill();">Approve</button>
                <button type="button" class="btn btn-danger btn-rounded" id="RejectBill">Reject</button>
                <button data-dismiss="modal" class="btn btn-secondary btn-rounded" id="btnCancelqwe">Close</button>
            </div>
        </div>
    </div>
</div>


<div id="myModelRejectBill" class="modal fade bs-example-modal-lg modal-z-index ">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="myModalLabel">Reject Bill</h5>
                <button type="button" class="close" data-dismiss="modal">
                    <span>×</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form">
                    <div class="row">
                        <div class="form-group">
                            @Html.Label("Comment", htmlAttributes: new { @class = "control-label col-lg-2 star" })
                            <div class="col-lg-7 col-md-8 col-sm-8 col-xs-12">
                                @Html.TextBoxFor(model => model.Comment, new { @class = "form-control", @id = "CommentBill", @placeholder = "Comment", @style = "border-radios:0px;" })
                                @Html.ValidationMessageFor(model => model.Comment, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-warning bluebutton" style="border-radius:25px;width:90px;" onclick="RejectBillAfterCommentBill();" data-dismiss="modal">Ok</button>
            </div>
        </div>
    </div>
</div>
<div class="disabledLayout" id="backgroundDiv" style="display:none"></div>@*For making background black for various 2nd or 3rd popups*@
<script>
    $("#RejectBill").on("click", function (event) {
        //$("#myModalForPreBillData").addClass("disabledLayout");
        //$("#myModalForPreBillData").removeClass("disabled");
        $("#myModelRejectBill").modal('show');
        $("#backgroundDiv").css("display", "block");
        //$("#backgroundDiv").show();
    });
</script>
<script src="~/Scripts/Search/Searching.js"></script>