@model WorkOrderEMS.Models.OfferModel
<style>
    .p1 {
        font-size: 20px;
        font-family: Times New Roman;
        margin: 73px 149px 0px 80px;
        text-align: justify;
    }

    h3 {
        margin: 117px 0px 0px 50px;
    }

    .text-line {
        background-color: transparent;
        outline: none;
        outline-style: none;
        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom: solid #000 1px;
    }

    .row {
        display: flex;
    }

    p {
        margin-left: 107px;
        color: #000;
    }

    .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    input[type="checkbox"]:after {
        line-height: 1.5em !important;
        content: '' !important;
        display: block !important;
        margin-top: -3px !important;
        margin-left: -3px !important;
        border: 1px solid transparent !important;
        border-radius: 0px !important;
        line-height: 1.3 !important;
        background: none !important;
    }
    .WidthTextBox{
        width:10%;
    }
</style>
<link href="@Url.Content("~/Content/datepicker.css")" rel="stylesheet" />
<div class="pageDiv p1">
    <div class="row" style="margin-left: 308px;">
        <div class="form-group row">
            <div class="col-sm-3">
                <img src="~/Images/image-form.jpg" alt="background image" />
            </div>
            <div class="col-sm-3"></div>
            <div class="col-sm-6">
               <span style="color:#2aa9c5;">Elite Parking Services of America</span><br /><hr />
                                                                         <span style="color:#2aa9c5">
                                                                             “Breathe Easy, Your Car is Safe with Us.”
                                                                             76 South Laura St. Suite 1702
                                                                             Jacksonville, Florida
                                                                             32202
                                                                             Phone: 904-297-4437
                                                                             Fax: 904-352-1831<br />
                                                                             www.eliteparkingofamerica.com

                                                                         </span>
            </div>
        </div>
    </div>
    <div style="text-align: justify;margin-left: 308px;">
        <p class="CurrentDate">
            @DateTime.Now.Date.ToString("dd/MM/yyyy");
            @*@Html.TextBoxFor(model => model.CurrentDate, new { @class = "text-line CurrentDate" })*@
        </p>
        <p>
            @Model.FirstName
            @*@Html.TextBoxFor(model => model.EmployeeName, new { @class = "text-line" })*@
        </p>
        <p>
            @Model.Email
            @*@Html.TextBoxFor(model => model.PersonalEmail, new { @class = "text-line" })*@
        </p>
        <p>
            @Model.PhoneNumber
            @*@Html.TextBoxFor(model => model.PhoneNumber, new { @class = "text-line" })*@
        </p>

        <form id="SendOfferData">
            @*@using (Html.BeginForm("_DirectDepositeForm", "Guest", FormMethod.Post, new { id = "depositeForm" }))
        {*@
            @Html.HiddenFor(model => model.ApplicantId)
            <p style="font-weight:bold;">Dear @Model.FirstName </p>
            <p>
                We’re pleased to extend this offer of employment to join Elite Parking Services of America (Elite) as  <label>@Model.HMPosition</label>
                at our  <b>@Model.LocationName</b>&nbsp;In this position, you will report directly to the &nbsp;<b>@Model.Title</b>
            </p>
            <p>Tare targeting your start date for @Html.TextBoxFor(model => model.StartDate, new { @class = "text-line WidthTextBox", @id= "StartDateOffer" }), or sooner depending upon the length of time you will need.</p>
            <p>
                You will receive a base salary of @if (Model.IsExempt == Convert.ToString(WorkOrderEMS.Helper.ActiveStatus.N)) { @Html.TextBoxFor(model => model.DesireSalaryWages, new { @class = "text-line WidthTextBox" }) <span>biweekly</span> } else { @Html.TextBoxFor(model => model.DesireSalaryWages, new { @class = "text-line WidthTextBox" }) <span>on an annual</span>} basis plus bonus potential base on company bonus structure for your position. In addition,
                you will also participate in our comprehensive benefits plan following your 90‐day orientation period which includes: medical, vision, prescription drug and dental coverage; free long term and short‐term disability insurance; life and AD&D insurance coverage; 401k plan; six paid holidays; and accrual of 2 weeks of vacation time and 1 week of sick time over the first year of your employment.                               
            </p>
            <p>Accrual begins as of your first day of employment and can begin to be taken following your ninety (90) day orientation period.</p>
            <p>
                Also enclosed is an Elite Confidentiality Agreement which all team members are required to sign.
                In addition, by executing your acceptance of this employment offer and, in consideration of your employment with Elite,
                you agree that during the term of your employment, except as necessary to carry on the business of Elite, and after the expiration of your employment,
                you shall not directly or indirectly, use or disclose to any person, firm or corporation any business information, customer lists, business secrets or
                any other information not generally known in the industry concerning business or policies of the company.
            </p>
            <p>
                <b>@Model.FirstName</b>, we’re excited about having you join the Elite team. We’re confident you will make a
                significant contribution to the growth and success of the company and look forward to a long and mutually rewarding relationship.
                At the same time, we are required to remind you that our offer should not be construed as a guarantee of employment for any specific duration.
                Rather, our employment relationship and any benefits are at‐will. This means that just as you can terminate your employment at any time and for any reason, Elite retains a similar right.
            </p>
            <p>
                Please signify your acceptance of the terms outlined in this offer in the space below and return the signed copy to me by @Html.TextBoxFor(model => model.DueDate, new { @class = "text-line WidthTextBox", @id= "DueDate" }). If you have any questions, please feel free to call me at 904-297-4437.
            </p>
            <br />
            <p>Sencerely </p>
            <p>Jill Scott,</p>
            <p>Manager of People and Culture</p>
            <br />
            <br />
            <p>Accepted:</p>
            <div class="form-group row">
                <div class="col-sm-6">
                    <p>@Html.TextBoxFor(model => model.FirstName, new { @class = "text-line" })</p>
                    <p>First and Last Name of Candidate</p>
                </div>
                <div class="col-sm-6">
                    <p>@Html.TextBoxFor(model => model.CurrentDate, new { @class = "text-line CurrentDate"})</p>
                    <p>Date</p>
                </div>
            </div>
                    <div>
                        <input type="submit" class="btn btn-success pull-right" style="margin-left: 10px;" value="Send Offer" id="SendOffer" />
                        <input type="submit" class="btn btn-primary pull-right" value="Cancel Offer" id="CancelOffer" />
                    </div>
                    @*}*@
        </form>
    </div>
</div>
@Html.ValidationSummary()
<script src="@Url.Content("~/Scripts/bootstrap-datepicker.js")"></script>
<script>
    $(document).ready(function () {
        $('#StartDateOffer, #DueDate').datepicker({
            format: "yyyy/mm/dd",
        });
        $(".CurrentDate").datepicker("setDate", new Date());
    });
    $("#SendOffer").click(function () {
        debugger
        var dataObject = $("#SendOfferData").serialize();
        $.ajax({
            type: "POST",
            url: base_url + '/NewAdmin/SendOfferToApplicant', //'@Url.Action("SaveVCS", "AdminDashboard", new { area = "AdminSection" })',
            data: dataObject,
            beforeSend: function () {
                new fn_showMaskloader('Please wait...');
            },
            success: function (Data) {
                debugger
                if (Data == true) {
                    toastr.success("Offer send to applicant");
                }
                else {
                    toastr.success("Offer not send to applicant please send it again..!");
                }
                $("#ModalForOfferLtter").modal('hide');
            },
            error: function (err) {
            },
            complete: function () {
                fn_hideMaskloader();
            }
        });
    });
</script>