@model WorkOrderEMS.Models.NewAdminModel.TCAPIP.EmployeeDetailsModel

@{
    Layout = null;
}

<style>
    .SetAssetScale {
        transform: scale(1.3);
    }
</style>

<div class="content-body">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12" style="padding-right: 0px;padding-left: 2px;margin:2px 0 0 0;">
                <div class="card" data-aos="fade-up">
                    <div style="height: 45px; background: #0aa0cd;">
                        <div class="form-group row" style="margin-left:10px;margin-top:6px;">
                            <h3 style="color:#f9fbfa;">Assets Information</h3>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row" style="border: 1px solid #0000001c;padding-bottom: 0.3%;padding-top: 0.3%;background: linear-gradient(to right, #b5eaea -29%, #ffffff 100%);border-radius:4px;">
                            <div class="col-md-3">
                                <div style="display:inline-block">
                                    <img src="@Model.employee_photo" alt="EmployeePhoto" style="width: 75px;height: 75px;border-radius: 50px;" />
                                </div>
                                <div style="display:inline-block;margin-left:5%;">
                                    <span style="font-size: 14px; font-weight: 600; ">@Model.employee_name</span><br />
                                    <span style="font-size:12px">@Model.OperationHead</span>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div><span style="font-size: 14px;font-weight: 600;">@Model.empid</span></div>
                            </div>
                            
                            <div class="col-md-7">

                            </div>
                        </div>
                        <form id="testing">
                            <div class="row" style="margin-top:2%;">
                                <div class="col-md-3">
                                    <span style="font-size:15px;font-weight: 600;">Asset Name</span>
                                </div>
                                <div class="col-md-3">
                                    <span style="font-size:15px;font-weight: 600;">Asset Details</span>
                                </div>
                                <div class="col-md-6">
                                </div>

                            </div>
                            @foreach (var i in Model.EmployeeAssetDetails)
                            {
                                <div class="row" style="margin-top: 2%; padding-bottom: 1%;">
                                    <div class="col-md-3">
                                        <span style="font-size:14px;">@i.AssetName</span>
                                    </div>
                                    <div class="col-md-3">
                                        <span style="font-size:14px;">@i.AssetDetails</span>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="row">
                                            <div class="col-md-3 ParentDivReturn ">
                                                
                                                @Html.RadioButton( i.AssetName, "R", new { @class = "SetAssetScale hideReturnDateReturn" })
                                                <span style="font-size:14px; margin-left:5%;">Return</span>
                                            </div>
                                            <div class="col-md-3 ParentDivLost">
                                                @Html.RadioButton( i.AssetName, "L", new { @class = "SetAssetScale hideReturnDateLost" })
                                                <span style="font-size:14px; margin-left:5%;">Lost</span>
                                            </div>
                                            <div class="col-md-3 ParentDivWillReturn">
                                                @Html.RadioButton( i.AssetName, "P", new { @class = "SetAssetScale WillReturn" })
                                                <span style="font-size:14px; margin-left:5%;">Will Return</span>
                                            </div>
                                            <div class="col-md-3" style="display:none;">

                                                @Html.TextBoxFor(x => i.ReturnDate, null, new { @class = "addReturnDate", @style = "border-radius: 7px;height: 25px;border: 1px solid #eff0f559;font-size: 14px;text-align: center;background-color: #ed14961c;width: 107px;color: #a1a8c3;" })
                                                @Html.HiddenFor(x => i.AssetRowId)
                                            </div>
                                        </div>

                                    </div>
                                  

                                </div>
                            }


                        </form>
                        <div class="row" style="margin-top: 2%;">
                            <div class="col-md-12 text-center">
                                <button class="btn btn-success" id="AssetStatusSave" style="width: 112px;">Save</button>
                            </div>
                           
                        </div>

                        <div id="ChartContainerEmployeeList" class="card" data-aos="fade-up"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@*<script src="~/Scripts/Termination/Assetfile.js"></script>*@
<script>
   
    
  
    $(".WillReturn").click(function () {
        debugger
        var $_this = this;
        $($_this).parents('.ParentDivWillReturn').next('div').show();
        $(".addReturnDate").datepicker("setDate", new Date());
        var CurrentDate = new Date();
        $($_this).parents('.ParentDivWillReturn').next('div').children('.addReturnDate').datepicker("setDate", new Date());
    });
    $(".hideReturnDateReturn").click(function () {
       
        var $_thisis = this;
        $($_thisis).parents('.ParentDivReturn').next('div').next('div').next('div').hide();
    });

     $(".hideReturnDateLost").click(function () {
        
        var $_thisis = this;
        $($_thisis).parents('.ParentDivLost').next('div').next('div').hide();
     });
    
    $("#AssetStatusSave").click(function () {
        debugger
        var ReturnStatus = $("#testing").serializeArray();
        var arrtest = [];
        var ArrayLost = [];

        for (var i = 0; i < ReturnStatus.length; i++)
        {
            
            if (i % 3 == 0)
            {
                arrtest.push({ "AssetStatus": null, "ReturnDate": null, "AssetRowId": null });
                for (var j = i; j < i + 3; j++)
                {
                    var icount = i;
                    var count = 0;
                    var countIndex = arrtest.length - 1;
                        if (j == icount) {
                            arrtest[countIndex].AssetStatus = ReturnStatus[j].value;
                        }
                        else if (j == (icount + 1)) {
                            arrtest[countIndex].ReturnDate = ReturnStatus[j].value;
                        }
                        else if (j == (icount + 2)) {
                            arrtest[countIndex].AssetRowId = ReturnStatus[j].value;
                        }
                    
                   
                    

                }
            }
            
        }
     
        debugger
        for (a = 0; a < arrtest.length; a++) {
            
            if (arrtest[a].AssetStatus == "L") {
                ArrayLost.push({})
            }
        }
        

         $.ajax({
              type: "POST",
             url: "/TerminationDetaills/AssetReturnDetails",  
             data: {obj:arrtest,EmpId:"@Model.empid"},
             success: function (ResultData) {
              
               }
        
         });
       
 });


</script>


